/*$container-desktop: (870px + $grid-gutter-width);*/
/*$container-md: $container-desktop;*/
/*$container-lg: $container-desktop;*/
/*
 * Datepicker element
 */
.datepicker.dropdown-menu {
  width: 250px;
  height: 270px; }
  .datepicker.dropdown-menu button {
    outline: none;
    border: 0px; }
  .datepicker.dropdown-menu tbody {
    height: 180px; }
  .datepicker.dropdown-menu tbody button {
    padding: 6px; }
  .datepicker.dropdown-menu.datepicker-mode-1 tbody button, .datepicker.dropdown-menu.datepicker-mode-2 tbody button {
    height: 65px; }

@-ms-keyframes ld {
  0% {
    transform: rotate(0deg); }
  50% {
    transform: rotate(180deg); }
  100% {
    transform: rotate(360deg); } }
@-webkit-keyframes ld {
  0% {
    transform: rotate(0deg); }
  50% {
    transform: rotate(180deg); }
  100% {
    transform: rotate(360deg); } }
@-moz-keyframes ld {
  0% {
    transform: rotate(0deg); }
  50% {
    transform: rotate(180deg); }
  100% {
    transform: rotate(360deg); } }
@-o-keyframes ld {
  0% {
    transform: rotate(0deg); }
  50% {
    transform: rotate(180deg); }
  100% {
    transform: rotate(360deg); } }
@keyframes ld {
  0% {
    transform: rotate(0deg); }
  50% {
    transform: rotate(180deg); }
  100% {
    transform: rotate(360deg); } }
.m-progress {
  top: 0;
  position: relative;
  opacity: .8;
  color: transparent; }
  .m-progress:before {
    content: '';
    width: 18px;
    height: 18px;
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-animation: ld 1s linear infinite;
    -moz-animation: ld 1s linear infinite;
    -o-animation: ld 1s linear infinite;
    animation: ld 1s linear infinite;
    color: #333333;
    background: url(../img/progress_black.svg) no-repeat center center transparent; }
  .m-progress.btn-default:before {
    margin-top: -9px;
    margin-left: -7px; }
  .m-progress.btn-primary:before {
    color: #fff;
    margin-top: -9px;
    margin-left: -7px;
    background: url(../img/progress_white.svg) no-repeat center center transparent; }
  .m-progress.progress-inline:before {
    margin-top: -7px;
    margin-left: -7px; }

.m-progress:hover,
.m-progress:active,
.m-progress:focus {
  cursor: default;
  color: transparent;
  outline: none !important;
  box-shadow: none; }

.text-right.progress-inline:before {
  top: 10px;
  left: 85%; }

.b-basicinfo {
  padding-left: 0;
  padding-right: 23px; }

.checkbox--notop {
  margin-left: 5px; }

.checkbox--notop + .checkbox--notop {
  margin-top: 0; }

.b-allchecker {
  min-height: 45px; }

.b-buttons {
  margin-top: 30px; }

.table tr:hover .b-delete-icon {
  display: inline;
  visibility: visible; }

.checkbox__margined {
  margin: 5px 5px 0px 15px !important; }
  @media (min-width: 481px) {
    .checkbox__margined {
      height: 15px !important; } }

.checkbox-caption-left {
  line-height: 39px;
  padding: 0 5px; }

@media (max-width: 480px) {
  .hidden-xs-inline {
    display: none !important; } }

.middle-ineditable {
  line-height: 40px; }

@media (max-width: 768px) {
  .summary-table {
    width: 100%; } }
.summary-table td {
  padding: 3px 8px; }

td.editable {
  border: 1px solid #ddd; }
  td.editable input {
    background-color: transparent;
    border: 0;
    box-sizing: border-box;
    outline: 0 !important;
    text-align: right;
    width: 100%; }
    td.editable input:focus {
      outline: 2px solid #6699cc !important; }

.empty-footer {
  height: 0 !important;
  padding: 0 !important;
  margin: 0 !important; }

.break-td {
  height: 35px; }

.category-head {
  background-color: #f5f5f5;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd; }

.dst-categories {
  border-top: 2px solid #ddd;
  margin-top: 24px; }
  .dst-categories p,
  .dst-categories strong {
    word-wrap: break-word; }
  .dst-categories p {
    margin-bottom: 0; }
  .dst-categories__category {
    line-height: 33px; }
  .dst-categories__subcategory {
    line-height: 30px; }
  .dst-categories__add-cat {
    margin-top: 30px; }
  .dst-categories__empty {
    height: 40px; }
    .dst-categories__empty:last-child {
      display: none; }
  .dst-categories input {
    font-size: 95% !important; }
  .dst-categories .add-control .checkbox__margined {
    position: relative;
    top: 2px; }

.b-files-table .inline-table__row {
  line-height: 2.5em; }
.b-files-table .progress {
  margin-bottom: 0;
  vertical-align: middle;
  display: inline-block;
  width: 100%; }

.icon-folder-plus {
  height: 30px;
  width: 33px;
  background: url(../img/add-folder.png) no-repeat center center transparent;
  background-size: 22px 20px; }

.icon-file-plus {
  height: 30px;
  width: 33px;
  background: url(../img/add-file.png) no-repeat center center transparent;
  background-size: 19px 20px; }

.icon-folder {
  height: 32px;
  width: 36px;
  background: url(../img/folder.png) no-repeat top center transparent;
  background-size: 30px 28px;
  vertical-align: middle; }

.icon-file {
  height: 32px;
  width: 36px;
  background: url(../img/file.png) no-repeat top center transparent;
  background-size: 24px 28px;
  vertical-align: middle; }

.sorticonwrapper {
  display: inline-block;
  width: 13px;
  height: 20px;
  vertical-align: middle; }

.sorticon {
  font-size: 9px;
  float: left; }
  .sorticon:first-child {
    margin-left: 0.7px; }

.edit-details {
  position: relative;
  content: " ";
  width: 100%; }
  .edit-details__btn {
    z-index: 10; }
    @media (min-width: 768px) {
      .edit-details__btn {
        position: absolute;
        bottom: -35px;
        left: calc(50% - 55px);
        border-radius: 0 0 4px 4px;
        border-top: none;
        border-color: #6699cc !important;
        border-width: 2px;
        height: 33px; } }
    @media (max-width: 768px) {
      .edit-details__btn {
        width: 100%;
        margin: 10px 0; } }
  @media (max-width: 768px) {
    .edit-details {
      margin-bottom: 10px; } }

.nav-xs {
  margin-bottom: 0; }
  @media (max-width: 480px) {
    .nav-xs {
      display: block !important;
      font-size: 12px; } }
  @media (min-width: 480px) {
    .nav-xs {
      min-width: 325px; } }

.add-transaction {
  display: inline-block;
  margin-top: 23px; }

.add-edit-transaction .ng-invalid {
  border-width: 2px !important;
  border-color: #a94442 !important; }

.transactions-page svg:not(:root) {
  overflow: visible !important; }

.similar__body .waste-items-list {
  margin-top: 23px; }
.similar__header {
  padding-top: 9px; }

.wide-modal .modal-dialog {
  width: auto !important;
  max-width: 860px;
  padding-left: 0;
  padding-right: 0; }

.active-row {
  background-color: #f5f5f5; }

.overflow-ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis; }

.show-ellipsed:hover .overflow-ellipsis {
  overflow: inherit;
  white-space: pre-line;
  text-overflow: clip;
  word-wrap: break-word; }

@media (min-width: 768px) {
  .text-right-sm {
    text-align: right; } }

.sticky-top {
  position: fixed;
  top: 51px;
  left: 65%;
  width: 34%;
  max-width: 364px; }

.same-update-icon {
  color: #5cb85c;
  position: absolute;
  right: -25px; }

.financial__btn {
  margin-top: 8px;
  margin-left: 5px; }

.institutions-list {
  max-height: 400px;
  overflow-y: auto; }

.custom-selector {
  position: relative; }
  .custom-selector__btn {
    background: url(../img/arrowdown.png) no-repeat right 8px center white;
    line-height: 2.0;
    padding-bottom: 3px;
    padding-right: 15px;
    position: relative;
    text-align: left;
    /*width: 200px;*/
    margin-right: 10px; }
    .custom-selector__btn:active, .custom-selector__btn:focus {
      background: url(../img/arrowdown.png) no-repeat right 8px center white;
      color: black;
      border-radius: 2px; }
  .custom-selector__options {
    border: 1px solid #AAB2BD;
    box-shadow: 0 1px 1px #AAB2BD;
    position: absolute;
    z-index: 900;
    background-color: white;
    width: 300px;
    min-width: 100%;
    padding-bottom: 5px; }
    @media (max-width: 480px) {
      .custom-selector__options {
        width: 100%; } }
  .custom-selector__option {
    cursor: pointer;
    display: block;
    padding: 5px 5px 5px 10px;
    min-height: 1.2em;
    border-bottom: 1px solid #eeeeee; }
    .custom-selector__option:hover {
      color: white;
      background-color: #6699cc; }
  .custom-selector .datepicker {
    width: 250px !important; }
  .custom-selector .add-icon > .glyphicon {
    position: absolute;
    padding: 13px 5px;
    right: 15px; }
  .custom-selector .calendar-holder {
    padding: 5px 5px 5px 10px; }
    .custom-selector .calendar-holder__item {
      padding-left: 0;
      padding-right: 5px; }
      @media (max-width: 480px) {
        .custom-selector .calendar-holder__item {
          margin-bottom: 10px; } }
    .custom-selector .calendar-holder .calendar-input {
      padding-left: 6px; }

.item-details-form .alert-danger {
  position: relative;
  top: 0;
  margin-right: 5px !important;
  margin-bottom: 10px !important; }
  @media (max-width: 768px) {
    .item-details-form .alert-danger {
      margin-right: 0 !important; } }

.inline-table__top {
  border-top: 1px solid #ddd; }
.inline-table__row {
  border-bottom: 1px solid #ddd;
  cursor: pointer;
  padding: 8px 8px 8px 0px;
  clear: both;
  float: none; }
  .inline-table__rowdiv:before {
    content: " ";
    display: table; }
  .inline-table__row:after {
    content: " ";
    display: table;
    clear: both; }
  .inline-table__row .b-delete-icon {
    display: inline-block; }
  .inline-table__row:hover {
    background-color: #f5f5f5; }
    .inline-table__row:hover .btn-add {
      display: inline-block;
      visibility: visible; }
    .inline-table__row:hover .b-delete-icon {
      display: inline-block;
      visibility: visible; }
@media (min-width: 768px) {
  .inline-table .add-control {
    margin-bottom: 0; } }
.inline-table [class*="col-"], .inline-table td {
  padding-right: 0px; }
  .inline-table [class*="col-"]:first-child, .inline-table td:first-child {
    padding-left: 0px; }

.no-margin {
  margin: 0 !important; }

.add-edit.edit,
.__edit {
  border: 2px solid #6699cc !important;
  border-radius: 4px;
  margin-bottom: -1px;
  margin-top: -1px;
  padding: 2px; }
  .add-edit.edit .checkbox__margined,
  .__edit .checkbox__margined {
    margin-top: 12px !important; }
  .add-edit.edit.drop,
  .__edit.drop {
    padding: 8px; }

@media (max-width: 480px) {
  .no-padding-left-xs {
    padding-left: 0; } }

.waste-item.active {
  background-color: #6699cc;
  color: #fff; }
  .waste-item.active:hover {
    background-color: #6699cc !important;
    color: #fff; }
.waste-item.warning {
  background-color: #f0ad4e; }
  .waste-item.warning:hover {
    background-color: #f0ad4e !important; }

.numboard__input {
  margin: 35px 0; }
.numboard__actions {
  margin: 15px 0; }
.numboard__keyboard .btn {
  border-radius: 0 !important;
  border-top: none;
  border-left: none;
  line-height: 2;
  font-size: 16px; }
  .numboard__keyboard .btn--dot {
    font-size: 18px;
    font-weight: 600;
    line-height: 0;
    padding: 17px 0 28px; }
.numboard__keyboard .btn-group .btn-group:last-child .btn {
  border-right: none; }
.numboard__keyboard .btn-group-justified:last-child .btn {
  border-bottom: none; }
.numboard__wrapper {
  padding: 10px;
  position: fixed;
  z-index: 10000;
  top: 0;
  background-color: #fff; }

.glyphicons-delete {
  background: url(../img/glyphicons-257-delete.png) no-repeat center center transparent; }

.btn-gray {
  background-color: #eeeeee;
  color: #000; }

.push-bottom {
  position: fixed;
  bottom: 12px;
  right: 0;
  left: 0; }

/*# sourceMappingURL=custom.css.map */
