// Colors
$middle-gray-color:          #ccc;
$gray-lighter-custom:        lighten($middle-gray-color, 18%);

$border-gray-color:          $middle-gray-color;
$fix-column-width:           180px;

$margin-normal: 12px;
$margin-max: 36px;
$line-height-sm: 33px;
$line-height-md: 40px;
