@import "../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/_variables.scss";
@import "partials/_bootstrap-variables";

$headings-font-family: 'Open Sans', sans-serif;
$form-normal: #ccc;


h1, h2, h3, h4, h5, h6 {
   font-family: $headings-font-family;
}

.form-control {
    border-color: $form-normal;
}

p {
    font-family:'Open Sans', sans-serif !important;
}

.logo {
    margin:5px auto;
    height:40px;
}

.form-auth{
    padding:20px 30px;
}

.form-auth-heading {
    font-size: 24.5px;
    text-align:center;
}

.form-auth-subheader {
    text-align: center;
    font-size: 12px;
    margin-bottom:20px;
}

.container {

    margin-top:50px;
    @media (min-width:$screen-sm-min){
        margin-top:100px;
    }
    max-width:400px;
}

input {
    font-size: 15px;
    margin:15px auto;
}


::-moz-placeholder,
:-ms-input-placeholder,
::-webkit-input-placeholder {
  font-family:'Open Sans', sans-serif !important;
}

@media screen and (max-height: 580px) {
    .content {
        margin-top: 15px;
    }
}
