@import "../../bower_components/bootstrap-sass/lib/_variables.scss";
@import "partials/_bootstrap-variables";

$chart-margin:75px;
$container-desktop: (870px + $grid-gutter-width);
$container-md: $container-desktop;
$container-lg: $container-desktop;



/*Remove the vertical gridlines from the vertical charts and the horizontal gridlines from the horizontal charts*/
.nv-x .tick line {
    display: none;
}

.chart{
    @media (min-width:$screen-sm-min){
      margin-left: -1*$chart-margin;
    }
    margin-top:20px;
    margin-bottom:30px;
}

.charts-control{
    padding:40px 0px 60px;
    .dropdown{
        float:left;
        padding-right:10px;
    }

}

h5{
    text-transform:uppercase;
    font-weight:bold;
    letter-spacing:1px;
    @media (min-width:$screen-sm-min){
        margin-left:$chart-margin;
    }
}

.chart-description{
    font-size:12px;
    @media (min-width:$screen-sm-min){
        margin-left:$chart-margin;
    }
}
#transactionsChart ul {
  list-style-type: none;
  padding-left: 15px;
}
#transactionsChart .legendItem .value {
  position: absolute;
  right: 0;
}
#transactionsChart .legendItem .colored {
  display: inline-block;
  width: 7px;
  height: 18px;
  padding-top: 3px;
  margin-right: 10px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
