@import "partials/_bootstrap-variables";

$alert-danger-bg: #f2dede !important;
$alert-danger-border: #eed3d7;  // doesnt work !important") is not a color for `darken')
$alert-danger-text: #b94a48;

$alert-info-bg: #d9edf7;
$alert-info-border: $alert-info-bg;  // doesnt work !important") is not a color for `darken')
$alert-info-text: #4993c6;

$breadcrumb-padding-horizontal: 0;
$breadcrumb-bg: #fff !important;

@import "partials/_bootstrap";
@import "partials/_layout";


.panel-heading,
.panel-footer {
  @media (max-width: $screen-xs-max) {
    padding-left: 10px;
    padding-right: 10px;
  }
}


.navbar-nav .open .dropdown-menu > li > a {
  @media (max-width: $screen-xs-max) {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

.breadcrumb {
  li {
    font-weight: 300;
    float: left;

    &:before {
      content: none !important;
    }

    @media (min-width: $screen-sm-min) {
      font-size: 17px;
    }

    @media (max-width: $screen-xs-max) {
      font-size: 14px;
    }
  }

  .glyphicon-menu-right {
    color: $gray-light;

    @media (max-width: $screen-xs-max) {
      font-size: 10px;
    }

    @media (min-width: $screen-sm-min) {
      font-size: 13px;
    }
  }
}


a:hover {
  cursor: pointer;
}

.alert-danger,
.more-info {
    text-align:center;
    padding:10px;
    font-size: 11px;
}

.alert-danger {
    font-size: 12px;
    border-color: $alert-danger-border;
}

.alert-info {
  color: $alert-info-text !important;
  background-color: $alert-info-bg !important;
  padding: 15px 10px !important;
  font-size: 11px;
  margin: 14px auto;
}

.alert-success, .alert-danger {
  text-align: center !important;
  margin: 0 auto !important;
  position: fixed;
  top: 61px;
  left: 0;
  right: 0;
  z-index: 500000;
  padding: 10px 20px;
  border-radius: 4px;
}
.alert-danger{
  border: 1px solid red;
}
.alert-success{
  border: 1px solid #468847 !important;
  width: 200px !important;
}


.margin-top {
  $margin-normal: 12px;
  $margin-max: 36px;

  &-md {
    margin-top: $margin-max;
  }

  &-sm {
    margin-top: $margin-normal;

    &-xs {
      @media (max-width:$screen-xs-max){
        margin-top: $margin-normal;
      }
    }

    &-sm {
      @media (max-width:$screen-sm-max){
        margin-top: $margin-normal;
      }
    }
  }
}

.margin-bottom-input {
  margin-bottom: 10px !important;
}

.hidden-sm-min {
  @media (max-width: $screen-sm-min) {
    display: none !important;
  }
}

.pull-right-sm{
  @media (min-width:$screen-sm-min){
      float:right;
  }
}

.modal-dialog {
  padding-top: 51px;
}

.week-dropdown,
.day-dropdown,
.account-dropdown {
  text-align: left;
  position:relative;
  height:29px;

  .caret {
    position: absolute;
    right: 10px;
    top: 47%;
  }
}

.week-dropdown {
  padding: 3px 20px 4px 20px;
}

.account-dropdown {
	padding: 3px 10px 2px 5px;
}

.content-filter{
    margin-top: 4px;
    margin-bottom:16px;
    padding:4px 0px;
    width:100%;
    border-top: 1px solid $table-border-color;
    border-bottom: 1px solid $table-border-color;
    .add-control{
        margin-bottom:0px;
    }
    .filter-control{
        height:29px;
    }
    .glyphicon-menu-left {
      font-size: 12px;
    }
    select{
        padding:3px 15px 4px 10px;
        height:29px;
    }

}

.date-selector{
    button.week-changer {
        font-size:10px;
        height:29px;
        @media (max-width: $screen-xs-max){
          &.hide-buttons{
              display: none;
          }
        }
        &:focus,
        &:active,
        &.active,
        &.disabled:hover {
          color: $gray !important;
        }
    }
    .week-dropdown,
    .dropdown-menu {
      width: 160px !important;
    }
    .week-dropdown {
      @media (max-width: $screen-xs-max) {
        width: 140px !important;
      }
    }
    .day-dropdown{
        width: 120px !important;
    }

    /*>div{*/
        /*margin:5px 10px 5px 0px;*/
        /*@media (max-width: 768px){*/
            /*margin-right:0px;*/
        /*}*/
        /*padding:0px;*/
    /*}*/
}

select.btn{
  text-align:left;
  -webkit-appearance:none;
  -moz-appearance:none;
  position:relative;
    padding-right:15px;
    padding-bottom:3px;
    background:url(../img/arrowdown.png) no-repeat right 8px center white;

  &:active,
  &:focus{
    background:url(../img/arrowdown.png) no-repeat right 8px center white;
    color:black;
    border-radius:2px;
  }
    option{
        text-align:left;
    }
}
.control-buttons>div{
    padding-left:2px;
    padding-right:2px;
    &:first-child{
        padding-left:0px;
    }
    &:last-child{
        padding-right:0px;
    }
    button{
        width:100%;
        /*padding:2px;*/
    }
}

.inline-block {
  display: inline-block;
}

.primary-text {
  color: $brand-primary;
}

.editable {
  border-bottom: 1px solid $table-border-color;;
}

.back-btn {
  display: inline-block;
  padding: 0 12px;
  font-weight: 600;
}

.margin-left-sm {
  margin-left: 12px;
}

.height-sm {
  height: 27px;
}

.height-md {
  height: 40px;
}

.height-lg {
  height: 60px;
}

.line-height-sm {
  line-height: 33px;
}

.line-height-md {
  line-height: 40px;
}

.line-height-lg {
  line-height: 42px;
}

.drag-drop {
  display: inline-block;
  min-width: 20px;
}

.custom-label {
  float: left;
  padding-left: 10px;
  line-height: 33px;
  font-weight: 400;
}

.pointer-hover:hover {
    cursor:pointer;
}

@media (max-width: $screen-xs-min) {
  @include make-grid(xxs);
}

.b-file-input {
  display: inline-block;
  position: relative;
  width: 30px;
  height: 30px;
  overflow: hidden;
  cursor: pointer;
  input, label {
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    position: absolute;
  }
  input {
    visibility: hidden;
    transform: scale(20);
    letter-spacing: 10em;     /* IE 9 fix */
    -ms-transform: scale(20); /* IE 9 fix */
  }
}

.half-height {
    max-height: 50vh;
    overflow: scroll;
}

select::-ms-expand {
    display: none;
}

.pull-left-sm {
  @media (min-width: $screen-sm-min) {
    float: left;
  }
}


@media (max-width: 991px) {
  .aside {
    min-width: 290px !important;
  }
}

.aside-body {
  @media (min-width: $screen-xs-min) {
    min-width: 350px;
  }
}

.aside-header {
  background-color: #fff !important;
  .close {
    color: rgb(0,0,0) !important;
    opacity: .2 !important;
    padding-top: 8px !important;
  }
}

.aside-title {
  color: $gray;
}

.text-black--force {
  color: #333 !important;
}

.rtl {
  direction: rtl;
}


.container.container-md {
    $screen-md-min: 992px;
    @media (min-width: $screen-md-min) {
        width: (970px + $grid-gutter-width);
    }
    @media (min-width: $screen-lg-min) {
        width: (1070px + $grid-gutter-width);
    }
}

.btn-grey {
  background-color: $gray-lighter !important;
}

.btn-fake {
  @extend .btn-default;
  top: 1px;
  width: 72px;
  padding-top: 5px;
  padding-bottom: 5px;
  overflow: hidden;
  @media (max-width:$screen-xs-max){
    padding: 6px 3px !important;
    width: 42px;
  }
  &:hover {
    background-color: #fff;
    color: rgb(0,0,0)
  }
}

.btn-link--bordered {
  border: 1px solid $brand-primary;
  &:hover {
    border: 1px solid $brand-primary;
    text-decoration: none !important;
    background-color: #fff;
  }
}

.item-units-input {

  .glyphicon-plus:hover,
  .glyphicon-plus:focus,
  .glyphicon-minus:hover,
  .glyphicon-minus:focus {
    color: rgb(0,0,0);
  }

  .btn {
    @media (max-width:$screen-xs-max){
      padding-left: 6px;
      padding-right: 6px;
    }
  }
}

.expand-wrapper {
  .header {
    font-weight: normal;
  }
  .content-filter {
    height: 39px;
  }
}

.transactions-sidebar{
  padding-left: 50px !important;
}

.icon-circle {
  $ios-checked: #007AFF;
  $ios-unchecked: #C7C7CC;
  $ios-notification: #FF3B30;

  display: inline-block;
  width: 18px;
  height: 18px;

  @media (max-width:$screen-xs-max) {
    height: 15px;
    width: 15px;
  }

  &--unchecked svg {
    fill: $ios-unchecked;
    width: 22px;
    height: 22px;

    @media (max-width:$screen-xs-max) {
      width: 19px;
      height: 19px;
    }
  }

  &--checked svg {
    fill: $brand-primary;
    width: 22px;
    height: 22px;

    @media (max-width:$screen-xs-max) {
      width: 19px;
      height: 19px;
    }
  }

  &--info svg {
    fill: $ios-notification;
    width: 18px;
    height: 18px;
    margin: 2px;

    @media (max-width:$screen-xs-max) {
      width: 15px;
      height: 15px;
    }

    circle {
      stroke: $ios-notification;
    }
  }


  &--notify {
    border: 1px solid $ios-notification;
    background-color: $ios-notification;
    color: #fff;
    border-radius: 50%;
    vertical-align: top;
    line-height: 17px;
    text-align: center;
    font-size: 10px;
    
    @media (max-width:$screen-xs-max) {
      font-size: 8px;
      line-height: 1.7em;
    }
  }
}

.add-item-link {
  display: inline-block;
  margin-top: 23px;
}

.visible {
  visibility: visible;
}

.as-table {
  display: table;
  width: 100%;
  &__cell {
    display: table-cell;
  }
  &--inherit {
    table-layout: fixed;
  }
}

.nodata{
    width:100%;
    clear:both;
    margin-top:30px;
    b {
        display:block;
        font-size:18px;
        text-align:center;
    }
}

.no-touch {
  .visible-hover {
    visibility: hidden;

    &__wrapper:hover {
      .visible-hover {
        visibility: visible;
      }
    }
  }
}

.touch {
  .visible-touch {
    visibility: visible;
  }

  .b-delete-icon {
    visibility: visible;
  }
}
