@import "partials/_bootstrap-variables";

$alert-danger-bg: #f2dede !important;
$alert-danger-border: #eed3d7;  // doesnt work !important") is not a color for `darken')
$alert-danger-text: #b94a48;

$alert-info-bg: #d9edf7;
$alert-info-border: $alert-info-bg;  // doesnt work !important") is not a color for `darken')
$alert-info-text: #4993c6;

@import "partials/_bootstrap";
@import "partials/_layout";


a:hover {
  cursor: pointer;
}

.alert-danger,
.more-info {
    text-align:center;
    padding:10px;
    font-size: 11px;
}

.alert-danger {
    font-size: 12px;
    border-color: $alert-danger-border;
}

.alert-info {
  color: $alert-info-text !important;
  background-color: $alert-info-bg !important;
  padding: 15px 10px !important;
  font-size: 11px;
  margin: 14px auto;
}

.alert-success, .alert-danger {
  text-align: center !important;
  margin: 0 auto !important;
  position: fixed;
  top: 61px;
  left: 0;
  right: 0;
  z-index: 500000;
  padding: 10px 20px;
  border-radius: 4px;
}
.alert-danger{
  border: 1px solid red;
  max-width:400px;
}
.alert-success{
  border: 1px solid #468847 !important;
  width: 200px !important;
}


.margin-top-md {
  margin-top: 36px;
}
.margin-top-sm {
  margin-top: 12px;
}

.margin-top-sm-xs {
  @media (max-width:$screen-sm-min){
    margin-top: 12px;
  }
}

.modal-dialog {
  padding-top: 51px;
}

.week-dropdown,
.account-dropdown {
  text-align: left;
  position:relative;
  height:29px;

  .caret {
    position: absolute;
    right: 10px;
    top: 47%;
  }
}

.week-dropdown {
  padding: 3px 20px 4px 20px;
}

.account-dropdown {
	padding: 3px 10px 2px 5px;
}


.date-selector{
    margin-top: 4px;
    padding:4px 0px;
    width:100%;
    border-top: 1px solid $table-border-color;
    border-bottom: 1px solid $table-border-color;
    button.week-changer {
        font-size:10px;
        @media (max-width: 768px){
          display: none;
        }
    }
    .week-dropdown,
    .dropdown-menu {
      width: 160px !important;
    }
}

.datepicker {
  tr:last-child {
    display: none;
  }
}

select.btn{
  text-align:left;
  -webkit-appearance:none;
  -moz-appearance:none;
  position:relative;
    padding-right:15px;
    padding-bottom:3px;
    background:url(../img/arrowdown.png) no-repeat right 8px center white;

  &:active,
  &:focus{
    background:url(../img/arrowdown.png) no-repeat right 8px center white;
    color:black;
    border-radius:2px;
  }
    option{
        text-align:left;
    }
}
.control-buttons>div{
    padding-left:2px;
    padding-right:2px;
    &:first-child{
        padding-left:0px;
    }
    &:last-child{
        padding-right:0px;
    }
    button{
        width:100%;
        /*padding:2px;*/
    }
}
