@import 'variables';
@import 'bootstrap/variables';

.report-table{
    thead{
        border-bottom:1px solid #ddd;
    }
    td{
        padding: 2px 1px 3px 25px;
        min-width:100px;
    }
    td, th,b{
        white-space:nowrap;
    }
    &.expanded{
        /*im ugly and i know it*/
        /*adding a border to emulate padding when table goes wider than the screen*/
        border-right:40px solid transparent;
        border-collapse: separate;
    }
    .fix-first-column {
      width: $fix-column-width + 1 !important;      //+1 fix white line that separate first column and data
    }
}
.total-column{
    padding-left:30px;
    min-width:100px;
}
