.report-table{
    thead{
        border-bottom:1px solid #ddd
    }
    td{
        padding: 2px 1px 3px 25px;
        min-width:100px;

    }
}
.total-column{
    padding-left:30px;
    min-width:100px;
}

@media (min-width: 1400px){
    .container {
        /*margin-left:50px;*/
        /*margin-right:50px;*/
        width:100%;
    }
}
