@import "../mixins";

.wrapper {
  width: 100%;
}

.table {
  width: 100%;
  margin: $distance-ver-md 0 $distance-ver-sm;
  table-layout: fixed;
  border-collapse: collapse;
  white-space: nowrap;
  font-weight: 400;
  font-size: $font-size-xs;

  th,
  td {
    @include panelHorPadding();

    text-align: left;
    width: 25%;
    border-bottom: $border-base;
  }

  th {
    padding-top: 0;
    padding-bottom: 13px;
    font-weight: 400;
    color: $gray-middle-new;
    white-space: pre-line;
  }

  td {
    padding-top: 5px;
    padding-bottom: 5px;
    vertical-align: top;

    p {
      margin: 9px 0;
      line-height: $line-height-base;
      white-space: pre-line;
    }
  }
}
