@import "../mixins";

.wrapper {
  margin-left: 5px;
  margin-right: 5px;

  @media (max-width: $screen-lg-min) {
    @include customScroll();
  }
}

.table {
  //table-layout: fixed;
  width: calc(100% + 20px);
  margin: 0 -5px;
  font-weight: 400;
  font-size: 11px;
  border-collapse: separate;
  border-spacing: 2.5px 5px;

  thead {

    tr {
      &:first-child {
        th {
          font-size: $font-size-small;
          border-bottom: 1px solid black;
        }
      }
      &:last-child {
        color: $gray-middle-new;

        th {
          font-weight: 400;
          padding: 0 0 7px;
        }
      }
    }
  }

  @media (max-width: $screen-lg-min) {
    table-layout: auto;
  }
}

.row {
  padding: 7px 0 !important;
  background-color: $table-bg-hover;
  border-top: 1px solid $gray-light-new;
  border-bottom: 1px solid $gray-light-new;
}

.tr {
  position: relative;
}

.th {
  padding: 7px 4px;
  white-space: nowrap;
}

.td {
  padding: 4px;
  vertical-align: top;
  word-break: break-word;
}

.cell-0,
.cell-3,
.cell-4,
.cell-6,
.cell-8,
.cell-10 {
  text-align: left;

  .text {
    @include textWrap();

    max-width: 100px;
  }
}

.cell-1,
.cell-2,
.cell-5,
.cell-7,
.cell-9,
.cell-11 {
  text-align: right;

  .text {
    white-space: nowrap;
  }
}


