// Here go all the custom styles that are not related to any component

// TOC:
// * Display & Positioning
// * Box (height, padding, margin, borders, outline)
// * Text
// * Inputs
// * Buttons
// * Grid
// * Misc

// Display & Positioning
// -----------------------------

.inline-block {
  display: inline-block;
}

.as-block {
  display: block;
}

.as-table {
  display: table;
  width: 100%;

  &__cell {
    display: table-cell;

    &.mod-amount {
      min-width: 90px;  // enough for longest expected amount "-$1000111.00"
    }
  }

  &--inherit {
    table-layout: fixed;
  }
}

.as-flex {
  display: flex;
}

.visible-xs-inline-block {
  @media (min-width:$screen-sm-min) {
    display: inline-block;
  }
}

.hidden-sm-min {
  @media (max-width: $screen-sm-min) {
    display: none !important;
  }
}

.is-relative {
  position: relative;
}

.is-absolute-over-xs {
  @media (max-width: $screen-xs-max) {
    position: absolute !important;
    z-index: 1;
  }
}

.is-opacity {
  opacity: 0;
}

.sticky {
  .is-opacity {
    @media (max-width: $screen-xs-max) {
      opacity: 1;
    }
  }
}

.pull-right-xxs {
  @media (max-width: $screen-xxs-max) {
    float: right !important;
  }
}

.pull-left-sm {
  @media (min-width: $screen-sm-min) {
    float: left;
  }
}

.over {
  z-index:1;
  position: relative;
}

.visible {
  visibility: visible;
}

.u-abs-centered {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
}

.v-middle {
  vertical-align: middle;
  position: relative;
}

.font-size-lg {
  font-size: $font-size-large;
}

.text-left {
  text-align: left !important;
}

.text-right {
  text-align: right !important;
}

.overflow-hidden {
  overflow: hidden;
}

.min-height {
  &-xs {
    min-height: 185px;
  }
}

.border-none-active {
  &.active {
    border: none !important;
  }
}
// Box
// -----------------------------

.height-sm {
  height: $height-sm !important;
}

.height-md {
  height: $height-md;
}

.height-lg {
  height: $height-lg;
}

.no-padding {
  padding: 0 !important;

  &-left {
    padding-left: 0 !important;

    &-xs {
      @media (max-width: $screen-xs-min) { //consider to change to $screen-xs-max
        padding-left: 0;
      }
    }

    &-xs-max {
      @media (max-width: $screen-xs-max) {
        padding-left: 0;
      }
    }

    &-sm {
      @media (max-width:$screen-sm-min){
        padding-left:0;
      }
    }
  }

  &-right {
    padding-right: 0 !important;
  }
}

.padding-right {
  &-sm {
    padding-right: $padding-sm !important;
  }
  &-md {
    padding-right: $padding-md + 5px !important;
    @media (max-width: $screen-xs-max) {
      padding-right: $padding-md - 5px !important;
    }
  }
}

select.padding-left-xs option,
.padding-left-xs {
  padding-left: 6px !important;

  &-at-xs {
    @media (max-width: $screen-xs-max) {
      padding-left: 6px !important;
    }
  }
}

.padding-bottom {
  &-xs {
    padding-bottom: $margin-xs;
  }

  &-sm {
    padding-bottom: $margin-normal !important;
  }

  &-md {
    padding-bottom: $margin-md;
  }
}

.no-margin {
  margin: 0!important;
}

.margin-top {

  &-md {
    margin-top: $margin-max;
  }

  &-sm {
    margin-top: $margin-normal;

    &-xs {
      @media (max-width:$screen-xs-max){
        margin-top: $margin-normal;
      }
    }

    &.alert-danger {
      margin-top: $margin-normal !important;

      @media (max-width:$screen-xs-max){
        margin-top: 3px !important;
      }
    }
  }

  &-xs {
    margin-top: $margin-xs;

    &-xs {
      @media (max-width: $screen-xs-max) {
        margin-top: $margin-xs;
      }
    }
  }
}

.margin-bottom {
  &-xs {
    margin-bottom: $margin-xs;
  }

  &-sm {
    margin-bottom: $margin-normal !important;
  }

  &-md {
    margin-bottom: $margin-md;
  }
}

.margin-left {
  &-xs {
    margin-left: $margin-xs;
  }

  &-sm {
    margin-left: $margin-normal;
  }

  &-md {
    margin-left: $margin-md;
  }
}

.negative-margin {
  &-right {
    &-xs {
      margin-right: -$margin-xs;
    }

    &-sm {
      margin-right: -$margin-normal;
    }

    &-md {
      margin-right: -$margin-md - 10;
    }
  }

  &-left {
    &-xs {
      margin-left: -$margin-xs;
    }

    &-sm {
      margin-left: -$margin-normal;
    }

    &-md {
      margin-left: -$margin-md - 10;
    }
  }
}

.no-outline {
  &:focus {
    outline: none !important;
  }
}

// mode width
.mode-width {
  &-sm {
    @media (min-width: $screen-xs-max) {
      max-width: 240px !important;
    }

    @media (max-width: $screen-xs-max) {
      max-width: 180px !important;
    }

    @media (max-width: $screen-phone) {
      max-width: 100% !important;
    }
  }

  &-md {
    @media (min-width: $screen-xs-max) {
      max-width: 360px !important;
    }

    @media (max-width: $screen-xs-max) {
      max-width: 240px !important;
    }

    @media (max-width: $screen-phone) {
      max-width: 100% !important;
    }
  }
}

// row height mode
.row-height-mode {
  &-xs {
    line-height: 28px;

    @media (max-width: $screen-xs-max) {
      line-height: 22px;
    }
  }

  &-sm {
    line-height: 33px;

    @media (max-width: $screen-xs-max) {
      line-height: 27px;
    }
  }

  &-md {
    line-height: 40px;

    @media (max-width: $screen-xs-max) {
      line-height: 35px;
    }
  }
}

// Text
// --------------------------
.break-word {
  word-wrap: break-word;
}

// Inputs
// --------------------------
.input-disabled {
  background-color: $gray-lighter;
}

.input-error {
  background-color: $alert-danger-bg;
}

.input-inactive,
.input-inactive input {
  background-color: lighten($gray-base, 97.5%);
}

.editable {
  input {
    background-color: transparent;
    border: 0;
    box-sizing: border-box;
    outline: 0 !important;
    padding: 1px;
    text-align: right;
    width: 100%;

    &:focus {
      outline: 2px solid $brand-primary !important;
    }
  }
}

.btn-xsm {
  padding: 7px 10px 6px;
  font-size: $font-size-xs + 1;
  line-height: 1.5;
  border-radius: $border-radius-small;
}

// Grid
// --------------------------
@media (max-width: $screen-xs-min) { //consider to change to $screen-xxs-max
  @include make-grid(xxs);
}


// Misc
// --------------------------
.overflow-ellipsis {
  @include text-overflow();
}

.rtl {
  direction: rtl;
}

.pointer-hover:hover {
  cursor: pointer;
}

.custom-label {
  line-height: $line-height-sm;
  font-weight: 400;
}

.is-invisible {
  visibility: hidden;
}

td.mod-clickable:hover {
  color: $brand-primary;
  cursor: pointer;
}

.padding-hor {
  &-md {
    padding-right: $distance-hor-md;
    padding-left: $distance-hor-md;
  }
  &-sm {

    padding-right: $distance-hor-md;
    padding-left: $distance-hor-md;

    @media (max-width: $screen-sm-min) {
      padding-right: $distance-hor-md - 10;
      padding-left: $distance-hor-md - 10;
    }
  }
}

.input-padding-right {
  padding-right: $padding-base-horizontal;
}

.clearfix {
  clear: both;
  float: none;
}

// section blue title
h5 {
  font-size: $section-title-font-size;
  color: $brand-primary;
  text-transform: uppercase;
  margin-top: $page-title-margin-top;

  &:first-child {
    margin-top: $margin-normal;
  }
}

.fa-calendar{
  &:before {
    content: "\f073" !important;
  }
}

.js-opened-promo-navbar {
  position: fixed;
}

.btn-border {
  border-color: #d8dddf !important;
}

.week-dropdown,
.day-dropdown {
  text-align: left;
  position: relative;
  height: $content-filter-height;

  .caret {
    position: absolute;
    right: 10px;
    top: 47%;
  }

  @media (max-width: $screen-xxs-max) {
    max-width: 133px;
  }
}

.account-dropdown {
  @media (min-width: $screen-xs-min) {
    max-width: 200px;
  }
}

.trigger-handler {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
}

.hidden-xxs {
  @media (max-width: $screen-xxs-max) {
    display: none;
  }
}

.no-border {
  .form-control {
    border: 0px;
  }
}

.bulk-edit {
  .title {
    line-height: 28px;
    > div {
      padding: 0 8px;
    }
  }
  .row {
    border-bottom: 1px solid $gray-light-new;
    margin: 0px;

    .border-left {
      border-left: 1px solid $gray-light-new;
    }

    .border-right {
      border-right: 1px solid $gray-light-new;
    }

    .has-error {
      border: 1px solid $input-border-error;
      margin: -1px 0;
    }
  }

  .cost-call {
    padding-right: 47px !important;
  }

  .icon-trash {
    top: 4px;
  }

  .form-control {
    text-align: left;
    padding: 6px 8px;

    &[disabled]{
      color: #bebcbb;
    }

    .caret {
      position: absolute;
      right: 1px;
      top: 50%;
      transform: translate3d(-50%, 0, 0);
    }
  }
}

.fake-mobile-bg {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: #fff;
  z-index: 9999999;
}

stripe-add-payment {
  .checkbox-block {
    .checkbox {
      &.is-invalid {
        label:before {
          border-color: $red-danger;
        }
      }
    }
  }
}
