@mixin as-no-touch {
  .visible-hover {
    visibility: hidden;

    &__wrapper:hover,
    &__wrapper.as-hovered {
      .visible-hover {
        visibility: visible;
      }
    }
  }
}

.no-touch {
  @include as-no-touch;
}

.touch {
  .visible-touch {
    visibility: visible;
  }

  .is-invisible-touch {
    visibility: hidden;
  }

  &-md {
    @media (min-width: $screen-md-min) {
      @include as-no-touch;
    }
  }
}
