// Here go all the custom styles for different libraries we use
// except bootstrap


// Angular Strap
// =======================

// Aside
// -----------------------

.aside {
  &.am-slide-left {
    vertical-align: middle;
    display: inline-block;
    left: 0;
  }

  @media (max-width: 991px) {
    min-width: 290px !important;
  }

  &.am-slide-right.mod-fix-right {
    right: 0;
  }
}

.aside-body {
  @media (min-width: $screen-xs-min) {
    min-width: 350px;
  }
}

.aside-header {
  background-color: $white !important;

  .close {
    color: $gray-base !important;
    opacity: .2 !important;
    padding-top: 8px !important;
  }
}

.aside-title {
  color: $gray;
}

// Datepicker
// -----------------------

.datepicker.dropdown-menu {
    width: 195px !important;
    height: 245px !important;
    background-color: $white;
    border: 1px solid $gray-lighter;

    button {
        height: 33px;
        outline: none;
        border: 1px solid;
        border-color: $white !important;
    }

    .dow {
        color: $text-muted;
        font-weight: 400;
    }

    .btn-link {
        padding-left: 8px;
        padding-right: 8px;
        border: 1px solid;
        border-color: $white !important;
        &:hover {
            background-color: $white;
            border: 1px solid $brand-primary;
            border-color: $brand-primary !important;
        }
    }

    tbody {
        height: 135px;
        button {
            padding: 6px;
        }
    }

    .btn-grey {
        padding: 0;
        &:hover,
        &.mod-hover {
            color: $brand-primary;
            border: 1px solid $brand-primary !important;
        }
    }

    .btn-primary {
        padding: 0;
        color: $white;
    }

    td, th {
        padding:1px;
    }
}

.datepicker {
    td, th {
        padding:1px;
    }
}

.typeahead {
    %active-item {
        color: $white !important;
        background-color: $brand-primary !important;
    }

    background-color: $white !important;
    border: 1px solid rgba(0, 0, 0, 0.175) !important;

    a {
        color: $gray !important;
        background-color: $white !important;

        &:hover {
            @extend %active-item;

            &.no-matches {
                color: $gray !important;
                background-color: $white !important;
            }
        }
    }

    li.active a {
        @extend %active-item;
    }

    .btn-link {
        text-decoration: none;

        &:hover {
            @extend %active-item;
        }
    }

    &__group-header {
        padding-left: 20px;
        font-weight: 600;
        cursor: default;
    }
}


// Ng Annimate + Angular Strap
// =======================

.modal-backdrop.am-fade.ng-leave,
.aside-backdrop.am-fade.ng-leave {
  animation-delay: 0s !important;
}

[ng-cloak] {
  display: none;
}
