// Here go all the custom styles for different libraries we use
// except bootstrap


// Angular Strap
// =======================

// Aside
// -----------------------

.aside {
  &.am-slide-left {
    vertical-align: middle;
    display: inline-block;
    left: 0;
  }

  @media (max-width: 991px) {
    min-width: 290px !important;
  }

  @media (max-width: $screen-xs-max) {
    min-width: 100% !important;
  }

  &.am-slide-right.mod-fix-right {
    right: 0;
  }
}

.aside-body {
  @media (min-width: $screen-xs-min) {
    min-width: 350px;
  }
}

.aside-header {
  background-color: $white !important;

  .close {
    color: $gray-base !important;
    opacity: .2 !important;
    padding-top: 8px !important;
  }
}

.aside-title {
  color: $gray;
}

// Datepicker
// -----------------------

.datepicker.dropdown-menu {
    width: 195px !important;
    height: 245px !important;
    background-color: $white;
    border: 1px solid $gray-lighter;

    button {
        height: 33px !important;
        outline: none;
        border: 1px solid $white;
        border-color: $white !important;
        line-height: $line-height-base;
        font-size: $font-size-base;
    }

    .dow {
        color: $text-muted;
        font-weight: 400;
    }

    .btn-link {
        padding-left: 8px;
        padding-right: 8px;
        border: 1px solid;
        border-color: $white !important;
        &:hover {
            background-color: $white;
            border: 1px solid $brand-primary;
            border-color: $brand-primary !important;
        }
    }

    tbody {
        height: 135px;
        button {
            padding: 6px;
        }
    }

    .btn-grey {
        &:hover,
        &.mod-hover {
            color: $brand-primary;
            border: 1px solid $brand-primary !important;
        }
    }


    .btn-primary {
        color: $white;
    }

    .btn-default {
        padding: 0;
    }

    td, th {
        padding:1px;
    }
}

.datepicker {
    td, th {
        padding:1px;
    }
}

.typeahead {
  overflow: auto;
    a {
        @include dropdown-item();

        &.no-matches:hover {
            background-color: transparent;
            cursor: default !important;
        }
    }

    .btn-link {
        text-decoration: none;
    }

    &__group-header {
        @include dropdown-item();

        font-weight: 600;
        cursor: default !important;

        &:hover {
            background-color: transparent;
        }
    }
}

.daterangepicker.ltr {
  padding-right: 10px;
  padding-bottom: 10px;

  .calendar.left {
    margin-left: 0;

    .calendar-table {
      padding-left: 0;
      border-left: 0;
    }
  }
  .calendar.right {
    margin-right: 0;
    border-right: 0;

    .calendar-table {
      padding-right: 0;
      border-right: 0;
    }
  }
}


// Ng Annimate + Angular Strap
// =======================

.modal-backdrop.am-fade.ng-leave,
.aside-backdrop.am-fade.ng-leave {
  animation-delay: 0s !important;
}

[ng-cloak] {
  display: none;
}
