@import 'data-uri-images';
@import 'variables';
@import '../bootstrap/variables';

@mixin custom-selector() {
  position: relative;
  padding-bottom: 3px;
  padding-right: $padding-md;
  text-align: left;

  &:active,
  &:focus {
    color: $gray-new;
    border-radius: 2px;
  }
  &.is-focused {
    border-color: $brand-primary !important;
  }

  .caret {
    color: $gray-middle-new;
    margin-top: -3px;
  }
}

@function make-click-color($color) {
  @return transparentize(darken($color, 10%), .5);
}

