@import 'data-uri-images';
@import 'variables';
@import '../bootstrap/variables';


@mixin custom-selector() {
  position: relative;
  padding-right: $padding-md;
  padding-bottom: 3px;
  text-align: left;

  &:active,
  &:focus {
    color: $gray-new;
  }
  &.is-focused {
    border-color: $brand-primary !important;
  }

  .caret {
    margin-top: -3px;
    color: $gray-middle-new;
  }
}

@function make-click-color($color) {
  @return transparentize(darken($color, 10%), .5);
}

$nav-header-title-size-sm: 19px;
$actions-options-height: floor($actions-option-font-size*$line-height-base);
$actions-options-height-full: floor($actions-option-font-size*$line-height-base) + $actions-option-padding*2 + 1px;

@mixin actions-container() {
  z-index: 1000000;
  position: fixed;
  background-color: $white;
  top: 0;
  left: 0;
  right: 0;
  height: 100vh;
  width: 100%;
  overflow-y: auto;
}

@mixin actions-title($icon-width) {
  font-size: $nav-header-title-size-sm;
  margin: 0;
  padding-right: $icon-width;
  height: $main-navigation-height-mobile;
  line-height: $main-navigation-height-mobile;
  text-align: center;
}

@mixin actions-button($icon-height, $icon-width, $position: 'left') {
  $margin-top: ($main-navigation-height-mobile - $icon-height)/2;
  margin-top: $margin-top;

  @if $position == 'right' {
    float: right;
    margin-right: 5px;  // TODO
  } @else {
    float: left;
    margin-left: 5px;  // TODO
  }
  padding: 0;
  border: none;

  width: $icon-width;
  height: $icon-height;
  position: relative;
  cursor: pointer;
}

@mixin actions-content($padding: #{$actions-content-padding}) {
  padding: 0 $padding;
}

@mixin actions-option() {
  font-size: $actions-option-font-size;
  padding: $actions-option-padding 0;
  border: none;
  border-bottom: 1px solid $border-color-base;
  border-radius: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  line-height: $line-height-base;
  background: $white;
  color: $gray-new;
  margin: 0;

  &:hover {
    color: $brand-primary;
    cursor: pointer;
    background: $white;
    border: none;
    border-bottom: 1px solid $border-color-base;
  }

  &:focus {
    outline: none;
  }
}

// We use this to ellipsis text
@mixin ellipsis($width: 100%) {
  display: inline-block;
  max-width: $width;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
