$bootstrap-sass-asset-helper: false !default;


//
// Variables
// --------------------------------------------------


//== Colors
//
//## Gray and brand colors for use across Bootstrap.

$gray-base:              #000;                       // #595959;
$gray-darker:            lighten($gray-base, 13.5%); // #222
$gray-dark:              lighten($gray-base, 20%);   // #333
$gray:                   lighten($gray-base, 33.5%); // #555
$gray-light:             lighten($gray-base, 46.7%); // #777
$gray-lighter:           lighten($gray-base, 93.5%); // #eee

// from bootflat
$lightgray-light:             #F5F7FA;
$mediumgray-dark:             #AAB2BD;
$mediumgray-light:            #CCD1D9;
$lightgray-dark:              #E6E9ED !default;
$darkgray-dark:               #434A54;
$grapefruit-dark:             #DA4453;

// new custom
$white:                       #fff;
$black:                       #000;
$red-danger:                  #df3320;
$gray-new:                    #4c5557;
$gray-darker-new:             #bebcbb;
$gray-middle-new:             #98A9B1;
$gray-darkest-new:            darken($gray-middle-new, 20%);
$gray-lighter-new:            #d8dddf;
$gray-light-new:              #dde1e4;
$gray-lightest-new:           #f2f2f2;
$middle-gray-color:           #ccc;
$gray-lighter-custom:         lighten($middle-gray-color, 18%);
$gray-background:             #f3f6f8;
$gray-border:                 #ebebeb;
$gray-text:                   #9ba3a9;

$blue-light:                  #e3f2ff;
$ios-notification:            #ff3b30;
$icon-color:                  #9ba3a9;

$brand-primary:               #57a6db;  // darken(#428bca, 6.5%)
$brand-saturated:             #5C89B7;
$brand-success:               #5cb85c;

//== Form states and alerts
//
//## Define colors for form feedback states and, by default, alerts.

$state-success-text:             #3c763d !default;
$state-success-bg:               #dff0d8 !default;
$state-success-border:           darken(adjust-hue($state-success-bg, -10), 5%) !default;

$state-info-text:                #31708f !default;
$state-info-bg:                  #d9edf7 !default;
$state-info-border:              darken(adjust-hue($state-info-bg, -10), 7%) !default;

$state-warning-text:             #8a6d3b !default;
$state-warning-bg:               #fcf8e3 !default;
$state-warning-border:           darken(adjust-hue($state-warning-bg, -10), 5%) !default;

$state-danger-text:              #f25353;
$state-danger-bg:                #f2dede;
$state-danger-border:            #f25353;  // darken(adjust-hue($state-danger-bg, -10), 5%)


//== Scaffolding
//
//## Settings for some of the most global styles.

//** Background color for `<body>`.
$body-bg:                  $white;
//** Global text color on `<body>`.
$text-color:               $gray-new;

//** Global textual link color.
$link-color:               $brand-primary;
//** Link hover color set via `darken()` function.
$link-hover-color:         darken($link-color, 15%);
//** Link hover decoration.
$link-hover-decoration:      none;


//== Typography
//
//## Font, line-height, and color for body text, headings, and more.

$font-family-sans-serif:    'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-family-serif:          Georgia, "Times New Roman", Times, serif !default;
//** Default monospace fonts for `<code>`, `<kbd>`, and `<pre>`.
$font-family-monospace:      Menlo, Monaco, Consolas, "Courier New", monospace !default;
$font-family-base:           $font-family-sans-serif;

$font-size-base:             14px;
$font-size-large:            ceil(($font-size-base * 1.25)); // ~18px
$font-size-small:            ceil(($font-size-base * 0.85)); // ~12px

$font-size-xs:               11px;
$font-size-md:               16px;
$font-size-xlg:              36px;

$font-weight-xs:             300;
$font-weight-sm:             400;
$font-weight-md:             500;
$font-weight-lg:             600;

$font-size-h1:               51px; //floor(($font-size-base * 2.6)) // ~36px
$font-size-h2:               43px; //floor(($font-size-base * 2.15)) // ~30px
$font-size-h3:               30px; //ceil(($font-size-base * 1.7)) // ~24px
$font-size-h4:               19px; //ceil(($font-size-base * 1.25)) // ~18px
$font-size-h5:               $font-size-base;
$font-size-h6:               $font-size-base;
$header-margin: 30px;

//** Unit-less `line-height` for use in components like buttons.
$line-height-base:        1.428571429 !default; // 20/14
//** Computed "line-height" (`font-size` * `line-height`) for use with `margin`, `padding`, etc.
$line-height-computed:    floor(($font-size-base * $line-height-base)) !default; // ~20px

//** By default, this inherits from the `<body>`.
$headings-font-family:    inherit !default;
$headings-font-weight:    500;
$headings-line-height:    1.1 !default;
$headings-color:          inherit !default;


//== Iconography
//
//## Specify custom location and filename of the included Glyphicons icon font. Useful for those including Bootstrap via Bower.

//** Load fonts from this directory.

// [converter] Asset helpers such as Sprockets and Node.js Mincer do not resolve relative paths
$icon-font-path: '../../fonts/';


//** File name for all font files.
$icon-font-name:          "glyphicons-halflings-regular" !default;
//** Element ID within SVG icon file.
$icon-font-svg-id:        "glyphicons_halflingsregular" !default;


//============ Box

$margin-xs: 4px;
$margin-sm: 12px;
$margin-normal: $margin-sm;  // deprecated, use $margin-sm instead
$margin-md: 20px;
$margin-max: 36px;

$padding-sm: 7px;
$padding-md: 15px;
$padding-vertical-lg: 20px;
$padding-horizontal-lg: 30px;

$padding-base-vertical:     6px !default;
$padding-base-horizontal:   12px !default;

$padding-large-vertical:    10px !default;
$padding-large-horizontal:  16px !default;

$padding-small-vertical:    5px !default;
$padding-small-horizontal:  10px !default;

$padding-xs-vertical:       1px !default;
$padding-xs-horizontal:     5px !default;

$height-sm: 27px;
$height-md: 40px;
$height-lg: 60px;

$line-height-large:         1.3333333 !default; // extra decimals for Win 8.1 Chrome
$line-height-small:         1.5 !default;

$line-height-sm: 33px;
$line-height-md: 40px;
$line-height-lg: 42px;

$border-radius-default:     4px;

$border-radius-base:        3px;
$border-radius-large:       4px;
$border-radius-small:       1px;
$border-radius-lg:          10px;

$border-color-base:         $gray-light-new;
$border-gray-color:         $middle-gray-color;


//== Components
//
//## Define common padding and border radius sizes and more. Values based on 14px text and 1.428 line-height (~20px to start).


//** Global color for active items (e.g., navs or dropdowns).
$component-active-color:    $white !default;
//** Global background color for active items (e.g., navs or dropdowns).
$component-active-bg:       $brand-primary !default;

//** Width of the `border` for generating carets that indicator dropdowns.
$caret-width-base:          4px !default;
//** Carets increase slightly in size for larger components.
$caret-width-large:         5px !default;


//== Tables
//
//## Customizes the `.table` component with basic values, each used across all table variations.

//** Padding for `<th>`s and `<td>`s.
$table-cell-padding:            8px !default;
//** Padding for cells in `.table-condensed`.
$table-condensed-cell-padding:  5px !default;

//** Default background color used for all tables.
$table-bg:                      transparent !default;
//** Background color used for `.table-striped`.
$table-bg-accent:               #f9f9f9 !default;
//** Background color used for `.table-hover`.
$table-bg-hover:                #f5f5f5 !default;
$table-bg-active:               $table-bg-hover !default;

//** Border color for table and cell borders.
$table-border-color:               $border-color-base;


//== Buttons
//
//## For each of Bootstrap's buttons, define text, background and border color.

$btn-font-weight:                normal !default;

$btn-default-color:              #333 !default;
$btn-default-bg:                 #fff !default;
$btn-default-border:             $middle-gray-color !default;

$btn-primary-color:              #fff !default;
$btn-primary-bg:                 $brand-primary !default;
$btn-primary-border:             darken($btn-primary-bg, 5%) !default;

$btn-link-disabled-color:        $gray-light !default;

//== Forms
//
//##

$input-text-size:                14px;

//** `<input>` background color
$input-bg:                       $white;
$input-bg-disabled:              $gray-lightest-new;

//** Text color for `<input>`s
$input-color:                    $gray-new;
$input-color-disabled:           $gray-darker-new;

//** `<input>` border color
$input-border:                   $gray-lighter-new;
$input-border-disabled:          $input-border;  // $lightgray-light;
$input-border-focus:             $brand-primary;
$input-border-hover:             $input-border-focus;  //darken($input-border, 20%);
$input-border-error:             $state-danger-text;

// TODO: Rename `$input-border-radius` to `$input-border-radius-base` in v4
//** Default `.form-control` border radius
$input-border-radius:            $border-radius-base;
//** Large `.form-control` border radius
$input-border-radius-large:      $border-radius-large !default;
//** Small `.form-control` border radius
$input-border-radius-small:      $border-radius-small !default;

$input-border-width:             1px;

//** Placeholder text color
$input-color-placeholder:        $gray-darker-new;

//** Default `.form-control` height
$input-height-base:              ($line-height-computed + ($padding-base-vertical * 2) + 2) !default;
//** Large `.form-control` height
$input-height-large:             (ceil($font-size-large * $line-height-large) + ($padding-large-vertical * 2) + 2) !default;
//** Small `.form-control` height
$input-height-small:             (floor($font-size-small * $line-height-small) + ($padding-small-vertical * 2) + 2) !default;

// large input
$input-padding-horizontal:       20px;
$input-padding-vertical:         18px;
$input-height-lg:                60px;
$input-border-radius-lg:         $border-radius-lg;

//** `.form-group` margin
$form-group-margin-bottom:       15px !default;

$legend-color:                   $gray-dark !default;
$legend-border-color:            #e5e5e5 !default;

//** Disabled cursor for form controls and buttons.
$cursor-disabled:                not-allowed !default;


//== Dropdowns
//
//## Dropdown menu container and contents.

//** Background for the dropdown menu.
$dropdown-bg:                    $white;
//** Dropdown menu `border-color`.
$dropdown-border:                rgba(0,0,0,.15) !default;
//** Dropdown menu `border-color` **for IE8**.
$dropdown-fallback-border:       $middle-gray-color !default;
//** Divider color for between dropdown items.
$dropdown-divider-bg:            #e5e5e5 !default;

//** Dropdown link text color.
$dropdown-link-color:            $gray-dark !default;
//** Hover color for dropdown links.
$dropdown-link-hover-color:      darken($gray-dark, 5%) !default;
//** Hover background for dropdown links.
$dropdown-link-hover-bg:         #f5f5f5 !default;

//** Active dropdown menu item text color.
$dropdown-link-active-color:     $component-active-color !default;
//** Active dropdown menu item background color.
$dropdown-link-active-bg:        $component-active-bg !default;

//** Disabled dropdown menu item background color.
$dropdown-link-disabled-color:   $gray-light !default;

//** Text color for headers within dropdown menus.
$dropdown-header-color:          $gray-light !default;

$dropdown-item-height: 19px;
$dropdown-item-padding-horizontal: 25px;
$dropdown-item-padding-horizontal-sm: 20px;
$dropdown-item-padding-vertical: 8px;
$dropdown-item-glyphicon-size: 14px;
$dropdown-item-distance-between: 5px;


//-- Z-index master list
//
// Warning: Avoid customizing these values. They're used for a bird's eye view
// of components dependent on the z-axis and are designed to all work together.
//
// Note: These variables are not generated into the Customizer.

$zindex-navbar:            1000 !default;
$zindex-dropdown:          1000 !default;
$zindex-popover:           1060 !default;
$zindex-tooltip:           1070 !default;
$zindex-navbar-fixed:      1030 !default;
$zindex-modal-background:  1040 !default;
$zindex-modal:             1050 !default;

//== Media queries breakpoints
//
//## Define the breakpoints at which your layout will change, adapting to different screen sizes.

// Extra small screen / phone
//** Deprecated `$screen-xs` as of v3.0.1
$screen-xs:                  480px !default;
//** Deprecated `$screen-xs-min` as of v3.2.0
$screen-xs-min:              $screen-xs !default;
//** Deprecated `$screen-phone` as of v3.0.1
$screen-phone:               $screen-xs-min !default;

// Small screen / tablet
//** Deprecated `$screen-sm` as of v3.0.1
$screen-sm:                  768px;
$screen-sm-min:              $screen-sm;
//** Deprecated `$screen-tablet` as of v3.0.1
$screen-tablet:              $screen-sm-min !default;

// Medium screen / desktop
//** Deprecated `$screen-md` as of v3.0.1
$screen-md:                  1025px;
$screen-md-min:              $screen-md;
//** Deprecated `$screen-desktop` as of v3.0.1
$screen-desktop:             $screen-md-min;

// Large screen / wide desktop
//** Deprecated `$screen-lg` as of v3.0.1
$screen-lg:                  1200px !default;
$screen-lg-min:              $screen-lg !default;
//** Deprecated `$screen-lg-desktop` as of v3.0.1
$screen-lg-desktop:          $screen-lg-min !default;

// So media queries don't overlap when required, provide a maximum
$screen-xs-max:              ($screen-sm-min - 1);
$screen-sm-max:              ($screen-md-min - 1);
$screen-md-max:              ($screen-lg-min - 1) !default;


//== Grid system
//
//## Define your custom responsive grid.

//** Number of columns in the grid.
$grid-columns:              12 !default;
$grid-gutter-width:         30px;
// Navbar collapse
//** Point at which the navbar becomes uncollapsed.
$grid-float-breakpoint:     $screen-sm-min;
//** Point at which the navbar begins collapsing.
$grid-float-breakpoint-max: ($grid-float-breakpoint - 1);


//== Container sizes
//
//## Define the maximum width of `.container` for different screen sizes.

// Small screen / tablet
$container-tablet:             (720px + $grid-gutter-width) !default;
//** For `$screen-sm-min` and up.
$container-sm:                 $container-tablet !default;

// Medium screen / desktop
$container-desktop:            (940px + $grid-gutter-width) !default;
//** For `$screen-md-min` and up.
$container-md:                 $container-desktop !default;

// Large screen / wide desktop
$container-large-desktop:      (1140px + $grid-gutter-width) !default;
//** For `$screen-lg-min` and up.
$container-lg:                 $container-large-desktop !default;


//== Navbar
//
//##

$navbar-height:                    50px !default;
$navbar-margin-bottom:             $line-height-computed !default;


//== Pagination
//
//##

$pagination-color:                        $brand-primary;
$pagination-bg:                           transparent;
$pagination-border:                       transparent;

$pagination-hover-color:                  $brand-primary;
$pagination-hover-bg:                     transparent;
$pagination-hover-border:                 transparent;

$pagination-active-color:              #fff !default;
$pagination-active-bg:                 $brand-primary !default;
$pagination-active-border:             $brand-primary !default;

$pagination-disabled-color:            $gray-light !default;
$pagination-disabled-bg:               #fff !default;
$pagination-disabled-border:           #ddd !default;



//== Tooltips
//
//##

$tooltip-max-width:           200px !default;
$tooltip-color:               $white;
$tooltip-bg:                  $darkgray-dark;
$tooltip-opacity:             .9 !default;
$tooltip-arrow-width:         5px !default;
$tooltip-arrow-color:         $tooltip-bg !default;


//== Popovers
//
//##

//** Popover body background color
$popover-bg:                          $darkgray-dark;
$popover-font-color:                  $white;

//** Popover maximum width
$popover-max-width:                   276px !default;
//** Popover border color
$popover-border-color:                rgba(0,0,0,.2) !default;
//** Popover fallback border color
$popover-fallback-border-color:       $middle-gray-color !default;

//** Popover title background color
$popover-title-bg:                    darken($popover-bg, 3%) !default;
$popover-title-font-color:            $mediumgray-dark;

//** Popover arrow
$popover-arrow-width:                 10px !default;
$popover-arrow-color:                 $popover-bg !default;
$popover-arrow-outer-width:           ($popover-arrow-width + 1) !default;
$popover-arrow-outer-color:           $popover-bg;


//== Modals
//
//##

//** Padding applied to the modal body
$modal-inner-padding:         25px;

$modal-title-padding:          15px 30px;
$modal-title-line-height:     $line-height-base !default;

//** Background color of modal content area
$modal-content-bg:                             $white !default;
$modal-content-border-color:                   rgba(0,0,0,.2) !default;
$modal-content-fallback-border-color:          #999 !default;

//** Modal backdrop background color
$modal-backdrop-bg:           transparentize($middle-gray-color, 0.2);
$modal-backdrop-opacity:      .5 !default;
$modal-header-border-color:   $border-gray-color;
$modal-footer-border-color:   $modal-header-border-color !default;

$modal-border-radius: $border-radius-default;
$modal-footer-horizontal-padding: $padding-horizontal-lg;
$modal-footer-bottom-padding: $padding-md;

$modal-lg:                    900px !default;
$modal-md:                    600px !default;
$modal-sm:                    300px !default;


//== Alerts
//
//## Define alert colors, border radius, and padding.

$alert-padding:               15px !default;
$alert-border-radius: $border-radius-default;
$alert-link-font-weight:      bold !default;

$alert-success-bg:               #e8f7ed;  // $state-success-bg
$alert-success-text:             #1ba84e;  // $state-success-text
$alert-success-border:           #30b661;  // $state-success-border

$alert-info-bg:                  #d9edf7;  // $state-info-bg
$alert-info-text:                #4993c6;  // $state-info-text
$alert-info-border:              $alert-info-bg;  // $state-info-border

$alert-warning-bg:            $state-warning-bg !default;
$alert-warning-text:          $state-warning-text !default;
$alert-warning-border:        $state-warning-border !default;

$alert-danger-bg:                $white;  // $state-danger-bg
$alert-danger-text:              $red-danger;  // $state-danger-text
$alert-danger-border:            $red-danger;  // $state-danger-border // doesnt work !important") is not a color for `darken')

$alert-success-width: 200px;  // top message
$alert-from-top: $margin-normal;
$alert-margin-vertical: 10px;
$alert-margin-horizontal: $margin-md;
$alert-info-padding: $padding-md 10px; // $padding-small-horizontal in bootstrap
$alert-z-index: 500000;

//== Progress bars
//
//##

$progress-bg:                 #f5f5f5 !default;
$progress-bar-color:          #fff !default;
$progress-border-radius:      $border-radius-base !default;
$progress-bar-bg:             $brand-primary !default;


//== List group
//
//##

//** Background color on `.list-group-item`
$list-group-bg:                 #fff !default;
$list-group-border:             transparent;
$list-group-border-radius:      $border-radius-base !default;

//** Background color of single list items on hover
$list-group-hover-bg:           #f5f5f5 !default;
$list-group-active-color:       $component-active-color !default;
$list-group-active-bg:          $component-active-bg !default;
$list-group-active-border:      $list-group-active-bg !default;
$list-group-active-text-color:  lighten($list-group-active-bg, 40%) !default;

$list-group-disabled-color:      $gray-light !default;
$list-group-disabled-bg:         $gray-lighter !default;
$list-group-disabled-text-color: $list-group-disabled-color !default;

$list-group-link-color:          $darkgray-dark;
$list-group-link-hover-color:    $list-group-link-color !default;
$list-group-link-heading-color:  #333 !default;


//== Panels
//
//##

$panel-bg:                    $white;
$panel-body-padding:          15px !default;
$panel-heading-padding:       10px 15px !default;
$panel-footer-padding:        $panel-heading-padding !default;
$panel-border-radius:         $border-radius-large;

$panel-inner-border:          #ddd !default;
$panel-footer-bg:             #f5f5f5 !default;

$panel-default-border:        $border-color-base;

//== Panels
//
//##

//** Border color for elements within panels
$panel-inner-border:          #ddd !default;
$panel-footer-bg:             #f5f5f5 !default;

$panel-default-text:          $gray-dark !default;
$panel-default-border:        #ddd !default;
$panel-default-heading-bg:    #f5f5f5 !default;


//== Breadcrumbs
//
//##

$breadcrumb-padding-vertical:   8px;
$breadcrumb-padding-horizontal: 0; // 15px
$breadcrumb-bg:                 #fff !important;
$breadcrumb-color:              $middle-gray-color !default;
$breadcrumb-active-color:       $gray-light !default;
$breadcrumb-separator:          "/" !default;


//== Close
//
//##

$close-font-weight:           bold !default;
$close-color:                 #000 !default;
$close-text-shadow:           0 1px 0 #fff !default;


//== Code
//
//##

$code-color:                  #c7254e !default;
$code-bg:                     #f9f2f4 !default;

$kbd-color:                   #fff !default;
$kbd-bg:                      #333 !default;

$pre-bg:                      #f5f5f5 !default;
$pre-color:                   $gray-dark !default;
$pre-border-color:            $middle-gray-color !default;
$pre-scrollable-max-height:   340px !default;


//== Type
//
//##

//** Horizontal offset for forms and lists.
$component-offset-horizontal: 180px !default;
//** Text muted color
$text-muted:                  $gray-light !default;
//** Abbreviations and acronyms border color
$abbr-border-color:           $gray-light !default;
//** Headings small color
$headings-small-color:        $gray-light !default;
//** Blockquote small color
$blockquote-small-color:      $gray-light !default;
//** Blockquote font size
$blockquote-font-size:        ($font-size-base * 1.25) !default;
//** Blockquote border color
$blockquote-border-color:     $gray-lighter !default;
//** Page header border color
$page-header-border-color:    $gray-lighter !default;
//** Width of horizontal description list titles
$dl-horizontal-offset:        $component-offset-horizontal !default;
//** Horizontal line color.
$hr-border:                   $gray-lighter !default;


$horizontal-separator-color:  $gray-light-new;
$container-max-width: 1230px;
$container-sm-max-width: 760px;

$distance-hor-md: 20px;
$distance-ver-md: 35px;
$distance-ver-sm: 20px;

$panel-text-between-panels:      10px;
$panel-text-font:                16px;
$panel-text-height:              60px;

$panel-new-padding-hor: $distance-hor-md;
$panel-new-padding-hor-mobile: 10px;
$panel-new-filter-height: 50px;
$panel-new-filter-font: 13px;

$panel-header-height: 60px;
$panel-header-padding: $distance-hor-md;
$panel-header-line-height: $panel-header-height - $panel-header-padding*2;

$transition-duration-base: 0.5s;
$transition-style-base: ease-out;
$transition-default: all $transition-duration-base $transition-style-base;

$dropdown-transition: max-height $transition-duration-base $transition-style-base;

$shadow-default: 0 0 7px 0 rgba(0, 0, 0, 0.25);


// bootflat
$button-primary:                 $brand-primary;
$button-primary-hover:           $brand-saturated;
$button-normal:                  $gray-lighter-new;
$button-normal-hover:            $button-normal;
$button-default:                 $white;
$button-default-hover:           $brand-primary;

$button-font-color-dark:         $gray-new;
$button-font-color-light:        $white;

$link-font-color:             $brand-primary;
$link-font-color-hover:       $brand-saturated;

$list-radius:                                  4px !default;
$list-shadow:                                  0 1px 2px rgba(0, 0, 0, .2) !default;
$list-primary:                                 $brand-primary;
$list-background-color:                        $white !default;
$list-font-color:                              $darkgray-dark !default;
$list-item-background-color:                   $lightgray-dark !default;

$form-font-color:            #434A54;

// nav
$nav-header-content-height: 39px;
$nav-header-padding-ver: 15px;
$nav-header-padding-hor: 40px;
$nav-header-padding: $nav-header-padding-ver $nav-header-padding-hor;
$main-navigation-height: $nav-header-content-height + $nav-header-padding-ver*2 + 1px;
$main-navigation-height-mobile: 40px;
$main-navigation-to-content: 30px;
$main-navigation-to-content-mobile: 15px;

// numboard
$numboard-wrapper-padding: 10px;
$numboard-title-height-landscape: 30px;
$numboard-title-margin-landscape: 5px;
$numboard-input-margin: 30px;
$numboard-input-margin-landscape: 10px;
$numboard-input-height: 25px;  // hardcoded
$action-buttons-margin: 15px;
$action-buttons-height: 33px;  // hardcoded

// spinner
$spinner-xs: 16px;
$spinner-sm: 25px;
$spinner-md: 75px;
$spinner-dark-color: #444;
$spinner-light-color: lighten($spinner-dark-color, 90%);
$spinner-dark-stroke-color: #69717d;

// items table
$items-table-padding: 8px;
$items-table-row-padding: $items-table-padding $items-table-padding $items-table-padding 0;
$items-table-edit-border-width: 2px;

// data table
$data-table-cell-height: $height-sm;
$fix-column-width: 177px;
$fix-column-width-sm: 165px;
$fix-column-width-lg: 269px;

// content filter
$content-filter-height: 29px;
$content-filter-padding: 4px;

// inputs-group
$inputs-group-caption-size: 21px;
$inputs-group-subcaption-size: 14px;
$inputs-group-input-height: 45px;

// actions mixin
$actions-content-padding: 48px;
$actions-option-font-size: 16px;
$actions-option-padding: 10px;

// ng-tags
$search-tag-height: 34px;
$search-input-size: $search-tag-height + 6px;  // tag margins and borders
$search-input-margin: 5px;
$search-show-icon-size: 30px;
$search-show-icon-padding: ($search-input-size - 2px)/2;
$search-close-size: 28px;

$tag-item-distance-hor: 20px;
$tag-item-border-color: $brand-primary;
$tag-item-color: $brand-primary;
$tag-remove-button-size: 16px;

// Misc
$sorticon-size: 9px;
$sorticon-margin: 6px;

$drag-icon-size: 20px;

$page-title-font-size: 23px;
$page-title-margin-top: 30px;
$section-title-font-size: 15px;
$input-in-control-height: $height-md;
$input-in-control-padding-right: 5px;

$select-btn-inner-padding: 6px 15px 3px 12px;
$bootstrap-btn-height: 33px;

$btn-border-radius: $border-radius-default;

$desktop-to-mobile: .5;
$desktop-to-mobile-sm: .75;
$inputs-separator-distance: 5px;

$nav-header-title-size-sm: 19px;

// Paths
$images-path: '/assets/img';

// Screen
$screen-xxs-max: 479px;  // $screen-xs-min - 1;


// Pages
// ----------

// Files
$open-tree-icon-width: 20px;

// reports
$report-table-cell-padding: 2px 1px 3px 22px;

// ds
$ds-table-cell-padding: 3px 8px;
$ds-table-cell-min-width: 100px;  // to fit $xxx,xxx.xx

//chart
$chart-margin:75px;
$chart-indent-sm: 10px;
$chart-indent-md: 20px;
$chart-indent-xs: 30px;
$chart-border-radius: 2px;
$chart-base-width: 200px;
$chart-base-font-size: 12px;
