@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,400italic,300italic);

// Core variables and mixins
@import "variables";
@import "mixins/mixins";
@import 'bootstrap-additions/bootstrap-additions';


// Reset and dependencies
@import "style-components/style-components";
@import 'third-parties';
@import 'common';
@import 'states';
@import 'components/components';

// hacks
@import 'shame';

.task-list-container {
  display: flex;
  padding: 10px;
  margin: 0px;
  overflow: scroll;
}

.task-list {
  width: 276px;
  flex-shrink: 0;
  margin: 10px;

  &:before {
    content: "";
    height: 4px;
    width: 100%;
    display: block;
    border-radius: 2px 2px 0 0;
    background-color:#F6A623;
  }

  &__title {
    font-size: $inputs-group-caption-size;
    font-weight: 300;
    text-transform: capitalize;
    margin: 0px;
    padding: 18px 20px 0 20px;
    line-height: 1em;

    @media (max-width: $screen-xs-max) {
      font-size: 18px;
    }

    border-left: 1px solid $border-color-base;
    border-right: 1px solid $border-color-base;

    >span {
      color: $mediumgray-dark;
    }
  }
  &__content {
    padding: 21px;
    border: 1px solid $border-color-base;
    border-top: 0px;
    border-radius: 0 0 $border-radius-base $border-radius-base;
  }

  ul {
    list-style: none;
  }

  .dndPlaceholder {
    background: $border-color-base;
    height: 40px;
    border-radius: $border-radius-base;
    margin-top: 15px;

    &:first-child {
      margin-top: 0px;
    }
  }
}

.status-label {
  color: white;
  border-radius: $border-radius-base;
  padding: 2px 10px;
}

.task-list.status-0:before,
.status-label.s0 {
  background-color: #F6A623;
}
.task-list.status-1:before,
.status-label.s1 {
  background-color: #4AA2DB;
}
.task-list.status-2:before,
.status-label.s2 {
  background-color: #F8C71C;
}
.task-list.status-3:before,
.status-label.s3 {
  background-color: #56A500;
}

.task-card {
  border: 1px solid $border-color-base;
  border-radius: $border-radius-base;
  padding: 10px;
  margin-top: 12px;

  &:first-child {
    margin-top: 0px;
  }

  &__members {
    display: flex;
    flex-direction: row-reverse;
    overflow: scroll;
    margin-top: 10px;

    &__grid {
      flex-flow: wrap;
    }

    &__member,
    &__add,
    &__team {
      border: 1px solid $border-color-base;
      border-radius: $border-radius-base;
      width: 34px;
      flex-shrink: 0;
      height: 34px;
      line-height: 34px;
      text-align: center;
      margin-right: 10px;
    }

    &__member {
      cursor: pointer;

      &:first-child {
        margin-right: 0px;
      }
    }

    &__add {
      cursor: pointer;
      margin-right: 10px!important;

      >span {
        font-size: 32px;
        line-height: 32px;
        color: $mediumgray-dark;
      }
    }

    &__team {
      width: auto;
      padding: 0 10px;
      background-color: $border-color-base;
      white-space: nowrap;
    }
  }
}

.task-card__members__grid {
  margin: 5px -5px 0 -5px;
  .task-card__members__member {
    margin: 5px;
  }
}

.task-details {
  .panel-new__content {
    h5 {
      margin-bottom: 15px;
    }
  }
}

.task-checklist {

  margin: 35px 0;

  .progress-tracking {
    display: flex;
    justify-content: flex-start;
    vertical-align: middle;
    margin-bottom: 15px;

    > span {
      margin-right: 10px;
    }

    .progress-bar {
      margin: 6px;
      height: 8px;
      width: 800px;
      border-radius: 4px;
      background-color: $panel-inner-border;

      .completed {
        float: left;
        height: 100%;
        background-color: $brand-primary;
        border-radius: 4px;
      }
    }
  }

  .checkbox.mod-custom {
    padding-left: 0px;
  }
}

.task-split-view {
  display: flex;

  .avatar {
    width: 50px;
  }
  .content {
    width: 800px;
  }
}

.task-add-comment {
  .comment {
    margin-bottom: 18px;
  }
}

.task-activity {
  margin-bottom: 15px;

  &:last-child {
    margin-bottom: 0px;

    .content {
      border: 0px;
    }
  }

  .content {
    line-height: 34px;
    border-bottom: 1px solid $panel-inner-border;
    min-height: 50px;

    &.comment{
      p {
        margin: 0px;
        line-height: 100%;
      }
      .time {
        color: $gray-light;
        display: block;
        margin: 10px 0;

      }
    }
  }
}

.task-details .task-card__members {
  overflow: visible;
}

.context-menu {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
  background-color: $white;
  z-index: 1000;
  border: 1px solid transparent;
  display: none;

  @media (min-width: $screen-sm-min) {
    box-shadow: $shadow-default;
    border-color: $gray-lighter-new;
    // max-height: 244px;
    // min-width: 270px;
  }

  &.mod-opened {
    display: block;
  }
}

.add-member {
  width: 276px;
}

user-avatar {
  display: block;
}
