@import '../project/variables';
@import '../project/utils';
@import '../bootstrap/variables';

.border-top-xs,
td.mod-bordered {
  border-top: 1px solid $black;
}

td.mod-bordered-group {
  border-bottom: double;
}

.border-bottom-xs {
  border-bottom: 1px solid $black;
}

.btn.mod-report-content-filter {
  height: $content-filter-height;
  line-height: 13px;
}

.journal-report {
  .items-table {
    min-width: 625px;
  }
}

.filters-group {
  &.mod-row-filters {
    date-range-selector {
      float: left;
      padding-right: $padding-sm;
    }

    account-filter {
      float: left;
      width: 50%;
      padding: 0;
    }
  }

  &.mod-aside-filters {
    date-range-selector .custom-selector__btn,
    select {
      height: 34px !important;
    }

    select {
      width: 100%;
      max-width: 100%;
    }

    account-filter,
    date-range-selector,
    select,
    .calendar-input {
      display: block;
      margin-bottom: 15px;
    }
  }
}

@media (max-width: $screen-xs-max) {
  .content-filter tags-input.mod-xs {
    margin-top: 0;
  }
}

h5.margin-top-md {
  margin-top: $distance-ver-md;
}

.report-table.mod-reconciliation {
  td:first-child,
  th:first-child {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding-left: 0;

    @media (max-width: $screen-xs-max) {
      max-width: 210px;
    }
  }

  td, th {
    padding-left: 60px;

    @media (max-width: $screen-xs-max) {
      padding-left: 10px;
    }
  }

  thead {
    overflow: hidden;
    height: 0;
    border-bottom: none;
  }

  tr.mod-no-hover:hover {
    background-color: transparent;
  }

  tr td {
    padding-top: $margin-normal / 2;
    padding-bottom: $margin-normal / 2;
  }
}

.report-table.mod-admin {
  th {
    max-width: 122px;  // $xx,xxx,xxx.xx
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}


.beginning-bank-balance {
  $icon-margin-left: 8px;

  padding-top: 3px !important;
  padding-bottom: 2px !important;

  input {
    height: auto;
    padding: 0 5px;
    min-width: 100px;
  }

  + td.mod-checked {
    background: url(#{$images-path}/checkmark.success.svg) no-repeat $icon-margin-left center transparent;
    background-size: 16px;
  }

  + td.glyphicon-remove {
    font-size: 11px;
    padding-left: $icon-margin-left;
    color: $alert-danger-text;
  }
}

.half-column {
  display: table-cell;
  width: 50%;
  vertical-align: top;

  &:first-child {
    padding-right: 10px;
  }

  &:last-child {
    padding-left: 10px;
  }

  &__wrapper {
    display: table;
    width: 100%;
    min-height: 60px;
  }
}

.panel-text__info.mod-sortable-placeholder .as-sortable-placeholder {
  width: auto !important;
  height: auto !important;
}

drag-drop.mod-deposit-item {
  position: absolute;
  left: 4px;
}

aside-button {
  .btn-default.mod-report-content-filter {
    color: $icon-color;

    @media (max-width: $screen-xs-max) {
      border: none;
      background-color: transparent;

      &:hover,
      &:active {
        color: $icon-color;
        background-color: transparent;
        box-shadow: none;
      }
    }
  }

  @media (max-width: $screen-xs-max) {
    z-index: 1030;
    position: fixed;
    top: 5px;
    right: 0;
  }
}

.js-export-subtitle {
  height: 0;
  width: 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -10000;
}

.content-filter account-filter.mod-ledger-journal {
  @media (max-width: $screen-xs-max) {
    display: none;
  }
}

.filters-group.mod-row-filters {
  @media (max-width: $screen-xs-max) {
    report-type {
      display: none;
    }

    date-range-grouping > * {
      width: auto;
    }
  }
}
