@import '../project/variables';
@import '../project/utils';
@import '../bootstrap/variables';

.border-top-xs {
  border-top: 1px solid $black;
}

.border-bottom-double {
  border-bottom: double;
}

.border-bottom-xs {
  border-bottom: 1px solid $black;
}

.btn.mod-report-content-filter {
  height: $content-filter-height;
  line-height: 13px;
}

.journal-report {
  overflow: scroll;

  .items-table {
    min-width: 560px;
  }
}

.calendar-input.mod-content-filter {
  height: 29px;
  max-width: 150px;

  ~ .glyphicon {
    padding: 7px !important;
    right: 5px !important;
  }
}

.am-slide-right.mod-fix-right {
  right: 0;
}

.filters-group {
  &.mod-row-filters {
    date-range-selector {
      float: left;
      padding-right: $padding-sm;
    }

    account-filter {
      float: left;
      width: 50%;
      padding: 0;
    }
  }

  &.mod-aside-filters {
    date-range-selector .custom-selector__btn,
    select {
      height: 34px !important;
    }

    select {
      width: 100%;
      max-width: 100%;
    }

    account-filter,
    date-range-selector,
    select,
    .calendar-input {
      display: block;
      margin-bottom: 15px;
    }
  }
}
