@import '../project/variables';
@import '../project/utils';
@import '../bootstrap/variables';

.border-top-xs {
  border-top: 1px solid $black;
}

.border-bottom-xs {
  border-bottom: 1px solid $black;
}

accounting-settings {
  .custom-selector__options {
    right: 0;
  }
}

.btn.mod-report-content-filter {
  line-height: 13px;

  height: $content-filter-height;
}

.journal-report {
  overflow: scroll;

  .items-table {
    min-width: 560px;
  }
}

.calendar-input.mod-content-filter {
  height: 29px;
  max-width: 150px;

  ~ .glyphicon {
    padding: 7px !important;
    right: 5px !important;
  }
}
