@import '../project/variables';
@import '../project/utils';
@import '../bootstrap/variables';

.activity-log {
  &__search {
    padding-left: $padding-vertical-lg;

    &.mod-search-icon {
      background: url(/assets/img/magnifying-glass16.svg) no-repeat 5px center;
      background-size: 12px;
    }
  }

  &__table {
    margin-top: $padding-horizontal-lg;
  }

  &__filter {
    margin-top: $padding-horizontal-lg;
  }

  &__tags-input {
    max-width: 500px;
    padding: 0;
    border: none;
    .input {
      height: 100% !important;
      line-height: 30px;
    }
  }

}
