@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import '../project/variables';
@import '../bootstrap/variables';

body {
  padding: 0;
}

.additional-info {
  clear: both;
  margin-top: 4px;
  margin-bottom: 10px;
  padding-left: $inputs-separator-distance;

  a {
    font-size: 15px;
    font-weight: 400;

    @media (max-width: $screen-xs-max) {
      font-size: 12px;
    }
  }

  @media (max-width: $screen-xs-max) {
    font-size: 12px;
  }
}

.terms-modal-open,
.privacy-modal-open {
  .modal-body {
    background-color: $white;
  }
}

.modal-body-content {
  overflow-y: scroll;
  background-color: $white;
  max-height: 50vh;

  @media (max-width: $screen-xs-max) {
    max-height: calc(100vh - 110px);
  }
}

.btn.mod-move-down {
  $margin-top-desktop: 32px;
  margin-top: $margin-top-desktop;

  @media (max-width: $screen-xs-max) {
    margin-top: $desktop-to-mobile*$margin-top-desktop;
  }
}

.form-control {
  @include animation-name(slideDown);
  @include animation-iteration-count(1);
  @include animation-duration(.2s);
}

@keyframes slideDown {
  0% {
    height: 0;
  }

  100% {
    height: 60%;
  }
}
