@import '../project/variables';
@import '../bootstrap/variables';

.tags {
  min-height: 38px !important;
}

.input {
  height: 36px !important;
  margin: 0 !important;
}

.tag-item {
  line-height: 30px !important;

  height: 32px !important;
}

.ng-invalid.ng-touched .host {
  border-width: 1px !important;
  border-color: $grapefruit-dark !important;
}

.padding-left-at-xs {
  padding-left: 0;

  @media (max-width: $screen-xs-max) {
    padding-left: 15px;
  }
}
