@import '../project/variables';
@import './files';

.dashboard {
  .content-box {
    padding: 40px;
    position: relative;

    @media (max-width: $screen-xs-max) {
      padding: 20px;
    }
  }

  .promo-title {
    font-size: 27px;
    font-weight: 300;
    line-height: 20px;
    margin: 0 0 5px;

    @media (max-width: $screen-xs-max) {
      font-size: 20px;
    }
  }

  .title {
    font-size: 18px;
    font-weight: 300;
    color: #4c5557;
  }

  .description {
    font-size: 16px;
    color: #98a9b1;
    font-weight: 300;
    margin: 0 0 20px;
  }

  .item-list {
    max-width: 600px;
    &__frame {
      padding-bottom: 30px;
      position: relative;
      &:first-child {
        &:after {
          top: -300px;
        }
      }
      &:last-child {
        &:after {
          bottom: auto;
        }
      }
      &:after {
        content: "";
        position: absolute;
        left: -40px;
        top: 0;
        bottom: -15px;
        width: 1px;
        background-color: $gray-border;
      }

      &:before {
        content: "";
        border: 2px solid #00b3ee;
        border-radius: 10px;
        background: $white;
        width: 12px;
        height: 12px;
        position: absolute;
        left: -46px;
        top: 6px;
        color: #00b3ee;
        z-index: 2;
      }

      @media (max-width: $screen-xs-max) {
        &:after,
        &:before {
          width: 0;
          height: 0;
          border: none;
        }
      }
    }
    &__row {
      padding: 25px 40px 25px 65px;
      border: 1px solid $gray-border;
      position: relative;
      color: #98a9b1;
      border-radius: 3px;
      margin-bottom: 10px;
      cursor: pointer;

      @media (max-width: $screen-xs-max) {
        padding: 20px 20px 20px 60px;
      }
    }
  }

  .glyphicon.glyphicon-menu-right.alt {
    color: $brand-primary;
    font-size: 20px;
    position: absolute;
    top: 50%;
    right: 24px;
    transform: translate3d(0, -50%, 0);

    @media (max-width: $screen-xs-max) {
      right: 5px;
    }
  }

  .icon {
    position: absolute;
    left: 15px;
    top: 50%;
    font-size: 40px;
    transform: translate3d(0, -50%, 0);

    @media (max-width: $screen-xs-max) {
      left: 10px;
    }
  }

  .form-control {
    min-height: 44px;
  }

  .btn-top {
    left: 40px;
    top: 92px;
    color: #98a9b1;
    position: absolute;
    z-index: 99999;

    @media (max-width: $screen-xs-max) {
      left: 10px;
      top: 10px;
      &__cap {
        display: none;
      }
    }
  }

  @media (max-width: $screen-xs-max) {
    .bigaction {
      .logo {
        display: none;
      }
    }
  }
}

.js-dashboard-item-open {
  #intercom-container {
    display: none;
  }
  .navbar {
    z-index: 999999;

    @media (max-width: $screen-xs-max) {
      display: none !important;
    }
  }
}

//.overview {
//
//  .panel-default > .panel-heading,
//  &__panel .panel-footer {
//    border-color: $gray-border;
//    background-color: $gray-background;
//  }
//
//  &__header {
//    margin-left: 15px;
//  }
//
//  &__counter {
//    font-size: $font-size-xlg;
//    padding: $padding-md 0;
//  }
//
//  &__week_item {
//    margin-top: 6px;
//  }
//
//  &__chart_control {
//    @media (max-width: $screen-xxs-max) {
//      float: none !important;
//      margin-top: 5px;
//    }
//
//    .btn-group {
//      margin-left: 0 !important;
//    }
//  }
//
//  &__table_header th {
//    border-top: none !important;
//  }
//
//  &.container-fluid {
//    max-width: 1600px;
//  }
//}
//
//select.btn-xs {
//    height:22px;
//}
//
//.panel-body {
//  svg:not(:root) {
//    overflow: visible;
//  }
//}
//
//.bank-credit-table td {
//  min-width: 88px;
//}
