@import '../project/variables';
@import './files';

.dashboard {
  .content-box {
    padding: 40px;
    position: relative;

    @media (max-width: $screen-xs-max) {
      padding: 20px;
    }
  }

  .promo-title {
    font-size: 27px;
    font-weight: 300;
    line-height: 20px;
    margin: 0 0 5px;

    @media (max-width: $screen-xs-max) {
      font-size: 20px;
    }
  }

  .title {
    font-size: 18px;
    font-weight: 300;
    color: #4c5557;
  }

  .description {
    font-size: 16px;
    color: #98a9b1;
    font-weight: 300;
    margin: 0 0 20px;
  }

  .item-list {
    max-width: 600px;
    &__frame {
      padding-bottom: 30px;
      position: relative;
      &:first-child {
        &:after {
          top: -300px;
        }
      }
      &:last-child {
        &:after {
          bottom: auto;
        }
      }
      &:after {
        content: "";
        position: absolute;
        left: -40px;
        top: 0;
        bottom: -15px;
        width: 1px;
        background-color: $gray-border;
      }

      &:before {
        content: "";
        border: 2px solid #00b3ee;
        border-radius: 10px;
        background: $white;
        width: 12px;
        height: 12px;
        position: absolute;
        left: -46px;
        top: 6px;
        color: #00b3ee;
        z-index: 2;
      }

      @media (max-width: $screen-xs-max) {
        &:after,
        &:before {
          width: 0;
          height: 0;
          border: none;
        }
      }
    }
    &__row {
      padding: 25px 40px 25px 65px;
      border: 1px solid $gray-border;
      position: relative;
      color: #98a9b1;
      border-radius: 3px;
      margin-bottom: 10px;
      cursor: pointer;

      &.is-overdue {
        border-color: $red-danger;
      }

      @media (max-width: $screen-xs-max) {
        padding: 20px 20px 20px 60px;
      }
    }
  }

  .glyphicon.glyphicon-menu-right.alt {
    color: $brand-primary;
    font-size: 20px;
    position: absolute;
    top: 50%;
    right: 24px;
    transform: translate3d(0, -50%, 0);

    @media (max-width: $screen-xs-max) {
      right: 5px;
    }
  }

  .icon {
    position: absolute;
    left: 15px;
    top: 50%;
    font-size: 40px;
    transform: translate3d(0, -50%, 0);

    @media (max-width: $screen-xs-max) {
      left: 10px;
    }
  }

  .form-control {
    min-height: 44px;
  }

  .btn-top {
    left: 40px;
    top: 20px;
    color: #98a9b1;
    position: fixed;
    z-index: 99999;

    @media (max-width: $screen-xs-max) {
      left: 10px;
      top: 10px;
      &__cap {
        display: none;
      }
    }
  }

  .big{
    &.action {
      .logo {
        margin-top: 40px;

        @media (max-width: $screen-xs-max) {
          display: none;
        }
      }
    }
  }
}

.check-list {
  margin-bottom: 40px;
  > div {
    padding: 0 10px 20px;
  }
}

.js-dashboard-item-open {
  padding-top: 50px;

  #intercom-container {
    display: none;
  }
}
