@import '../project/variables';

section {
  padding-bottom: 30px;
}

.sg-nav {
  padding-left: 20px;
  border-left: 2px solid #ddd;
  font-size: 1.1em;

  li a {
    padding: 5px 10px;
    color: #555;
  }

  .active {
    font-weight: bold;

    .nav {
      display: block;
      padding-left: 0;
      border-left: none;

      a {
        padding-left: 25px;
        font-weight: normal;
        font-size: .85em;
      }

      .active a,
      .active:hover a,
      .active:focus a {
        font-weight: bold;
        border-left: 5px solid #555;
      }
    }
  }

  .nav {
    display: none;
  }
}

@media (min-width: 768px) {
  .sg-example {
    margin-right: 0;
    margin-left: 0;
    background-color: #fff;
    border-color: #ddd;
    border-width: 1px;
    border-radius: 4px 4px 0 0;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
}

.sg-example {
  position: relative;
  padding: 15px 15px 15px;
  border-style: solid;
  border-width: 1px 0;
  -webkit-box-shadow: inset 0 3px 6px rgba(0,0,0,.05);
  box-shadow: inset 0 3px 6px rgba(0,0,0,.05);
  border: 1px solid $middle-gray-color;
}

.sg-example+pre {
  border-top: none;
}

.sg-callout-warning {
  margin: 5px 0;
  padding-left: 10px;
  border: 1px solid $middle-gray-color;
  border-left: 3px solid #aa6708;
}

/* Colors
-------------------------------------------- */
.sg-color {
  background: #fff;
  border: 1px solid #b3b3b3;
  display: inline-block;
  height: 80px;
  margin: 0 .5em .5em 0;
  padding: 5px;
  position: relative;
  width: 100px;
}
.sg-lg {
  width: 140px;
  height: 100px;
}
.sg-color-swatch {
  display: block;
  height: 100%;
  width: 100%;
}
.sg-color-swatch span {
  background: #000;
  background: rgba(0, 0, 0, 0.7);
  color: #fff;
  font-size: .8em;
  margin: 0;
  opacity: 0;
  padding: 5px 0;
  position: absolute;
  text-align: center;
  text-transform: uppercase;
  width: 88px;
}

.sg-color-swatch span.name {
  bottom: 30px;
}

.sg-color-swatch span.color {
  bottom: 5px;
}

.sg-lg .sg-color-swatch span {
  width: 128px;
}
.sg-color-swatch:hover span {
  opacity: 1;
}
.sg-brand-primary .sg-color-swatch {
  background: $brand-primary;
}
.sg-brand-saturated .sg-color-swatch {
  background: $brand-saturated;
}
.sg-middle-gray .sg-color-swatch {
  background: $middle-gray-color;
}
.sg-table-border .sg-color-swatch {
  background: $table-border-color;
}
.sg-gray-border .sg-color-swatch {
  background: $gray-border;
}
/* Grid
---------------------------------------------------------------------------- */
.show-grid {
  padding: .5em 0;
}
.show-grid div {
  background-color: $middle-gray-color;
  border: 1px solid $white;
  padding: 0.5em;
  font-size: 12px;
}

/* Fonts
---------------------------------------------------------------------------- */
.sg-font {
  font-size: 1.8em;
  padding: 0 0 .2em 0;
}
.sg-font-old {
  font-family: 'Open Sans', 'Helvetica Neue' ,Helvetica,Arial, sans-serif;;
}
.sg-font-new {
  font-family: 'Open Sans Light', 'Open Sans';
}

/*
 * Glyphicons
 *
 * Special styles for displaying the icons and their classes in the docs.
 */

.sg-glyphicons {
  margin: 0 -10px 20px;
  overflow: hidden;
}
.sg-glyphicons-list {
  padding-left: 0;
  list-style: none;
}
.sg-glyphicons li {
  float: left;
  width: 25%;
  height: 115px;
  padding: 10px;
  font-size: 10px;
  line-height: 1.4;
  text-align: center;
  background-color: $middle-gray-color;
  border: 1px solid $white;
}
.sg-glyphicons .glyphicon {
  margin-top: 5px;
  margin-bottom: 10px;
  font-size: 24px;
}
.sg-glyphicons .glyphicon-class {
  display: block;
  text-align: center;
  word-wrap: break-word; /* Help out IE10+ with class names */
}
.sg-glyphicons li:hover {
  color: $white;
  background-color: $brand-saturated;
}

@media (min-width: 768px) {
  .sg-glyphicons {
    margin-right: 0;
    margin-left: 0;
  }
  .sg-glyphicons li {
    width: 12.5%;
    font-size: 12px;
  }
}

pre {
  margin: 10px 0;
}
.js-docs-text br {
  color: #ccc;
}
.img-holder img {
  display: block;
  margin: 0 auto;
}
date-range-selector {
  border: 1px solid #dde1e4;
}
.input-message {
  display: block;
  position: static;
  left: auto;
  top: auto;
  bottom: auto;
}
.alert {
  position: static;
  left: auto;
  top: auto;
  right: auto;
}
.main-table {
  width: 100%;
  border-collapse: collapse;
  overflow: hidden;
  background: #f9f9f9;
}
.main-table td {
  position: relative;
  width: 16.666%;
  padding: 5px;
  height: 100px;
  text-align: center;
  border: 2px solid #fff;
}
.main-table i {
  position: static;
  left: auto;
  top: auto;
  display: block;
  padding: 0;
  margin: 0 auto 5px;
  width: 24px;
  height: 24px;
  float: none;
  fill: #4c5557;
}
.main-table .icon-circle--expand{
  background: #4c5557;
  border-color: #4c5557;
  width: 21px;
  height: 21px;
}
.main-table i.middle-size {
  background-size: 24px 24px;
}
.main-table i.custom-panel__image,
.main-table i.calendar-input {
  background-size: 20px 24px;
}
.main-table .desc {
  display: block;
}
.example-container {
  width: 100%;
  min-height: 200px;
  overflow: hidden;
  display: flex;
  flex-flow: row wrap;
  text-align: center;
}
.example-container div {
  margin-right: 5px;
  border-radius: 5px;
}
.example-container-sidebar {
  background: #80bdff;
  order: 1;
  flex: 1 auto;
}
.example-container-body {
  background: #ccc;
  order: 2;
  flex: 5 auto;
}
.search__wrapper {
  border: 1px solid #d8dddf;
  min-height: 49px;
}
tags-input .host {
  border: none !important;
}
#tag-search .search__show {
  top: 4px;
}
#tag-search .icon-close {
  top: 8px;
}
.report-table th,
.report-table td {
  width: 20%;
  text-align: right;
  padding: 2px 1px 3px 22px;
}
.report-table th:first-child,
.report-table td:first-child {
  width: 35%;
  text-align: left;
}
.panel-new__filter {
  border: 1px solid #dde1e4;
}
