@import '../project/variables';
@import '../bootstrap/variables';

$fix-column-width: 165px;
$fix-column-width-lg: 269px;

table.summary-table {
  border-collapse: collapse;

  @media (max-width:$screen-xs-max){
    width:100%;
  }

  .active-row {
    background-color: $table-bg-hover;
  }

  th,td {
    min-width: $ds-table-cell-min-width;
    padding: $ds-table-cell-padding;
  }

  .category-head.fix-first-column {
    width: 100% !important;
    height: $data-table-cell-height + 1 !important; //fix bottom border
    z-index: 1;   //fix hidding of bottom border when next row is hovered
  }
}

.ds-cell {
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  min-width: $ds-table-cell-min-width;

  &.editable {
    border: 1px solid $table-border-color;

    .has-error {
      outline: 2px solid red !important;
    }

    .input-wrapper {
      height: 20px;
    }

    .tooltip {
      white-space: nowrap;
      left: auto !important;
      right: 6px;
    }
  }
  .spinner {
    width: 15px;
  }
}

.calculated-value{
  display: inline-block;
  padding-right:1px;
}

@mixin table-overflow-wrapper($width) {
  width: calc(100% - #{$width});
  margin-left: $width;

  .fix-first-column {
    width: $width !important;
  }

  .ps-scrollbar-x-rail {
    left: $width !important;
  }

  .sticky-top--ds {
    max-width: $container-max-width - $grid-gutter-width - $width;
    width: calc(100% - #{$width + $grid-gutter-width});
  }

}

.table-overflow-wrapper {

  @media (max-width: $screen-md-max) {
    @include table-overflow-wrapper($fix-column-width);
  }

  @media (min-width: $screen-lg-min) {
    @include table-overflow-wrapper($fix-column-width-lg);
  }

  .ps-scrollbar-x-rail {
    top: 3px !important;
  }
}

.sticky-top--ds {
  background-color: transparentize($white, .25);
  z-index: 1000;

  @media (max-width: $screen-sm-min) {  // yes, ipad portrait as well
    margin-right: $grid-gutter-width/2;
  }
}
