@import '../project/variables';
@import '../bootstrap/variables';

.update-prices-modal {
  @media (max-width: 420px) {
    .datepicker {
      left: -91px !important;  // fixes ang strap js positioning issue
    }
  }
}

.item-units-input {

  .glyphicon-plus:hover,
  .glyphicon-plus:focus,
  .glyphicon-minus:hover,
  .glyphicon-minus:focus {
    color: $black;
  }

  .btn {
    height: $bootstrap-btn-height;
    @media (max-width:$screen-xs-max){
      padding-left: 6px;
      padding-right: 6px;
    }
  }
}

.content-filter {
  margin-bottom: 0;
}
