@import '../bootstrap/variables';

.item-units-input {
  .glyphicon-plus:hover,
  .glyphicon-plus:focus,
  .glyphicon-minus:hover,
  .glyphicon-minus:focus {
    color: $black;
  }

  .btn {
    height: $bootstrap-btn-height;

    &:first-child {
      border-left-color: $input-border;
    }

    @media (max-width: $screen-xs-max) {
      padding-right: 6px;
      padding-left: 6px;
    }
  }
}

.panel-new__header .breadcrumb > li > span {
  max-width: none;
}

.items-table__row {
  line-height: 43px !important;
}

.btn-fake.editable {
  overflow: visible;

  input:focus {
    margin: -1px;
    padding: 0 11px !important;
    border: 1px solid $brand-primary;
    outline: none !important;
  }
}

.inventory-item-caption {
  line-height: 21px;

  svg {
    width: 20px !important;
  }
}
