@import '../project/variables';
@import '../bootstrap/variables';

.stacked-inputs-row {
  position: relative;
  border-bottom: 1px solid $table-border-color;

  input, select {
    height: $height-md;
    border: none !important;

    &.ng-dirty.has-error {
      border: 1px solid $grapefruit-dark !important;
    }
  }

  &.mod-desktop {
    border-left: 1px solid $table-border-color;

    input {
      border-right: 1px solid $table-border-color !important;
    }
  }

  &.mod-inactive {
    background-color: lighten($gray-base, 97.5%);

    input,
    select,
    div {
      background-color: lighten($gray-base, 97.5%);
    }
  }
}

.header.mod-journal {
  padding-right: 0;

  border-bottom-width: 1px;
}

.padding-horizontal-base {
  padding-right: $padding-base-horizontal;
  padding-left: $padding-base-horizontal;
}

.border-right {
  border-right: 1px solid $table-border-color;
}

drag-drop.visible .drag-drop {
  visibility: visible;

  padding-left: 5px;
}

.as-disabled {
  background-color: $form-disabled-color;
}
