@import '../project/variables';
@import '../bootstrap/variables';

.stacked-inputs-row {
  position: relative;
  border-bottom: 1px solid $table-border-color;

  input, select {
    height: $height-md;
    border: none !important;
    border-radius: 0;

    &.form-control.has-error {
      border: 1px solid $grapefruit-dark !important;
    }
  }

  .form-control__over {
    line-height: $height-md;
  }

  &.mod-desktop {
    border-left: 1px solid $table-border-color;

    input {
      border-right: 1px solid $table-border-color !important;
    }
  }

  &.mod-inactive {
    background-color: lighten($gray-base, 97.5%);

    input,
    select,
    div {
      background-color: lighten($gray-base, 97.5%);
    }
  }
}

.header.mod-journal {
  padding-right: 0;

  border-bottom-width: 1px;
}

.padding-horizontal-base {
  padding-right: $padding-base-horizontal;
  padding-left: $padding-base-horizontal;
}

.border-right,
.border-right:hover {
  border-right: 1px solid $table-border-color;
}

drag-drop.visible .drag-drop {
  visibility: visible;

  padding-left: 5px;
}

.as-disabled {
  background-color: $input-bg-disabled;
}

.b-delete-icon {
  height: 33px;
  padding: 0 6px !important;
}
