@import '../project/variables';

body {
  padding: 0;
}

.btn-top {
  margin-top: 27px;

  @media (max-width: $screen-xs-max) {
    margin-top: 5px;
  }

  &__icon {
    &,
    &:hover,
    &:focus {
      background-position: top center;
      background-size: 36px;
    }
  }

  &__cap {
    color: $icon-color;
    font-size: 13px;
    text-align: center;
  }

  &__wrapper {
    position: absolute;
    top: 0;
    right: ($grid-gutter-width / 2);
    left: ($grid-gutter-width / 2);
  }
}

.btn-step {
  padding-right: $distance-hor-md;
}

.margin-top-lg {
  margin-top: 40px;
}

.is-submitted {
  .ng-invalid {
    border-color: red;
  }
}
