// WARNINIG!
// this is a test version
// the markup and styles will be changed significantly
// later
// so no worries about the this shitty code

@import '../project/variables';


.overview {

  .panel-default > .panel-heading,
  &__panel .panel-footer {
    border-color: $gray-border;
    background-color: $gray-background;
  }

  &__header {
    margin-left: 15px;
  }

  &__counter {
    font-size: $font-size-xlg;
    padding: $padding-md 0;
  }

  &__week_item {
    margin-top: 6px;
  }

  &__chart_control {
    @media (max-width: $screen-xxs-max) {
      float: none !important;
      margin-top: 5px;
    }

    .btn-group {
      margin-left: 0 !important;
    }
  }

  &__table_header th {
    border-top: none !important;
  }

  &.container-fluid {
    max-width: 1600px;
  }
}

select.btn-xs {
    height:22px;
}

.panel-body {
  svg:not(:root) {
    overflow: visible;
  }
}

.bank-credit-table td {
  min-width: 88px;
}
