// WARNINIG!
// this is a test version
// the markup and styles will be changed significantly
// later
// so no worries about the this shitty code

@import '../project/variables';
@import '../bootstrap/variables';

.overview__header{
    margin-left:15px;
}

.overview__counter {
    font-size: $font-size-xlg;
    padding: $padding-md 0;
}
 
.overview__week_item {
    margin-top:6px;
}


select.btn-xs{
    height:22px;
}

.overview__chart_control{
  @media (max-width: $screen-xxs-max) {
      margin-top:5px;
      float: none !important;
  }

  .btn-group {
    margin-left: 0 !important;
  }
}

.overview__table_header th{
    border-top:none!important;
}

.panel-body {
  svg:not(:root) {
    overflow: visible;
  }
}

.bank-credit-table td {
  min-width: 88px;
}
