
@import '../project/variables';
@import '../bootstrap/variables';
@import '../project/utils';

$overdue-label-width: 3px;
$overdue-label-color: #F25353;


.margin-right-sm {
  margin-right: $margin-xs !important;
}

.form-control.mod-read-only-block {
  width: auto;
  height: auto;
  margin-right: 0;
  margin-bottom: $distance-ver-md;
}

.text-left-xxs {
  @media (max-width: $screen-xxs-max) {
    text-align: left;
  }
}

.visible-xxs {
  @media (min-width: $screen-xs-min) {
    display: none;
  }
}

.margin-bottom-md {
  margin-bottom: $distance-ver-md;
}

.remove-detail-btn {
  $from-top-to-start: ($inputs-group-input-height - 30px)/2;
  position: absolute;
  top: $from-top-to-start;
  right: -15px;
  color: $gray-middle-new;
  cursor: pointer;

  @media (max-width: $screen-xxs-max) {
    top: $inputs-group-input-height + 24px + $from-top-to-start;
  }
}

.has-error .form-control[disabled] {
  border-color: $grapefruit-dark;
}

.has-error .panel-new__filter__item {
  &,
  & .caret {
    color: $grapefruit-dark;
  }
}

.modal.mod-over-alert {
  z-index: $alert-z-index + 1;
}

.items-table__row__over {
  apply-transaction button {
    float: right;
  }

  &.mod-view-payments {
    top: 6px;
  }
}

.items-table{
  &.mod-pay-bills {
    .items-table__row {
      padding-bottom: 0;
    }
  }

  &__row .checkbox.mod-custom label {
    @media (max-width: $screen-xs-max) {
      top: 0 !important;
    }
  }
}

.input-helper {
  // height: 20px;
  line-height: 14px;
  font-size: $font-size-xs;
  padding: 2px $padding-base-horizontal 2px 0;
  text-align: right;
  color: $gray-light;

  &.mod-danger {
    color: $state-danger-text;
  }
}

.dropdown-menu.mod-wide {
  @media (min-width: $screen-sm-min) {
    top: -1px !important;
    min-width: 250px;
  }
}

.table-view__column:first-child .table-view__row.mod-overdue  .table-view__row-cell {
  padding-left: 20px - $overdue-label-width !important;
  border-left: $overdue-label-width solid $overdue-label-color;
  height: 44px;
  line-height: 44px;
}

.table-view__mobile-row.mod-overdue {
  margin-left: -$overdue-label-width;
  border-left: $overdue-label-width solid $overdue-label-color;
}

.wtfsection {
  padding: 5px 20px;
  border-bottom: 1px solid $border-color-base;

  .add-control {
    margin-bottom: 0;
  }
}
