@import '../project/variables';
@import '../project/utils';
@import '../bootstrap/variables';

%report-table-column {
  // should fit $xxx,xxx.xx and do not overflow container
  // on medium and large screens
  padding-left: 22px;
  min-width: 100px;

  @media (max-width: $screen-md-max) {
    padding-left: 3px;
    min-width: 98px;
  }
}

.report-table {
    thead {
      border-bottom: 1px solid $table-border-color;
    }

    td {
      padding: $report-table-cell-padding;
      @extend %report-table-column;
    }

    td, th, b {
      white-space: nowrap;
    }

    // transactions table only
    &.expanded{
        /*im ugly and i know it*/
        /*adding a border to emulate padding when table goes wider than the screen*/
        border-right:40px solid transparent;
        border-collapse: separate;
    }

    .fix-first-column {
      width: $fix-column-width + 1 !important;      //+1 fix white line that separate first column and data
    }

    &.mod-panel {
      width: 100%;

      .fix-first-column {
        width: $fix-column-width + 1 + $panel-body-padding !important;
        padding-left: $panel-body-padding;  // report panel padding
      }
    }
}

.panel-content {
  padding: 15px;
}

.panel-heading {
  background-color: $gray-background;
  border-bottom-color: $gray-border;
}

.table-overflow-wrapper {
  .ps-scrollbar-x-rail {
    top: 50px !important;
  }

  &.mod-adaptive  .ps-scrollbar-x-rail {
    top: 3px !important;
  }
}

.total-column {
  @extend %report-table-column;
}

.content-filter {
  // third-party, so everything is important here

  @media (min-width: $screen-sm-min) {
    select {
      max-width: 200px;
    }
  }

  tags-input.mod-transactions-report {
    @media (min-width: $screen-lg-min) {
      min-width: 200px;
      max-width: 378px;
    }

    @media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
      min-width: 200px;
      max-width: 278px;
    }

    @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
      width: 182px;
    }

    @media (max-width: $screen-xs-max) {
      $content-height: $height-md - 8;

      max-width: 320px;
      margin-bottom: 10px;
      min-height: $height-md;

      .input {
        height: $content-height !important;
      }

      .tag-item {
        height: $content-height !important;
        line-height: $content-height - 1 !important;
      }
    }
    @media (max-width: $screen-xs-min) {
      max-width: 270px;
    }
  }

  .aside {

    .add-control {
      .form-control {
        height: 40px!important;
        margin-bottom: 10px;
      }
    }

    .custom-selector__btn{
      line-height:2.1;
    }
  }

  .btn {
    &.mod-export {
      height: 29px;
      vertical-align: middle;
    }
  }
}

.custom-selector__btn,
.report-variant-selector {
  line-height:1.5;
  // centers inside
  padding: 3px 20px 4px 12px;
  height: $content-filter-height!important;
}

.panel-pie-chart {
  text-align: center;
  display: inline-block;
  width: 330px;
  height: 320px;
}

.panel-table-subheader {
  border-bottom: 2px solid $darkgray-dark;
  margin-bottom: 2px;
}

td {
  &.mod-positive {
    background-color: $alert-danger-bg;
    color: $alert-danger-text;
  }

  &.mod-negative {
    background-color: $alert-success-bg !important;
    color: $alert-success-text !important;
  }
}

.centrify-content {
  display: block;
  text-align: center;
}

/*
  Print Weekly Snapshot

  WARNING!

  colors must be important for print
*/

.is-visible-print {
  display: none;
}

@media print {
  $panel-width: 28cm;

  .is-visible-print {
    display: block;
  }

  .page-brake {
    page-break-after: always;
  }

  // hide stuff
  menu-nav,
  h3,
  .breadcrumb,
  .content-filter,
  a[href]:after {
    display: none;
  }

  body {
    padding-top: 0;
    padding-bottom: 0;
    font-size: 10;
  }

  // fix table overflow
  .panel {
    width: $panel-width;
  }

  // fix colors
  .panel {
    border-color: $panel-default-border !important;
    -webkit-print-color-adjust: exact;
  }

  .panel-heading {
    background-color: $gray-background !important;
    border-bottom-color: $gray-border !important;
    -webkit-print-color-adjust: exact;
  }

  td {
    &.mod-positive {
      background-color: $state-danger-bg !important;
      color: $alert-danger-text !important;
    }

    &.mod-negative {
      background-color: $alert-success-bg !important;
      color: $alert-success-text !important;
    }
  }

  // fix svg width
  .panel-pie-chart {
    width: 8cm;
  }

  horizontal-bar div {
    width: $panel-width / 2 - 1 !important;
    display: inline-block !important;
  }
}

th.mod-addspace {
  min-width: 75px;
  padding-right: 0 !important;
}
