@import '../project/variables';
@import '../project/mixins/mixins';


$panel-nav-link-width: 290px;
$panel-nav-link-height: 30px;
$panel-nav-link-font: $font-size-base;
$panel-nav-width-calc: $panel-nav-link-width + 1px*2;
$nav-to-content-panel: $distance-hor-md;

.container-fluid.mod-settings {
  max-width: 1350px;
}

.content-panel {
  display: inline-block;
  min-height: 540px;  // hardcoded height of the nav panel
  float: left;
  position: relative;

  @media (min-width: $screen-md-min) {
    width: calc(100% - #{$panel-nav-width-calc + $nav-to-content-panel});
  }

  iframe {
    position: absolute;
    left: 0;
    top: $panel-header-height + 1px;  // + border
    height: calc(100% - #{$panel-header-height} - 2px);  // -border
    width: 100%;
    border: none;
    padding: 0;
    margin: 0;
  }

  .checkbox label {
    font-weight: 400;
  }
}

.panel-new__content.mod-yodlee {
  min-height: 488px;
}

.nav-panel {
  margin-right: $nav-to-content-panel;
  width: $panel-nav-link-width;
  float: left;

  @media (max-width: $screen-sm-max) {
    display: none;
  }
}

.nav-panel-list {
  list-style: none;
  padding: 0;
  margin-bottom: $distance-ver-md;
  margin-top: -($panel-nav-link-height - $panel-nav-link-font)/2;

  &.actions-list {
    background-color: $white;
    padding: 10px;
    margin-bottom: 0;
  }

  a {
    @include text-overflow();

    display: block;
    height: $panel-nav-link-height;
    line-height: $panel-nav-link-height;
    border-radius: $border-radius-base;
    padding-left: 20px;
    margin-bottom: 5px;
    font-size: $panel-nav-link-font;
    color: $gray-new;

    &.active,
    &.active:hover {
      background-color: $brand-primary;
      color: $white;
    }

    &:hover {
      background-color: $gray-lightest-new;
    }
  }

  li:last-child a {
    margin-bottom: 0;
  }
}

// Financial
.table-head {
  padding-left: 20px;
  border-bottom: 1px solid $table-border-color;
}

.items-table {
  margin-bottom: $distance-ver-md;
}

input.mod-delete-option {
  margin-top: 3px;
}

.padding-left-at-xs {
  padding-left: 0;

  @media (max-width: $screen-xs-max) {
    padding-left: 15px;
  }
}

// Templates
.items-table__row.mod-template {
  line-height: 35px;

  .form-control {
    height: 35px;
    padding-left: 21px;
  }

  p,
  strong {
    word-wrap: break-word;
  }

  p {
    margin-bottom: 0;
  }
}

.item-details-form {
  .alert-danger {
    position: relative;
    top: 0;
    margin-right: $input-in-control-padding-right !important;
    margin-bottom: $margin-normal !important;

    @media (max-width: $screen-xs-max) {
      margin-right: 0 !important;
    }
  }
}

.margin-bottom-md {
  margin-bottom: $distance-ver-md;
}

.hidden-xxs {
  @media (max-width: $screen-xxs-max) {
    display: none;
  }
}

.content-filter tags-input.mod-xs {
  padding-left: 20px;
  padding-right: 40px;

  @media (max-width: $screen-xs-max) {
    margin-top: 0;
    padding-left: 5px;
    padding-right: 5px;
  }
}

.delete-financial-btn {
  position: absolute;
  bottom: 0;
  right: 0;
}

.menu-category {
  padding-left: 27px;  // drag and drop width
}

.inputs-group .radio.mod-margin-xs {
  @media (max-width: $screen-xs-max) {
    margin-bottom: 15px;
  }
}

drag-drop.mod-tender {
  position: absolute;
  left: 5px;
  top: 12px;
}

error-icon.mod-fee-info {
  position: absolute;
  right: 15px;
  top: 15px;

  + .tooltip {
    margin-right: -80px;
  }
}

.toggle.mod-payroll {
  line-height: 17px;

  &:after {
    display: none;
  }

  .handle {
    &:before {
      padding-top: 2px !important;
      padding-left: 22px !important;
      width: 78px;
      content: 'Payroll Off';
      color: $white;
    }
  }

  input[type=checkbox]:checked {
    + .handle:after {
      left: 60px;
    }
    + .handle:before {
      content: 'Payroll On';
      padding-left: 8px !important;
    }
  }
}

