@import '../project/variables';
@import '../project/utils';
@import '../bootstrap/variables';

$panel-nav-link-width: 290px;
$panel-nav-link-height: 30px;
$panel-nav-link-font: $font-size-base;
$panel-nav-width-calc: $panel-nav-link-width + 1px*2;
$nav-to-content-panel: $distance-hor-md;

.container-fluid.mod-settings {
  max-width: 1350px;
}

.content-panel {
  display: inline-block;
  min-height: 470px;  // hardcoded height of the nav panel
  float: left;

  @media (min-width: $screen-md-min) {
    width: calc(100% - #{$panel-nav-width-calc + $nav-to-content-panel});
  }
}

.nav-panel {
  margin-right: $nav-to-content-panel;
  width: $panel-nav-link-width;
  float: left;

  @media (max-width: $screen-sm-max) {
    display: none;
  }
}

.nav-panel-list {
  list-style: none;
  padding: 0;
  margin-bottom: $distance-ver-md;
  margin-top: -($panel-nav-link-height - $panel-nav-link-font)/2;

  &.actions-list {
    background-color: $white;
    padding: 10px;
    margin-bottom: 0;
  }

  a {
    display: block;
    height: $panel-nav-link-height;
    line-height: $panel-nav-link-height;
    border-radius: $border-radius-base;
    padding-left: 20px;
    margin-bottom: 5px;
    font-size: $panel-nav-link-font;
    color: $gray-new;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    &.active,
    &.active:hover {
      background-color: $brand-primary;
      color: $white;
    }

    &:hover {
      background-color: $gray-lightest-new;
    }
  }

  li:last-child a {
    margin-bottom: 0;
  }
}

.nav-button {
  width: 100%;
  margin-bottom: $distance-ver-sm;
  text-align: left;
  height: 45px;  // $inputs-group-input-height;
  border-color: $border-color-base !important;
  padding-left: $panel-new-padding-hor-mobile;

  .caret {
    margin-top: 8px;
    float: right;
    color: $gray-middle-new;
  }

  @media (min-width: $screen-md-min) {
    display: none;
  }
}

// Users
.permission-icon {
  font-size: 10px;
  margin-left: 5px;
  margin-top: -5px;
  display: inline-block;
  vertical-align: middle;
}

// Financial
.institutions-list{
    max-height:400px;
    overflow-y:auto;
}

.table-head {
    border-bottom:2px solid $table-border-color;
}

.modal-iframe {
    .modal-dialog {
        min-width: 751px;
        @media (max-width: $screen-xs-max) {
          min-width: 100%;
        }
    }

    .modal-body {
        padding: 0;
        min-height: 500px;
    }

    iframe {
        max-width: 751px;
        height: 538px;
        width: 100%;
        border: none;
        padding: 0;
        margin: 0;
        min-height: 500px;
    }
}

.wizardADAClose,
.y12btn_secondary.y12btn_small input {
    display: none !important;
}

input.mod-delete-option {
  margin-top: 3px;
}


// Classifications
.tags {
  min-height: 38px !important;
}

.input {
  height: 36px !important;
  margin: 0 !important;
}

.tag-item {
  line-height: 30px !important;

  height: 32px !important;
}

.ng-invalid.ng-touched .host {
  border-width: 1px !important;
  border-color: $grapefruit-dark !important;
}

.padding-left-at-xs {
  padding-left: 0;

  @media (max-width: $screen-xs-max) {
    padding-left: 15px;
  }
}

// Templates
// Daily Summary
.dst-categories {

  p,
  strong {
    word-wrap: break-word;
  }

  p {
    margin-bottom: 0;
  }

  &__category {
    line-height: $line-height-sm;
  }

  &__subcategory {
    line-height: $line-height-sm; // make slightly smaller than category line height
  }

  // temp hack, anyway we're doing complete restyle of this page
  // and this code will be removed
  &__item,
  &__item + .b-delete-icon {
    display: flex !important;
    min-height: 35px;
    align-items: center;
  }
  &__item + .b-delete-icon {
    justify-content: flex-end;
  }

  input,
  select {
    font-size: 100% !important; // set font size the same as in wrapper element
  }

  .add-control {
    label {
      margin-bottom: 0;
    }

    .checkbox {
      position:relative;
      top:0;
      height:auto;
      display: inline-block;
      margin: 0;
    }
  }
}

settings-selector .glyphicon-option-horizontal {
  vertical-align: middle;
}

// Menu
.item-details-form {
  .alert-danger {
    position: relative;
    top: 0;
    margin-right: $input-in-control-padding-right !important;
    margin-bottom: $margin-normal !important;

    @media (max-width:$screen-xs-max){
      margin-right: 0 !important;
    }
  }
}

.inventory-template {
  .items-table__row {
    min-height: 52px;

    .form-control,
    .savebtn {
      height: 46px;
    }
  }
}

.margin-bottom-md {
  margin-bottom: $distance-ver-md;
}

.btn-expand {
  $btn-width: 110px;

  color: $gray-middle-new;
  width: $btn-width;
  padding: 7px 10px;
  cursor: pointer;
  float: left;
  position: absolute;
  top: -17px;
  left: calc(50% - #{$btn-width}/2);

  &__wrapper {
    position: relative;
    z-index: 1000;
    height: 1px;
  }

  &__line {
    border-bottom: 1px solid $table-border-color;
    width: calc(50% - #{$btn-width}/2);
  }
}
