@import '../project/variables';
@import '../bootstrap/variables';

// Daily Summary
.dst-categories {

  p,
  strong {
    word-wrap: break-word;
  }

  p {
    margin-bottom: 0;
  }

  &__category {
    line-height: $line-height-sm;
  }

  &__subcategory {
    line-height: $line-height-sm; // make slightly smaller than category line height
  }

  // temp hack, anyway we're doing complete restyle of this page
  // and this code will be removed
  &__item,
  &__item + .b-delete-icon {
    display: flex !important;
    min-height: 35px;
    align-items: center;
  }
  &__item + .b-delete-icon {
    justify-content: flex-end;
  }

  input,
  select {
    font-size: 100% !important; // set font size the same as in wrapper element
  }

  .add-control {
    label {
      margin-bottom: 0;
    }

    .checkbox {
      position:relative;
      top:0;
      height:auto;
      display: inline-block;
      margin: 0;
    }
  }
}

settings-selector .glyphicon-option-horizontal {
  vertical-align: middle;
}

// Menu
.item-details-form {
  .alert-danger {
    position: relative;
    top: 0;
    margin-right: $input-in-control-padding-right !important;
    margin-bottom: $margin-normal !important;

    @media (max-width:$screen-xs-max){
      margin-right: 0 !important;
    }
  }
}

.inventory-template {
  .items-table__row {
    min-height: 52px;
  }
}
