@import '../project/variables';
@import '../bootstrap/variables';

$details-status-width: 15px;


.header {
  padding-right: $details-status-width;
}

.edit-details {
  position:relative;
  content: " ";
  width:100%;

  &__btn {
    z-index:10;

    @media (min-width:$screen-sm-min){
      position: absolute;
      line-height: $line-height-md;
      width: 20px;
      top: 0;
      right: -$details-status-width;
      padding-left: 10px;
      font-size: 14px;
    }

    @media (max-width:$screen-xs-max){
      width:100%;
      margin: $margin-normal 0;
    }
  }

  @media (max-width:$screen-xs-max){
    margin-bottom: $margin-normal;
  }
}

.transactions-page {
  svg:not(:root) {
    overflow: visible !important;
  }
}

.similar {
  &__body .transactions-list {
    // make borders fit the left table
    margin-top: 23px;
  }
  &__header {
    padding-bottom: 7px;
  }
}

.show-ellipsed:hover {
  .overflow-ellipsis {
    overflow: inherit;
    white-space: pre-line;
    text-overflow: clip;
    word-wrap: break-word;
  }
}

.items-table__row {
  &--transactions {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    padding-right: $details-status-width !important;

    > div {
      padding: $items-table-padding 0;
    }

    &:hover .icon-circle--expand.hidden {
        display: inline-block !important;
    }

    // hack to make consistent wisth for transactions list
    @media (max-width: $screen-xs-max) {
      > .col-xs-11 {
        height: $height-lg - 1;
      }
    }
  }

  &.transaction-in-edit {
    padding-top: 5px !important;
    padding-bottom: 5px !important;
    background-color: $white !important;

    &:hover {
      background-color: $white !important;
    }

    > div {
      padding: 0 !important;
    }
  }

  // merge transactions
  // ----------------------
  &.active {
    background-color: $brand-primary;
    color: $white;

    &:hover {
      background-color: $brand-primary !important;
      color: $white;
    }
  }
}

.add-edit-transaction,
.modal-split {
  .ng-invalid,
  .form-control.mod-invalid,
  tags-input.ng-invalid .host {
    border-width: 1px !important;
    border-color: $ios-notification !important;  // $message-danger !important;
  }

  .glyphicon-calendar {
    right: 0 !important;
  }
}

// Transaction Status
// ----------------------

.status-holder {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  margin-top: 5px;
  margin-bottom: 8px;
  height: 22px;

  @media (max-width: $screen-xs-max) {
    margin-top: 8px;
  }
}

.icon-circle {
  display: inline-block;
  width: 18px;
  height: 18px;

  @media (max-width:$screen-xs-max) {
    height: 15px;
    width: 15px;
  }

  &--unchecked svg {
    fill: $ios-unchecked;
    width: 22px;
    height: 22px;
    vertical-align: middle;

    @media (max-width:$screen-xs-max) {
      width: 19px;
      height: 19px;
    }
  }

  &--checked svg {
    fill: $brand-primary;
    width: 22px;
    height: 22px;

    @media (max-width:$screen-xs-max) {
      width: 19px;
      height: 19px;
    }
  }

  &--info svg {
    fill: $ios-notification;
    width: 18px;
    height: 18px;
    margin: 2px;

    @media (max-width:$screen-xs-max) {
      width: 15px;
      height: 15px;
    }

    circle {
      stroke: $ios-notification;
    }
  }

  &--notify,
  &--expand {
    line-height: 19px;

    width: 21px;
    height: 21px;

    text-align: center;

    color: $white;
    border-radius: 50%;
  }

  &--notify {
    font-size: 10px;

    vertical-align: top;

    border: 1px solid $ios-notification;
    background-color: $ios-notification;

    @media (max-width:$screen-xs-max) {
      font-size: 8px;
      line-height: 2em;

      width: 18px;
      height: 18px;
    }
  }

  &--expand {
    font-size: 7px;

    position: absolute;
    z-index: 10;
    top: 8px;
    right: -25px;

    border: 1px solid $brand-primary;
    background-color: $brand-primary;

    @media (min-width: $screen-lg) {
      right: -46px;
    }
  }
}

@media (min-width:$screen-sm-min) {
    .calendar-read-padding {
        padding-left: 5px !important;
    }
}

tags-input {
  @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
    min-width: 185px;
  }
  @media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
    min-width: 435px;
  }
  @media (min-width: $screen-lg-min) {
    min-width: 535px;
  }
}

.create-rule {
  right: -100px;
  top: 7px;
  position: absolute;
}
