@import '../project/variables';
@import '../project/mixins/mixins';


.edit-details {
  position: relative;
  content: " ";
  width: 100%;

  &__btn {
    z-index: 10;

    .add-edit-transaction & {
      right: -23px;
    }

    @media (min-width:$screen-sm-min){
      position: absolute;
      line-height: $line-height-md;
    }

    @media (max-width:$screen-xs-max){
      width:100%;
      margin: $margin-normal 0;
    }
  }

  .btn-split:focus {
    color: $gray;
    background-color: $white;
  }

  @media (max-width:$screen-xs-max){
    margin-bottom: $margin-normal;
    .btn {
      margin-bottom: 3px;
    }
  }

  .icon-trash {
    width: 19px;
    height: 19px;
  }
}

.similar {
  &__body .transactions-list {
    // make borders fit the left table
    margin-top: 23px;
  }
  &__header {
    padding-bottom: 7px;
  }
}

.show-ellipsed:hover {
  .overflow-ellipsis {
    overflow: inherit;
    white-space: pre-line;
    text-overflow: clip;
    word-wrap: break-word;
  }
}

.items-table__row {
  &.mod-edit-transaction {
    padding-top: 0;
    padding-bottom: 0;
    background-color: $white !important;

    &:hover {
      background-color: $white !important;
    }

    .editable-row {
      padding: 5px 0;
    }
  }

  // merge transactions
  // ----------------------
  &.active {
    background-color: $brand-primary;
    color: $white;

    &:hover {
      background-color: $brand-primary !important;
      color: $white;
    }
  }
}

.add-edit-transaction,
.add-transaction.submitted {
  .ng-invalid,
  .form-control.mod-invalid,
  tags-input.ng-invalid .host {
    border-width: 1px !important;
    border-color: $ios-notification !important;  // $message-danger !important;
  }

  .glyphicon-calendar,
  .icon-calendar {
    right: 0 !important;
  }
}

.mod-calendar-input-disabled {
  padding: 0;
}

// Transaction Status
// ----------------------
.icon-circle {
  display: inline-block;
  width: 18px;
  height: 18px;

  @media (max-width:$screen-xs-max) {
    height: 15px;
    width: 15px;
  }

  &--expand {
    z-index: 10;
    position: absolute;
    left: 0;
    right: 0;
    top: 80%;
    margin-left: 45.5%;    // 5/11 = 45.5%
    width: 21px;
    height: 21px;
    border: 1px solid $brand-primary;
    border-radius: 50%;
    line-height: 19px;
    font-size: 7px;
    text-align: center;
    color: $white;
    background-color: $brand-primary;

    &.glyphicon-menu-up {
      top: 95%;
    }
  }
}

@media (min-width:$screen-sm-min) {
    .calendar-read-padding {
        padding-left: 5px !important;
    }
}

tags-input {
  @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
    min-width: 185px;
  }
  @media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
    min-width: 435px;
  }
  @media (min-width: $screen-lg-min) {
    min-width: 535px;
  }
}

date-range-selector {
  .custom-selector__options {
    right: 0;
  }
}

.create-rule {
  right: 10px;
  top: 7px;
  position: absolute;
  z-index: 10;
}

.transactions-panel-group {
  @include clearfix();
  list-style: none;
  padding: 0;
  margin: 0;
  border-bottom: 1px solid $gray-light-new;

  &__item {
    vertical-align: baseline;
    padding: 5px;

    &__text {
      border: 1px solid $gray-light-new;
      border-radius: 3px;
      padding: 5px;
      font-size: 12px;
      cursor: pointer;

      &.mod-selected,
      &:hover {
        border-color: $brand-primary;
        background-color: $brand-primary;
        color: $white;
      }
    }
  }
}

.aside.mod-mobile-filter {
  .aside-body {
    padding: 0;
  }

  .panel-new__filter__item__wrapper {
    float: none;
    display: block;
    border-right: 0;

    @include clearfix;
  }
}

.pull-right-sm {
  @media (min-width: $screen-sm-min) {
    float: right;
  }
}

.other-details {
  @media (min-width: $screen-sm-min) {
    $row-height: 25px;

    .add-control {
      position: relative;
      line-height: $row-height;
      display: block;
      @include clearfix();
    }

    strong {
      display: inline-block;
      vertical-align: top;
      float: left;
      padding-right: 2px;
    }

    .form-control {
      position: relative;
      display: inline-block;
      width: auto;
      border-color: transparent !important;
      background: none !important;
      z-index: 2;
      height: $row-height;
      padding: 0;
      float: left;
      line-height: $row-height - 2px;
      color: $gray;

      &:hover,
      &:focus {
        border-color: $input-border !important;
      }

      @include placeholder($gray);
      &:focus {
        @include placeholder($input-color-placeholder);
      }

      &[disabled] {
        color: $gray;
        cursor: default;

        + .glyphicon-pencil {
          display: none;
        }
      }
    }

    textarea {
      resize: none;
    }

    .glyphicon-pencil {
      font-size: 10px;
      top: -1px;
      margin-left: 5px;
    }
  }

  @media (max-width: $screen-xs-max) {
    .glyphicon-pencil {
      display: none;
    }
  }
}

.padding-left-sm {
  padding-left: 15px !important;
}

@media (min-width: $screen-sm-min) {
  .add-edit-transaction {
    .align-amount {
      margin-left: 7px;
      padding-right: 4px;
    }

    .align-date-selector {
      input {
        margin-left: -6px;
      }
    }

    .align-postdate-selector {
      input {
        padding-left: 14px !important;
      }
    }
  }

  .add-transaction {
    .items-table__input,
    .details-amount {
      padding-left: 15px !important;
    }
  }

  .edit-row .add-control {
    padding-left: 15px;
  }
}

.status-panels {

  @media (min-width: $screen-sm-min) {
    @include clearfix();

    text-align: center;
    padding: $padding-base-vertical*2 $panel-new-padding-hor $padding-base-vertical*2 0;
    border-bottom: 1px solid $border-color-base;
  }

  &__panel {
    border-bottom: 1px solid $border-color-base;
    padding: $padding-base-vertical*2 0;
    text-align: center;
    cursor: pointer;

    @media (max-width: $screen-xs-max) {
      @include clearfix();

      line-height: 40px;
      font-weight: 300;

      &__amount {
        padding-right: 10px;
        float: right;
      }

      &__text {
        padding-left: 10px;
        float: left;
      }
    }

    @media (min-width: $screen-sm-min) {
      margin-left: $panel-new-padding-hor;
      border: 1px solid $border-color-base;
      border-radius: $border-radius-base;
      width: calc(25% - #{$panel-new-padding-hor});
      float: left;
      display: inline-block;
      font-size: 12px;

      &.mod-selected,
      &:hover {
        background-color: $brand-primary;
        border-color: $brand-primary;
        color: $white;
      }

      &__text {
        display: inline-block;
      }

      &__amount {
        display: inline-block;

        &:before {
          content: '(';
        }
        &:after {
          content: ')';
        }
      }
    }
  }
}

.items-table__row.mod-selected {
  background-color: $table-bg-hover;
}

.aside {
  .panel-new__filter__item__wrapper .date-picker {
    padding-left: 20px;

    width: auto;
    display: inline-block;
    min-width: auto;

    + .caret {
      position: relative;
      color: $gray-new;
      margin-top: 2px;
    }
  }
}
