@import '../project/variables';
@import '../bootstrap/variables';

$details-status-width: 15px;


.table-view__header-cell {
  padding-left: $details-status-width;
}

.edit-details {
  position:relative;
  content: " ";
  width:100%;

  &__btn {
    z-index:10;

    @media (min-width:$screen-sm-min){
      position: absolute;
      line-height: $line-height-md;
      width: 20px;
      top: 0;
      right: -$details-status-width;
      padding-left: 10px;
      font-size: 14px;
    }

    @media (max-width:$screen-xs-max){
      width:100%;
      margin: $margin-normal 0;
    }
  }

  @media (max-width:$screen-xs-max){
    margin-bottom: $margin-normal;
  }
}

.transactions-page {
  svg:not(:root) {
    overflow: visible !important;
  }
}

.similar {
  &__body .transactions-list {
    // make borders fit the left table
    margin-top: 23px;
  }
  &__header {
    padding-bottom: 7px;
  }
}

.show-ellipsed:hover {
  .overflow-ellipsis {
    overflow: inherit;
    white-space: pre-line;
    text-overflow: clip;
    word-wrap: break-word;
  }
}

.items-table__row {
  &--transactions {
    padding: 0 !important;

    .readable-row {
      margin: 5px 0;
    }

    .readable-row {
      @media (min-width: $screen-sm-min) {
        height: $height-md;  // input height
        line-height: $height-md;  // center
      }

      @media (max-width: $screen-xs-max) {
        height: $height-md;
      }
    }
  }

  &.mod-edit-transaction {
    background-color: $white !important;
    &:hover {
      background-color: $white !important;
    }

    .editable-row {
      padding: 5px 0;
    }
  }

  // merge transactions
  // ----------------------
  &.active {
    background-color: $brand-primary;
    color: $white;

    &:hover {
      background-color: $brand-primary !important;
      color: $white;
    }
  }
}

.add-edit-transaction,
.modal-split {
  .ng-invalid,
  .form-control.mod-invalid,
  tags-input.ng-invalid .host {
    border-width: 1px !important;
    border-color: $ios-notification !important;  // $message-danger !important;
  }

  .glyphicon-calendar {
    right: 0 !important;
  }
}

.mod-calendar-input-disabled {
  padding: 0;
}

// Transaction Status
// ----------------------

.status-holder {
  $row-height: 50px;
  $holder-height: 22px;
  $vertical-margin: ($row-height - $holder-height) / 2;
  height: $holder-height;
  margin-top: $vertical-margin;
  margin-bottom: $vertical-margin;

  @media (max-width: $screen-xs-max) {
    margin-top: 5px;
  }
}

.icon-circle {
  display: inline-block;
  width: 18px;
  height: 18px;

  @media (max-width:$screen-xs-max) {
    height: 15px;
    width: 15px;
  }

  &--unchecked svg {
    fill: $ios-unchecked;
    width: 22px;
    height: 22px;
    vertical-align: middle;

    @media (max-width:$screen-xs-max) {
      width: 19px;
      height: 19px;
    }
  }

  &--checked svg {
    fill: $brand-primary;
    width: 22px;
    height: 22px;

    @media (max-width:$screen-xs-max) {
      width: 19px;
      height: 19px;
    }
  }

  &--info svg {
    fill: $ios-notification;
    width: 18px;
    height: 18px;
    margin: 2px;

    @media (max-width:$screen-xs-max) {
      width: 15px;
      height: 15px;
    }

    circle {
      stroke: $ios-notification;
    }
  }

  &--notify,
  &--expand {
    line-height: 19px;

    width: 21px;
    height: 21px;

    text-align: center;

    color: $white;
    border-radius: 50%;
  }

  &--notify {
    font-size: 10px;

    vertical-align: top;

    border: 1px solid $ios-notification;
    background-color: $ios-notification;

    @media (max-width:$screen-xs-max) {
      font-size: 8px;
      line-height: 2em;

      width: 18px;
      height: 18px;
    }
  }

  &--expand {
    font-size: 7px;

    position: absolute;
    z-index: 10;

    left: 0;
    right: 0;
    margin-left: 45.5%;    // 5/11 = 45.5%
    top: 80%;

    border: 1px solid $brand-primary;
    background-color: $brand-primary;

    &.glyphicon-menu-up {
      top: 95%;
    }
  }
}

@media (min-width:$screen-sm-min) {
    .calendar-read-padding {
        padding-left: 5px !important;
    }
}

tags-input {
  @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
    min-width: 185px;
  }
  @media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
    min-width: 435px;
  }
  @media (min-width: $screen-lg-min) {
    min-width: 535px;
  }
}

date-range-selector {
  .custom-selector__options {
    right: 0;
  }
}

.create-rule {
  right: -100px;
  top: 7px;
  position: absolute;
}

.transactions-panel-group {
  @include clearfix();
  list-style: none;
  padding: 0;
  margin: 0;

  &__item {
    vertical-align: baseline;
    padding-left: 0;
    z-index: 5;
    margin: $margin-md 0 $margin-md -1px;

    &:hover {
      z-index: 10;
    }
  }
}

.transactions-panel {
  @media (min-width: $screen-sm-min) {
    border-radius: 0;
  }

  &.mod-selected {
    border-width: 2px;
    border-color: $brand-primary;
    z-index: 20;
    padding: 24px 14px;
  }

  &__value {
    font-size: 23px;
    font-weight: 300;
    color: $brand-primary;

    &.mod-danger {
      color: $ios-notification;
    }
  }

  &__header {
    font-weight: 600;
    font-size: 11px;
    color: #888;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding-top: 6px;
  }

  &__description {
    font-weight: 400;
    font-size: 11px;
    color: #888;
  }
}
