$back-icon-width: 25px;
$back-icon-height: 25px;

.aside {
  &.am-slide-left {
    vertical-align: middle;
    display: inline-block;
    left: 0;
  }

  @media (max-width: 991px) {
    min-width: 290px !important;
  }

  @media (max-width: $screen-xs-max) {
    min-width: 100% !important;
  }

  &.am-slide-right.mod-fix-right {
    right: 0;
  }
}

.aside-body {
  @media (min-width: $screen-xs-min) {
    min-width: 350px;
  }
}

.aside-header {
  background-color: $white !important;
  display: flex;
  align-items: center;

  .icon-close {
    flex: 0 30px;
    order: 2;
  }

  .close {
    color: $gray-base !important;
    opacity: .2 !important;
    padding-top: 8px !important;
  }
}

.aside-title {
  color: $gray;
  flex: 1;
}

@media (max-width: $screen-xs-max) {
  .aside {
    .aside-dialog {
      .aside-header {
        padding: 0;
        border-bottom: none;
        align-items: center;
      }

      .aside-body {
        @include actions-content(24px);
      }

      .icon-back {
        @include actions-button($back-icon-height, $back-icon-width);
        float: none;
        margin-top: 0;
      }

      .aside-title {
        @include actions-title($back-icon-width);
        margin-bottom: 5px;
        font-weight: 300;
      }
    }
  }
}
