$back-icon-width: 25px;
$back-icon-height: 25px;

.aside {
  &.am-slide-left {
    vertical-align: middle;
    display: inline-block;
    left: 0;
  }

  @media (max-width: 991px) {
    min-width: 290px !important;
  }

  @media (max-width: $screen-xs-max) {
    min-width: 100% !important;
  }

  &.am-slide-right.mod-fix-right {
    right: 0;
  }
}

.aside-body {
  @media (min-width: $screen-xs-min) {
    min-width: 350px;
  }
}

.aside-header {
  background-color: $white !important;
  display: flex;
  align-items: center;

  .icon-close {
    flex: 0 30px;
    order: 2;
  }

  .close {
    color: $gray-base !important;
    opacity: .2 !important;
    padding-top: 8px !important;
  }
}

.aside-title {
  color: $gray;
  flex: 1;
}

.aside {
  .panel-new__filter__item {
    padding-left: 0 !important;

    &__wrapper {
      display: block;
      width: 100%;
      border: 1px solid #d8dddf;
      border-radius: 3px;
      line-height: 26px;
      margin: 0 0 12px;
      padding: 5px 10px;
      height: auto !important;

      .date-picker,
      .panel-new__filter__item {
        height: 26px;
        line-height: 26px;
        float: none;
        width: 100%;
        text-align: left;
        padding-left: 20px;

        .caret {
          position: absolute;
          top: 18px;
          cursor: pointer;
          right: 10px;
          color: #98a9b1;
          margin-top: 0;
        }
      }

      .fa-calendar {
        top: 50% !important;
        transform: translate3d(0, -50%, 0);
      }

      .date-selector {
        max-width: 100%;

        i {
          z-index: 0;
        }
      }

      .date-range-selector {
        float: none;
        padding-left: 20px;
        .caret {
          right: 1px;
        }
      }

      .date-range-selector__input {
        min-width: 0;
        padding-right: 25px;
        padding-left: 0;
      }

      .fa-calendar {
        left: 0;
        font-size: 14px;
      }
    }
  }
  report-type {
    width: 100%;
  }
}

@media (max-width: $screen-xs-max) {
  .aside {
    .aside-dialog {
      .aside-header {
        padding: 0;
        border-bottom: none;
        align-items: center;
      }

      .aside-body {
        @include actions-content(24px);
      }

      .icon-back {
        @include actions-button($back-icon-height, $back-icon-width);
        float: none;
        margin-top: 0;
      }

      .aside-title {
        @include actions-title($back-icon-width);
        margin-bottom: 5px;
        font-weight: 300;
      }
    }
  }
}
