@import '../mixins';

.btn {
  @include btn();

  white-space: nowrap;
  line-height: 1;
  font-size: $font-size-base;
  height: 33px;
  padding: 0 20px;
  border: 1px solid;
  border-radius: $border-radius-base;
}

.default {
  color: $gray-new;
  background-color: $white;
  border-color: $border-color-base;

  &:hover,
  &:focus {
    color: $white;
    background-color: $gray-lighter-new;
    border-color: $border-color-base;
  }
}

.primary {
  color: $white;
  background-color: $brand-primary;
  border-color: $brand-primary;

  &:hover,
  &:focus {
    color: $white;
    background-color: $brand-saturated;
    border-color: $brand-saturated;
  }
}

.panel-header {
  color: $gray-new;
  background-color: $white;
  border-color: $border-color-base;

  &:hover,
  &:focus {
    color: $white;
    background-color: $brand-primary;
    border-color: $brand-primary;
  }
}

.mobile-nav {
  padding: 0;
  border: none;
  width: 20px;
  height: 14px;
}

.disabled {
  cursor: not-allowed;
  pointer-events: none;
  opacity: .45 !important;
}

.hidden {
  visibility: hidden;
}

.in-group {
  margin-left: $panel-new-padding-hor;
  min-width: 125px;

  @media (max-width: $screen-xxs-max) {
    margin-left: 0;
    width: 48%;
  }
}

.date-range {
  height: 30px;
  padding: 0 10px;
  margin-left: 8px;
  border-radius: 0;
  font-size: $font-size-small;
}
