@import '../mixins';

.btn {
  height: 35px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0 40px;
  background-color: $white;
  border: 1px solid $gray-lighter-new;
  font-size: 14px;
  color: $gray-new;
  border-radius: 3px;
  cursor: pointer;
  white-space: nowrap;
  user-select: none;
  line-height: 1;
  outline: 0 none;

  &:hover,
  &:focus {
    color: $white;
    background-color: $brand-primary;
    border-color: $brand-primary;
    outline: 0 none;
  }
}

.hover-gray {
  &:hover,
  &:focus {
    background-color: $gray-lighter-new;
    border-color: $gray-lighter-new;
  }
}

.pad-15 {
  padding-left: 15px;
  padding-right: 15px;
}

.group {
  margin: 0 10px;
}

.as-icon {
  font-size: 24px;
  line-height: 1;
  border: none;
  background-color: transparent;
  padding: 0;
  color: $gray-text;

  &:hover {
    color: $gray-new;
    background-color: transparent;
  }
}

.plain {
  height: auto;
  padding: 0;
  border: none;
  background-color: transparent;
  @include link($brand-primary);

  &:hover {
    background-color: transparent;
  }
}

.color-blue {
  background-color: $brand-primary;
  color: $white;
  border-color: $brand-primary;

  &:hover,
  &:focus {
    background-color: $brand-saturated;
    border-color: $brand-saturated;
  }
}

.font-20 {
  font-size: 20px;
}

.top-15 {
  margin-top: 15px;
}

.svg {
  border: none;
  min-width: 30px;
  margin: 0;
  padding: 0;
  background: transparent center center no-repeat;

  &:hover {
    background-color: transparent;
  }
}

.svg-ellipses {
  background-image: url('../../../img/ellipses.svg');
}

.svg-back {
  background-image: url('../../../img/back.svg');
}

.svg-add-plus {
  background-image: url('../../../img/add-plus.svg');
}

.spinner {
  height: 30px;
  width: 30px;
  background: url('../../../img/spinner.svg') center center no-repeat;
}

.disabled {
  cursor: not-allowed;
  pointer-events: none;
  opacity: .45 !important;
}
