@import '../mixins';

.btn {
  height: 35px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0 40px;
  background-color: $white;
  border: 1px solid $gray-lighter-new;
  font-size: 14px;
  color: $gray-new;
  border-radius: 3px;
  cursor: pointer;
  white-space: nowrap;
  user-select: none;
  line-height: 1;
  outline: 0 none;

  &:hover,
  &:focus {
    color: $white;
    background-color: $brand-primary;
    border-color: $brand-primary;
    outline: 0 none;
  }

  @media (max-width: $screen-sm) {
    font-size: 12px;
  }
}

.hover-gray {
  &:hover,
  &:focus {
    background-color: $gray-lighter-new;
    border-color: $gray-lighter-new;
  }
}

.mod-short {
  padding-left: 15px;
  padding-right: 15px;
}

.mod-icon {
  font-size: 24px;
  line-height: 1;
  border: none;
  background-color: transparent;
  padding: 0;
  color: $gray-text;

  &:hover {
    color: $gray-new;
    background-color: transparent;
  }
}

.mod-plain {
  height: auto;
  padding: 0;
  border: none;
  background-color: transparent;
  @include link($brand-primary);

  &:hover {
    background-color: transparent;
  }
}

.mod-blue {
  background-color: $brand-primary;
  color: $white;
  border-color: $brand-primary;
  
  &:hover,
  &:focus {
    background-color: $brand-saturated;
    border-color: $brand-saturated;
  }
}

.font-20 {
  font-size: 20px;
}



.is-disabled {
  cursor: not-allowed;
  pointer-events: none;
  opacity: .45;
}

.is-loading {
  overflow: hidden;

  img {
    position: relative;
    top: -1px;
  }
}



