.btnGroup {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 15px;

  > * {
    margin-left: 20px;
    min-width: 125px;

    @media (max-width: $screen-xxs-max) {
      flex: 1;
    }
  }
}

.pad-20 {
  padding: 0 20px;
  margin-left: 0;
  margin-right: 0;
}

.row-reverse {
  flex-direction: row-reverse;
  justify-content: end;
}

.panel-bottom {
  margin-bottom: 35px;
}
