@import '../mixins';

.btn {
  @include btn();

  background: center center no-repeat;

  &:hover {
    opacity: 0.7;
  }

  background-size: $btn-icon-size;
  width: $btn-icon-size;
  height: $btn-icon-size;

  @media (max-width: $screen-xs-max) {
    background-size: $btn-icon-size-mobile;
    width: $btn-icon-size-mobile;
    height: $btn-icon-size-mobile;
  }
}

@each $img in ellipses, back, search, close, profile, logout, filter, trash {
  .#{$img} {
    background-image: url('../../../img/#{$img}.svg');
  }
}

.check {
  background-image: url('../../../img/checkmark.dark.svg');
}

.mobile-top-left {
  @include modalTopBtn();
}

.mobile-top-right {
  @include modalTopBtn('right');
}

.filter {
  position: absolute;
  top: 0;
  height: $panel-header-height;
  right: 20px + $btn-icon-size-mobile + $panel-new-padding-hor-mobile; // TODO
  z-index: 50;
}

.panel-trash {
  margin-right: 10px; // TODO
}
