@import '../mixins';

$tag-item-height: 30px;

.btn {
  @include btn();

  font-size: 24px;
  color: $gray-text;  // TODO

  &:hover {
    opacity: 0.7;
  }

  width: $btn-icon-size;
  height: $btn-icon-size;

  @media (max-width: $screen-xs-max) {
    width: $btn-icon-size-mobile;
    height: $btn-icon-size-mobile;
  }
}

.alert-close {
  font-size: 14px;
  color: $alert-danger-text;
}

.tag-remove {
  font-size: 14px;
  color: $brand-primary;

  @media (max-width: $screen-xs-max) {
    width: $tag-item-height;
    height: $tag-item-height;
  }
}
