.btnOpen {
  font-size: 13px;
  min-width: 192px;
  padding: 0 12px 6px 40px;
  transition: border-color ease-in-out .15s;
  color: $gray-new;
}

.dateRangeWrapper {
  position: relative;
  z-index: 1;
  background: $white;
  padding: 10px 7px;
  border: 1px solid $gray-lighter;
  overflow: hidden;
  box-shadow: 0 0 7px 0 rgba(0,0,0,.25);


  @media (min-width: $screen-md-min) {
    max-width: 647px;
  }

  @media (max-width: $screen-sm-max) {
    height: 100vh;
  }
}

.ranges {
  width: 160px;
  margin: 4px;
  padding: 0;
}

.range {
  display: flex;
  align-items: center;
  padding: 0 12px;
  margin-bottom: 8px;
  height: 26px;
  font-size: 13px;
  cursor: pointer;
  border-radius: 0;
  background-color: $white;
  border: 1px solid $white;
  color: $darkgray-dark;
  width: 100%;
  text-align: left;

  &:hover,
  &:focus {
    background-color: $brand-primary;
    border-color: $brand-primary;
    color: $white;
  }

  &:focus {
    outline: none;
  }
}

.rangeSelected {
  background-color: $brand-primary;
  border-color: $brand-primary;
  color: $white;
}

.inputs {
  padding-bottom: 8px;
  padding-right: 3px;
  text-align: right;
}

.actions {
  border-top: 1px solid $gray-lighter;
  padding-top: 8px;
  margin-right: 3px;
  text-align: right;
}

:global {
  .date-range-picker {
    @media (min-width: $screen-md-min) {
      height: 20px;
    }

    .CalendarDay__selected_span {
      background-color: #ebf4f8;
      color: $black;
      border-radius: 0 !important;

      &:active, &:hover, &:focus {
        background-color: #e4e7e7;
        color: $black;
      }
    }

    .CalendarDay__selected_start {
      border-radius: 4px 0 0 4px !important;
      &, &:active, &:hover, &:focus {
        color: $white;
      }
    }

    .CalendarDay__selected_end {
      border-radius: 0 4px 4px 0 !important;
      &, &:active, &:hover, &:focus {
        color: $white;
      }
    }

    .CalendarDay__selected_start.CalendarDay__selected_end {
      border-radius: 4px !important;
    }

    .DayPicker__horizontal {
      margin: 0 auto;
    }

    .DayPicker_weekHeader__verticalScrollable {
      top: 26px;
    }
  }
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: $white;
  font-size: 19px;
}

.headerPortrait {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
}
