@import "../mixins";

.error {
  @include abs();
}

.content {
  @include centeredFlexWrap();
}

.icon {
  margin-bottom: 32px;
}

.title {
  margin-bottom: 14px;
  font-size: 25px;
  color: $gray-new;
}
