@import '../mixins';

@mixin onHover($color, $border-color) {
  &:hover {
    label {
      color: $color;
    }

    input,
    select {
      border-color: $border-color;
    }
  }
}

.row {
  @include onHover($brand-primary, $brand-primary);

  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: $distance-ver-sm;

  &:hover {
    :global {
      .SingleDatePickerWrap.plain {
        .SingleDatePickerInput {
          border-color: $brand-primary;
        }
      }
    }
  }
}

.disabled {
  @include onHover($gray-middle-new, $gray-lighter-new); // TODO
}

.error {
  @include onHover($state-danger-text, $state-danger-border); // TODO

  color: $state-danger-text;
}

.flex-end {
  margin: 0;
  align-items: flex-end;
}

.errorMsg {
  @include flexCenter();

  position: absolute;
  left: 0;
  right: 0;
  top: 67px;
  margin: 3px 0 0;
  padding: 10px 20px;
  border-radius: $border-radius-base;
  background-color: $red-danger; // TODO
  color: $white;
  font-weight: normal;
  font-size: $font-size-small;
  text-align: center;
  z-index: 100;

  &::before {
    @include triangle(0 5px 5px 5px, transparent transparent #df3320 transparent); // TODO

    content: '';
    position: absolute;
    top: -4px;
    left: 10px;
  }

  i {
    margin: 0 5px; // TODO
  }
}

.small {
  top: 38px;
  flex-direction: column;
  padding: 10px 8px; // TODO

  &::before {
    right: 10px; // TODO
    left: auto;
  }

  i {
    margin: 0 0 5px; // TODO
  }
}
