.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 73px;
  display: flex;
  align-items: center;
  padding: 0 35px;
  border-bottom: 1px solid $gray-light-new;
  background-color: #fafafa;
  z-index: 9999;

  @media (max-width: $screen-sm) {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.left {
  display: inline-flex;
  align-items: center;
  margin-right: auto;
}

.right {
  margin-left: auto;
}