@import "../mixins";

$to-top-bar: 4px;
$bar-height: 2px;
$bar-width: ($to-top-bar*2 + $bar-height*3)*1.4;
$icon-width: $bar-width;
$icon-height: $bar-height*3 + $to-top-bar*2;

.header {
  display: flex;
  z-index: $zindex-navbar-fixed;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  box-sizing: border-box;

  @media (min-width: $screen-sm-min) {
    height: $main-navigation-height;
    align-items: center;
    border-bottom: $border-base;
    padding: 0 $nav-header-padding-hor;
    background-color: $white;
  }

  @media (max-width: $screen-lg-min) {
    padding-left: $nav-header-padding-hor-md;
    padding-right: $nav-header-padding-hor-md;
  }

  @media (max-width: $screen-xs-max) {
    height: $main-navigation-height-mobile;
    justify-content: center;
    align-items: flex-start;
    border-bottom: none;
    background: rgba(255, 255, 255, 0.8);
  }
}

.nav,
.left,
.right {
  flex: 1;
  display: flex;
  align-items: center;
}

.right {
  justify-content: flex-end;
}

.nav {
  justify-content: space-between;
  height: 100%;
}

.menu {
  position: relative;
  margin-left: 10px;
}

.item {
  margin: 0 5px;

  &:last-child {
    margin-right: 0;
  }
}

.mobile {
  justify-content: center;
}

.mobileToggler {
  @include flexCenter();

  height: $main-navigation-height-mobile;
  position: absolute !important;
  top: 0;
  left: 5px;
  transform: rotate(0deg);
  transition: .5s ease-in-out;
}

.iconBar {
  display: flex;
  position: absolute;
  height: $bar-height;
  width: 100%;
  background: $gray-text;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: .25s ease-in-out;

  &:nth-child(1) {
    top: 0;
  }

  &:nth-child(2) {
    top: $to-top-bar + $bar-height;
  }

  &:nth-child(3) {
    top: ($to-top-bar + $bar-height)*2;
  }
}

.list {
  margin: 0;
  flex: 1;
  padding: 28px $actions-content-padding; // TODO
}

.li {
  display: flex;
}

.a {
  @include link($gray-new);

  flex: 1;
  display: flex;
  align-items: center;
  padding: $actions-option-padding 0;
  border-bottom: $border-base;
  font-size: $actions-option-font-size;
  line-height: $line-height-base;
}
