@import "../mixins";

.input {
  @include formElement();
  @include placeholder {
    color: $gray-middle-new;
  }

  &:hover,
  &:focus {
    border-color: $brand-primary;
    outline: none;
  }
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.text-right {
  text-align: right;
}

.small {
  max-width: 68px;  // TODO
  height: 33px;  // TODO
  padding: 5px;  // TODO
}

.disabled {
  background-color: $gray-lightest-new; // TODO
  pointer-events: none;

  &:hover {
    border-color: $gray-lightest-new; // TODO
  }
}

.invalid {
  border-color: $state-danger-border; // TODO
}
