.label  {
  margin: 0 0 2px;
  color: $gray-middle-new;
  transition: border-color ease-in-out .15s;

  &:hover,
  &:focus {
    color: $brand-primary;
  }
}

.active {
  color: $brand-primary;
}

.error {
  color: $state-danger-text;
}
