@import '../mixins';


.menu {
  width: 259px;
  margin-right: 20px;
}

.nav {
  @include lightBox();

}

.title {
  @include heading();
}

.list {
  margin: 0;
  padding: 5px 20px;
}

.li {
  display: flex;
  margin: 5px 0;
  padding: 0;
}

.a {
  flex: 1;
  height: 30px;
  display: flex;
  align-items: center;
  border-radius: 2px;
  font-size: 14px;
  padding: 0 20px;
  @include link($gray-new);

  &:hover {
    background-color: $gray-lightest-new;
  }
}

.active {
  background-color: $brand-primary;
  @include link($white);

  &:hover {
    background-color: $brand-primary;
  }
}



