@import '../mixins';


.menu {
  width: 259px;
  margin-right: 20px;
}

.nav {
  @include lightBox();

}

.navTablet {
  @include dropdown(215px, 5px, 5px);
}

.list {
  margin: 0;
  padding: 5px 20px;
}

.listTablet {
  padding: 0;
}

.li {
  height: 30px;
  display: flex;
  align-items: center;
  margin: 5px 0;
  border-radius: 2px;
  font-size: 14px;
  padding: 0 20px;
  cursor: pointer;
  
  &:hover {
    background-color: $gray-lightest-new;
  }
}

.liTablet {
  height: 32px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.a {
  @include link($gray-new);
}

.active {
  background-color: $brand-primary;
  color: $white;
  
  &:hover {
    background-color: $brand-primary;
  }
}



