@import "../mixins";

.actions {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100vh;
}

.header,
.close {
  display: flex;
  justify-content: center;
  align-items: center;
  height: $main-navigation-height-mobile;
}

.list {
  margin: 0;
  padding-right: 48px;
  flex: 1;
  background: $white;
}

.li {
  display: flex;
  align-items: center;
  margin: 3px 0;
  background: $white;
}

.span {
  flex: 1;
  display: flex;
  align-items: center;
  border-radius: 2px;
  font-size: 16px;
  padding: 9px 0;
  @include link($gray-new);
  @include textWrap();
  background: $white;
  border-bottom: 1px solid $gray-light-new;
  line-height: $line-height-base;

  &:hover,
  &.active {
    color: $brand-primary;
    background-color: $white;
  }
}

.close {
  @include closeButton();
}
