@import "../mixins";

.actions {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100vh;
}

.header,
.close {
  display: flex;
  justify-content: center;
  align-items: center;
  height: $main-navigation-height-mobile;
  min-height: $main-navigation-height-mobile;
}

.list {
  margin: 0;
  padding-right: $actions-content-padding;
  flex: 1;
  background: $white;
}

.li {
  display: flex;
  align-items: center;
  background: $white;
}

.span {
  @include link($gray-new);
  @include textWrap();

  flex: 1;
  display: flex;
  align-items: center;
  font-size: $actions-option-font-size;
  padding: $actions-option-padding 0;
  background: $white;
  border-bottom: $border-base;
  line-height: $line-height-base;

  &:hover,
  &.active {
    color: $brand-primary;
    background-color: $white;
  }
}
