@import "../mixins";

.actions {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  @include dropdown(5px, 5px);
  @include fixedBox();
  max-height: 100vh !important;

}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 12px;
}

.list {
  margin: 0;
  padding-top: 11px;
  flex: 1;
  background: $white;
}

.li {
  display: flex;
  align-items: center;
  margin: 3px 0;
  background: $white;

  span {
    margin-right: 13px;
  }
}

.span {
  flex: 1;
  display: flex;
  align-items: center;
  border-radius: 2px;
  font-size: 16px;
  padding: 9px 0;
  @include link($gray-new);
  @include textWrap();
  background: $white;
  border-bottom: 1px solid $gray-light-new;
  line-height: $line-height-base;

  &:hover {
    color: $brand-primary;
    background-color: $white;
  }
}

.close {
  position: absolute;
  top: 5px;
  left: 5px;
}
