@import '../../project/mixins/clearfix';
@import '../mixins';

$img-height: 36px;
$img-width: 30px;
$img-to-text: 20px;
$panel-padding-ver: 25px;

.wrapper {
  @include clearfix();
  @include panelHorPadding();

  border-bottom: $border-base;
  box-shadow: none;
  margin: 0;
  padding-top: $panel-padding-ver;
  padding-bottom: $panel-padding-ver;

  &:hover {
    background-color: $table-bg-hover;
    cursor: pointer;
  }
}

.image {
  width: $img-width;
  height: $img-height;
  background: url('../../../img/analytics.svg') no-repeat;
  background-size: $img-width $img-height;
  float: left;
  margin-right: $img-to-text;
}

.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: $img-height;
  width: calc(100% - #{$img-width + $img-to-text});
}
