@import '../../project/mixins/clearfix';

$img-height: 36px;
$img-width: 30px;
$img-to-text: 20px;

.wrapper {
  @include clearfix();

  border-bottom: 1px solid $border-color-base;
  box-shadow: none;
  margin: 0;
  padding: 25px $panel-new-padding-hor; // TODO

  @media (max-width: $screen-xs-max) {
    padding-left: $panel-new-padding-hor-mobile;
  }

  &:hover {
    background-color: $table-bg-hover;
    cursor: pointer;
  }
}

.image {
  width: $img-width;
  height: $img-height;
  background: url('../../../img/analytics.svg') no-repeat;
  background-size: $img-width $img-height;
  float: left;
  margin-right: $img-to-text;
}

.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: $img-height;
  width: calc(100% - #{$img-width + $img-to-text});
}
