.filter {
  display: flex;
  align-items: stretch;
  height: $panel-new-filter-height;
  border-bottom: 1px solid $border-color-base;
}

.header {
  display: flex;
  justify-content: center;
  height: $main-navigation-height-mobile;
  min-height: $main-navigation-height-mobile;
}
