.panelHeader {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: $panel-header-height;
  padding: 0 $panel-new-padding-hor;
  border-bottom: $border-base;
  z-index: 50; // ???

  @media (max-width: $screen-xs-max) {
    padding-left: $panel-new-padding-hor-mobile;
    padding-right: $panel-new-padding-hor-mobile;
  }
}
