$shadow-bg: rgba(0, 0, 0, 0.3);

.document {
  z-index: $zindex-modal;
  position: relative;
  background: $white;

  @media (min-width: $screen-sm-min) {
    width: 90vw;
    height: 90vh;
    margin: $main-navigation-height auto $btn-icon-size;
  }

  @media (max-width: $screen-xs-max) {
    margin: 0 auto;
    width: calc(100% - #{$btn-icon-size-mobile}*2);
  }
}

.btnWrapper {
  background: $shadow-bg;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: $main-navigation-height-mobile;
}

.shadow {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: $zindex-modal-background;
  background: $shadow-bg !important;
  animation-duration: 0.15s;
  animation-timing-function: linear;
  animation-fill-mode: backwards;
  opacity: 1;
}
