@import '../mixins';

.input {
  @include formElement();
  padding-right: 12px;

  &:hover,
  &:focus {
    border-color: $brand-primary;
    outline: none;
  }
}

.width-145 {
  width: 145px;
}

.top-35 {
  margin-top: 35px;
}

.bottom-45 {
  margin-bottom: 45px;
}