@import '../mixins';

.input {
  @include formElement();

  &:hover,
  &:focus {
    border-color: $brand-primary;
    outline: none;
  }
}

.width-145 {
  width: 145px;
}

.top-md {
  margin-top: $distance-ver-md;
}

.bottom-md {
  margin-bottom: $distance-ver-md;
}

.inputStartDate,
.inputEndDate {
  background: url('../../../img/calendar.svg') 5px center no-repeat;
  background-size: 20px;
  padding-left: 28px;
  width: 203px;
  height: 35px;
}

.inputStartDate {
  margin-right: 12px;
}

.inputEndDate {
  margin-left: 12px;
}
