@import '../mixins';

.input {
  @include formElement();
  padding-right: 12px;

  &:hover,
  &:focus {
    border-color: $brand-primary;
    outline: none;
  }
}

.width-145 {
  width: 145px;
}

.top-35 {
  margin-top: 35px;
}

.bottom-45 {
  margin-bottom: 45px;
}

.inputStartDate,
.inputEndDate {
  background: url('../../../img/calendar.svg') 5px center no-repeat;
  background-size: 20px;
  padding-left: 28px;
  width: 203px;
  height: 35px;
}

.inputStartDate {
  margin-right: 12px;
}

.inputEndDate {
  margin-left: 12px;
}
