@import '../mixins';

.radios {
  display: flex;
  align-items: center;
  margin: 15px 0 10px;
}

.radio {
  position: relative;

  input {
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
  }
  i {
    margin-right: 10px;
  }
}

.label {
  display: inline-flex;
  align-items: center;
  margin-right: 80px;
  cursor: pointer;

  &:hover,
  &:focus {
    color: $brand-primary;
  }

  i {
    margin-left: 0;
  }

  @media (max-width: $screen-xxs-max) {
    margin-right: 25px;
  }
}

.input {
  margin-right: 10px;
}

.column {
  flex-direction: column;
  align-items: flex-start;
  margin-top: 25px;
  margin-bottom: 32px;

  label {
    margin: 7px 0;
  }
}
