@import '../mixins';

.radios {
  display: flex;
  align-items: center;
  margin: 14px 0 10px -4px;
}

.radio {
  position: relative;

  input {
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
  }
  i {
    margin-right: 10px;
  }
}

.label {
  display: inline-flex;
  align-items: center;
  margin-right: 80px;
  cursor: pointer;

  &:hover,
  &:focus {
    color: $brand-primary;
  }

  @media (max-width: $screen-sm) {
    margin-right: 25px;
  }
}

.input {
  margin-right: 10px;
}