@import '../mixins';

.radios {
  display: flex;
  align-items: center;
  margin: 10px 0;
}

.radio {
  position: relative;

  input {
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
  }
  i {
    margin-right: 10px;
  }
}

.label {
  display: inline-flex;
  align-items: center;
  margin-right: 80px;
}

.input {
  margin-right: 10px;
}