@import "../mixins";

.select {
  display: flex;
  width: 100%;
  width: 100%;

  :global {

    .Select {
      width: 100%;
      display: flex;
      position: relative;

      .Select-control {
        width: 100%;
        position: relative;
        @include formElement();
        padding-right: 10px;
        display: flex;
        align-items: center;
        cursor: pointer;
      }

      .Select-multi-value-wrapper {
        display: flex;
        @include textWrap();
      }

      .Select-menu-outer {
        @include dropdown(-1px, -1px);
      }

      .Select-control {
        display: flex;
        justify-content: space-between;
      }

      .Select-option {
        display: flex;
        margin: 4px 0;
        padding: 0;
        align-items: center;
        border-radius: 2px;
        font-size: 14px;
        padding: 12px 25px;
        white-space: nowrap;
        cursor: pointer;

        &:hover {
          background-color: $gray-lightest-new;
        }

        &.is-selected {
          background-color: $gray-lightest-new;
        }
        &.is-focused {

        }
      }

      .Select-input {
        outline: none;
        background: none;
        user-select: none;
      }

      .Select-arrow-zone {
        position: relative;
        top: -2px;
      }

      .Select-arrow {
        @include arrowBottom();
      }

      .Select-value {
        @include textWrap();
      }

      &.is-open {

        .Select-arrow {
          @include arrowTop();
        }
      }

      &.is-focused {
        .Select-control {
          border-color: $brand-primary;
        }
      }

      &.is-disabled {
        .Select-control {
          background-color: $gray-lightest-new;
          pointer-events: none;

          &:hover {
            border-color: $gray-lightest-new;
          }
        }
      }
    }
  }
}


.plain {

  :global {

    .Select {

      .Select-control {
        height: auto;
        border: none;
      }
    }
  }
}