.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 15px 0;
  padding: 0 20px;
}

.border {
  height: 42px;
  margin: 0 0 5px;
  border: 1px solid $gray-light-new;
  border-radius: 2px;
}

.subHead {
  margin: 0px -1px 20px;
  padding: 0;
}

.plain {
  margin: 0;
  padding: 0;
}

.left {
  justify-content: flex-start;
}

.col {
  flex-direction: column;
}