.row {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.make-primary {
  margin-bottom: 20px;
}

.form-buttons {
  justify-content: flex-end;

  @media (max-width: $screen-xs-max) {
    justify-content: center;
  }

  &.pay-employees-buttons {
    padding: 35px 20px;

    @media (max-width: $screen-xs-max) {
      padding-left: 10px;
      padding-right: 10px;
    }
  }
}
