@import "../mixins";

@keyframes toLeft{
  from { right: -10px; }
  to { left: -37px; }
}

.search {
  display: flex;

  @media (min-width: $screen-sm-min) {
    flex: 1 1 auto;
    height: 100%;
  }

  @media (max-width: $screen-xs-max) {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
  }

  :global {

    input {
      &:focus {
        outline: 0 none;
      }
    }

    .Select,
    .Select-control {
      width: 100%;
    }

    .Select {
      position: relative;
      display: flex;
      align-items: center;
      padding: 0 20px;

      &.is-open,
      &.is-focused {
        padding: 0 44px;

        .Select-control {
          overflow: visible;

          &:after {
            position: absolute;
            right: -30px;
            width: 30px;
            height: 30px;
            content: '';
            background: transparent url('../../../img/close.svg') center center no-repeat;
            cursor: pointer;
            pointer-events: none;
            transition: all 1s ease-out;
            z-index: 100;
          }

          .Select-arrow-zone {
            right: calc(100% - -2px);
          }
        }

        .Select-menu-outer {
          max-height: 385px;
          @include customScroll();
          position: absolute;
          top: 48px;
          left: 48px;
          right: 48px;
          width: 90%;
          border: 1px solid rgba(0, 0, 0, .2);
          box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
          border-radius: 0;
          background: $white;
          z-index: $zindex-dropdown;
        }
      }
    }

    .Select-control {
      height: 36px;
      position: relative;
      display: flex;
      align-items: center;
      top: 3px;
      padding-bottom: 2px;
      white-space: nowrap;
      -webkit-appearance: textfield;
    }

    .Select-arrow-zone {
      height: 30px;
      width: 35px;
      display: inline-flex;
      position: absolute;
      top: 2px;
      right: -9px;
      transition: all .2s ease-out;
    }

    .Select-arrow {
      height: 30px;
      width: 35px;
      border: none;
      background: transparent url('../../../img/search.svg') center center no-repeat;
      background-size: 30px;
    }

    .Select-clear-zone {
      position: absolute;
      right: -30px;
      width: 30px;
      height: 30px;
      cursor: pointer;
    }

    .Select-clear {
      visibility: hidden;
    }

    .Select-aria-only {
      display: none;
    }

    .Select-multi-value-wrapper {
      position: relative;
      top: 2px;
      width: 100%;
      margin-right: 5px;
      @include customScroll();
    }

    .Select-input {
      width: 0;
    }

    .Select--multi {
      .Select-multi-value-wrapper {
        display: flex;
        align-items: center;
      }

      .Select-value {
        position: relative;
        height: 30px;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
        margin: 0 5px 0 0;
        background: $white;
        border: 1px solid $brand-primary;
        border-radius: 3px;

        &:after {
          position: absolute;
          top: 0;
          right: 38px;
          bottom: 0;
          content: '';
          width: 1px;
          background-color: $brand-primary;
        }

        &:hover {
          .Select-tooltip {
            opacity: 1 !important;
          }
        }
      }

      .Select-noresults {
        padding: 15px 30px;
        z-index: 99999;
      }

      .Select-value-label {
        display: inline-block;
        max-width: 7ch;
        @include textWrap();
        margin: 0 10px;
        padding: 0;
        color: $gray-new;
      }

      .Select-value-icon {
        display: inline-flex;
        width: 38px;
        padding: 0;
        justify-content: center;
        align-items: center;
        border-right: none;
        font-weight: 700;
        font-size: 16px;
        color: $brand-primary;
        line-height: 1;

        &:hover {
          background: $white;
        }
      }

      .Select-option {
        margin: 5px 0;
        padding: 8px 25px;
        background: $white;

        &.is-focused {
          background: $white;
          color: $gray-new;
        }

        &:hover {
          background-color: $gray-lightest-new;
        }
      }

      .Select-tooltip {
        opacity: 0 !important;
        position: absolute;
        top: -28px;
        left: 0;
        right: 0;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: opacity 0.2s ease-in-out;
        z-index: $zindex-tooltip;
      }

      .Select-tooltip-inner {
        max-width: 500px;
        background: $form-font-color;
        padding: 3px 8px;
        color: $white;
        border-radius: 3px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: visible;
        font-size: 12px;
        line-height: 1.2;
        user-select: none;

        &:after {
          content: '';
          width: 0;
          height: 0;
          position: absolute;
          bottom: -5px;
          left: 50%;
          margin-left: -5px;
          border-color: transparent;
          border-style: solid;
          border-width: 5px 5px 0;
          border-top-color: $form-font-color;
        }
      }
    }

    @media (max-width: $screen-xxs-max) {
      .Select {
        padding: 0 10px;
      }
    }
  }
}

.mobile {

  :global {

    .Select {
      flex-direction: column;
      padding: 0 !important;
      border-bottom: 1px solid $gray-light-new;

      .Select-clear-zone {
        top: 5px !important;
        right: 5px !important;
      }

      .Select-control {
        padding: 0 48px;
        min-height: $main-navigation-height-mobile;
        height: auto;
        top: 0;

        &:after {
          top: 0 !important;
          right: 5px !important;
          width: 25px !important;
          height: $main-navigation-height-mobile !important;
          background-size: 25px !important;
        }
      }

      .Select-multi-value-wrapper {
        position: relative;
        top: 0;
        flex-wrap: wrap;
      }

      .Select-value,
      .Select-input {
        margin-top: 3px;
      }

      .Select-arrow-zone {
        top: 0 !important;
        right: auto !important;
        left: 0 !important;
      }

      .Select-option {
        position: relative;
        border-bottom: 1px solid $gray-light-new;
        padding: 13px 0;
        margin: 0 44px;

        &:before {
          width: 32px;
          height: 30px;
          content: '';
          position: absolute;
          top: 1px;
          left: -45px;
          background: transparent url('../../../img/search.svg') 6px 5px no-repeat;
          background-size: 30px;
        }

        &:last-child {
          border-bottom: none;
        }
      }

      .Select-create-option-placeholder {
        position: relative;

        &:before {
          width: 32px;
          height: 30px;
          content: '';
          position: absolute;
          top: 0;
          left: -45px;
          background: transparent url('../../../img/add-plus.svg') 7px 6px no-repeat;
          background-size: 30px;
        }
      }

      .Select-clear-zone {
        right: 0;
      }

      .Select-menu-outer {
        position: static !important;
        border: none !important;
        box-shadow: none !important;
        width: 100% !important;
      }

      .Select-arrow-zone {
        display: none !important;
      }
    }
  }
}
