@import '../mixins';

$cell-height: 44px;


.wrapper {
  @include customScroll();

  padding: 1px;
  margin: -1px;
}

.table {
  width: 100%;
  margin: 0 0 $distance-ver-md;
  padding: 0;
  background: none;
  border-collapse: collapse;
  border-style: hidden;
  box-shadow: 0 0 0 1px $gray-light-new;
  border-spacing: 0;
  transition: all 1s ease-in-out !important;

  th {
    font-weight: normal;
    font-style: normal;
    color: $gray-middle-new;
    white-space: nowrap;
    padding-top: $distance-ver-md;
    padding-bottom: 3px;
  }

  tr {
    border: $border-base;
  }

  th,
  td {
    @include panelHorPadding();

    text-align: left;
  }

  td {
    height: $cell-height;
  }

  tbody {
    tr {
      &:hover {
        background-color: $table-bg-hover;
      }
    }
  }
}

.inPanel {
  th {
    height: $cell-height;
    padding-top: 0;
    padding-bottom: 0;
  }
}

.headerSort {
  &:hover {
    color: $gray-darkest-new;
    cursor: pointer;
    user-select: none;
    transition: all 0.3s ease-in-out;
  }
}

.payEmployeesForm {
  margin-bottom: 0;
  border: 0 none;
  box-shadow: none;

  th {
    font-size: $font-size-small;
  }

  th,
  td {
    min-width: 90px;
    text-align: right;
    padding-left: 5px;
    padding-right: 5px;

    &:first-child {
      padding-left: $panel-new-padding-hor;
      min-width: 140px;
      text-align: left;
    }

    &:last-child {
      padding-right: $panel-new-padding-hor;
    }
  }

  td {
    padding-top: $distance-ver-sm;
    padding-bottom: $distance-ver-sm;
  }

  tr {
    border-left: none;
    border-right: none;
    border-top: none;
  }
}

.table,
.payEmployeesForm {
  @media (max-width: $screen-xxs-max) {
    th,
    td {
      &:first-child {
        padding-left: $panel-new-padding-hor-mobile;
      }

      &:last-child {
        padding-right: $panel-new-padding-hor-mobile;
      }
    }
  }
}
