@import '../mixins';

.wrapper {
  @include customScroll();

  padding: 1px;
  margin: -1px;
}

.table {
  width: 100%;
  margin: 0 0 18px;
  padding: 0;
  background: none;
  border-collapse: collapse;
  border-radius: 2px;
  border-style: hidden;
  box-shadow: 0 0 0 1px $gray-light-new;
  border-spacing: 0;
  transition: all 1s ease-in-out !important;

  th {
    font-weight: normal;
    font-style: normal;
    color: $gray-middle-new;
    white-space: nowrap;
  }

  tr {
    border: 1px solid $gray-light-new;
  }

  th,
  td {
    height: 44px;
    text-align: left;
    padding: 0 20px;
  }

  th {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  tbody {
    tr {
      &:hover {
        background-color: $table-bg-hover;
      }
    }
  }

  @media (max-width: $screen-xxs-max) {

    th,
    td {
      &:first-child {
        padding-left: 10px;
      }
      &:last-child {
        padding-right: 10px;
      }
    }
  }
}

.top-10 {
  margin-top: 10px;
  box-shadow: 0 1px 0 0 $gray-light-new;
}

.headerSort {
  &:hover {
    color: $gray-darkest-new;
    cursor: pointer;
    user-select: none;
    transition: all 0.3s ease-in-out;
  }
}

.payEmployeesForm {
  margin-top: 4px;
  margin-bottom: 4px;
  border: 0 none;
  box-shadow: none;

  th {
    font-size: $font-size-small;
  }

  th,
  td {
    min-width: 90px;
    padding-left: 5px;
    padding-right: 5px;
    text-align: right;

    &:first-child {
      min-width: 140px;
      padding-left: 20px;
      text-align: left;
    }
    &:last-child {
      padding-right: 20px;
    }
  }

  tr {
    height: 80px;
    border-left: none;
    border-right: none;
    border-top: none;

    &:last-child {
      height: 60px;
    }
  }

  @media (max-width: $screen-xxs-max) {
    th,
    td {
      &:first-child {
        padding-left: 10px;
      }
      &:last-child {
        padding-right: 10px;
      }
    }
  }
}
