.text {
  display: inline-flex;
  align-items: center;
  line-height: 1;
  font-size: $font-size-base;
}

.color-gray {
  color: $gray-middle-new;
}

.font-sm {
  font-size: $font-size-small;
}

.font-13 {
  font-size: 13px;
}

.font-actions {
  font-size: $actions-option-font-size;
}

.lh-base {
  line-height: $line-height-base;
}

.flex {
  display: flex;
}

.bold {
  font-weight: bold;
}
