.text {
  display: inline-flex;
  align-items: center;
  font-size: 14px;
  line-height: 1;
}

.row {
  display: flex;
  align-items: center;
}

.gray {
  color: $gray-middle-new;
}

.font18 {
  font-size: 18px;
}