.text {
  display: inline-flex;
  align-items: center;
  font-size: 14px;
  line-height: 1;

  @media (max-width: $screen-sm) {
    font-size: 12px;
  }
}

.row {
  display: flex;
  align-items: center;
}

.gray {
  color: $gray-middle-new;
}

.font18 {
  font-size: 18px;
}

.centered {
  text-align: center;
}