.title {
  display: inline-flex;
  align-items: center;
  margin: 0;
  line-height: 1;
  font-weight: 300;
  font-size: 27px;
}

.high {
  height: 55px;
  margin-bottom: 10px;
}

.h2 {
  font-size: 21px;
}

.h3 {
  font-size: 16px;
}