@import "../mixins";

.title,
.title2 {
  display: inline-flex;
  align-items: center;
  line-height: 1;
  font-weight: 300;
  margin: 0;

  @media (max-width: $screen-xs-max) {
    font-size: 19px;
  }
}

.title {
  font-size: 27px;
}

.title2 {
  font-size: 21px;
}
