@import "../mixins";

.title,
.title2 {
  display: inline-flex;
  align-items: center;
  line-height: 1;
  font-weight: 300;
  margin: 0;
}

@media (max-width: $screen-xs-max) {
  .title {
    font-size: $title-font-mobile;
  }

  .title2 {
    font-size: $title2-font-mobile;
  }
}

@media (min-width: $screen-sm-min) {
  .title {
    font-size: $title-font;
  }

  .title2 {
    font-size: $title2-font;
  }
}
