@import "../mixins";

.warning {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 0;
}

.icon {
  margin-bottom: 30px;
}

.title {
  margin-bottom: 14px;
  font-size: 25px;
  color: $gray-new;
}
