@import "../mixins";

.warning {
  @include centeredFlexWrap();

  height: 100%;
}

.icon {
  margin-bottom: 30px;
}

.title {
  text-align: center;
  margin-bottom: 14px;
  color: $gray-new;
}

.children {
  text-align: center;
  font-size: 18px;
  color: $gray-middle-new;

  @media (max-width: $screen-xs-max) {
    font-size: 15px;
  }
}
