.breadcrumb {
  padding-top: 8px;
  padding-bottom: 8px;

  li,
  .btn-link,
  .dropdown-menu a {
    @media (min-width: $screen-sm-min) {
     font-size: $font-size-md !important;
   }
  }

  li {
    .glyphicon-menu-right {
      margin-left:  $margin-xs;
      margin-right: $margin-xs;
    }
  }

  .btn-link {
    font-size: 14px;
    font-weight: 300;

    display: inline;

    margin: 0;
    padding: 0;

    text-decoration: none;
    vertical-align: top;

    color: $aqua-dark;
    border: none !important;
    outline: none !important;
  }

  .icon-folder {
    @media (min-width: $screen-sm-min) {
      margin-top: -5px;
    }
    @media (max-width: $screen-xs-max) {
      margin-top: -3px;
    }
  }
}
