.breadcrumb {
  padding-top: 8px;
  padding-bottom: 8px;

  > li,
  .btn-link {
    @media (min-width: $screen-sm-min) {
      font-size: $font-size-md !important;
    }
  }

  li {
    .glyphicon-menu-right {
      margin-right: $margin-xs;
    }
  }

  .btn-link {
    font-size: 14px;
    font-weight: 300;

    display: inline;

    margin: 0;
    padding: 0;

    text-decoration: none;
    vertical-align: top;

    color: $brand-primary;
    border: none !important;
    outline: none !important;
  }
}
