.btn.mod-lg-rounded {
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;

  padding: 18px 45px;

  border-radius: 30px;

  @media (max-width:$screen-xs-max) {
    $coef: .7;
    font-size: 12px;
    padding: $coef*18px $coef*45px;
    border-radius: $coef*30px;
  }
}
