.checkbox.mod-custom,
.radio {
  margin-bottom: 0;

  input {
    display: none;

    &:checked + label {
      &.mod-default:before {
        content: '\e013';
      }

      &.mod-primary {
        &:before {
          background: url(#{$images-path}/checkmark.svg) no-repeat center $brand-primary;
          background-size: 70%;
          border-color: $brand-primary;
        }

        &:hover:before {
          opacity: 0.9;
        }
      }
    }

    &[disabled],
    &.disabled,
    fieldset[disabled] & {
      + label {
        cursor: $cursor-disabled;

        &.mod-default:before,
        &.mod-primary:before {
          color: $input-color-disabled;
          background-color: $input-bg-disabled;
          border-color: $input-border;
        }

        &.mod-primary {
          &:before {
            background-image: url(#{$images-path}/checkmark.dark.svg);
          }
        }
      }
    }
  }

  label {
    font-weight: 300;

    &:before {
      content: '';
      display: inline-block;
      border: 1px solid $input-border;
      vertical-align: middle;
      margin-top: -5px;
      margin-right: 10px;
      font-family: 'Glyphicons Halflings';
    }

    &:hover:before {
      border-color: $input-border-hover;
    }

    &.mod-default {

      &.mod-lg {
        line-height: 24px;

        @media (max-width: $screen-xs-max) {
          line-height: 21px;
        }

        &:before {
          width: 18px;
          height: 18px;
          line-height: 16px;

          @media (max-width: $screen-xs-max) {
            width: 15px;
            height: 15px;
            line-height: 13px;
          }
        }
      }

      &:before {
        color: $brand-saturated;
        width: 15px;
        height: 15px;
        line-height: 13px;
      }
    }

    &.mod-primary {
      &.mod-lg {
        line-height: 24px;

        &:before {
          width: 24px;
          height: 24px;
          line-height: 16px;
        }
      }

      &.mod-xs {
        &:before {
          margin-top: -3px;
          width: 15px;
          height: 15px;
          line-height: 9px;
        }
      }

      &:before {
        color: $white;
        width: 18px;
        height: 18px;
        line-height: 10px;
      }
    }
  }
}

.checkbox.mod-custom label {
  padding-left: 0;

  &.mod-default:before {
    border-radius: 3px;
  }

  &.mod-primary:before {
    border-radius: 33%;
  }
}

.radio label:before {
  border-radius: 50%;
}

.checkbox {
  margin-bottom: 0;
}
