.checkbox,
.radio {
  @media (max-width: $screen-xs-max) {
    font-size: $font-size-xs;
  }

  &__input {
    display: none;
  }

  &__label {
    font-weight: 300;

    &:before {
      content: '';
      display: inline-block;
      border: 1px solid $input-border;
      vertical-align: middle;
      margin-top: -5px;
      margin-right: 10px;
      font-family: 'Glyphicons Halflings';
    }

    &.mod-default:before {
      color: $brand-saturated;
      width: 18px;
      height: 18px;
      line-height: 16px;

      @media (max-width: $screen-xs-max) {
        width: 15px;
        height: 15px;
        line-height: 13px;
      }
    }

    &.mod-primary:before {
      color: $white;
      width: 24px;
      height: 24px;
      line-height: 16px;

      @media (max-width: $screen-xs-max) {
        width: 15px;
        height: 15px;
        line-height: 13px;
      }
    }
  }

  &__input:checked + &__label {
    &.mod-default:before {
      content: '\e013';
    }

    &.mod-primary:before {
      background: url(#{$images-path}/checkmark.svg) no-repeat center $brand-primary;
      background-size: 70%;
      border-color: $brand-primary;
    }
  }
}

.checkbox__label {
  &.mod-default:before {
    border-radius: 3px;
  }

  &.mod-primary:before {
    border-radius: 8px;

    @media (max-width: $screen-xs-max) {
      border-radius: 5px;
    }
  }
}

.radio__label:before {
  border-radius: 50%;
}

