.checkbox {
  @media (max-width: $screen-xs-max) {
    font-size: $font-size-xs;
  }

  &__input {
    display: none;
  }

  &__input[type="checkbox"] + &__label:before {
    content: '';
    width: 18px;
    height: 18px;
    display: inline-block;
    line-height: 16px;
    border: 1px solid $gray-border;
    border-radius: 3px;
    color: $brand-saturated;
    vertical-align: middle;
    margin-top: -5px;
    margin-right: 10px;
    font-family: 'Glyphicons Halflings';

    @media (max-width: $screen-xs-max) {
      width: 15px;
      height: 15px;
      line-height: 13px;
    }
  }

  &__input[type="checkbox"]:checked + &__label:before {
    content: '\e013';
  }

  & &__label {
    font-weight: 300;
  }
}