$checkboxBorderColor: #d3d8db;

.checkbox {
  @media (max-width: $screen-xs-max) {
    font-size: $font-size-xs;
  }

  &__input {
    display: none;
  }

  &__indicator {
    width: 18px;
    height: 18px;
    display: inline-block;
    border: 1px solid $checkboxBorderColor;
    border-radius: 3px;
    color: $brand-saturated;
    vertical-align: middle;
    margin-top: -5px;
    &:before {
      margin-left: 1px;
    }

    @media (max-width: $screen-xs-max) {
      width: 15px;
      height: 15px;
    }
  }

  .checkbox &__label {
    font-weight: 300;
  }
}