.checkbox {
  &__input {
    display: none;
  }

  &__indicator {
    width: 20px;
    height: 20px;
    &.mod-checked {
      /*&:before {
        content: "";
        display: block;
        background-image: ;
        background-repeat: no-repeat;
        background-position: 2px;

      }*/
    }
  }

  &__label {

  }
}