.content-filter {
  margin-top: $margin-xs;
  margin-bottom: $margin-normal;
  padding: $content-filter-padding 0;
  width: 100%;
  border-top: 1px solid $table-border-color;
  border-bottom: 1px solid $table-border-color;

  &.mod-date-and-tags, &.mod-date-and-tags-and-settings {
    $search-input-height: 34px;

    .as-search-height {
      height: $search-input-height;
    }

    .add-icon > .glyphicon {
      $padding-vertical: $search-input-height - 15;
      padding-top: $padding-vertical / 2;
      padding-bottom: $padding-vertical / 2;
    }
  }

  &.mod-date-and-tags-and-settings {
    tags-input {
      padding-left: 0;
      padding-right: 4px;
    }
  }

  &.expand-wrapper {
    a {
      height: $content-filter-height !important;
    }
  }

  .add-control {
    margin-bottom: 0;
  }

  .filter-control {
    height: $content-filter-height;
  }

  .glyphicon-menu-left {
    font-size: 12px;
  }

  select {
    // centers text inside
    height: $content-filter-height;
    padding: 3px 15px 4px 10px;
  }

  .week-dropdown {
    width: 160px !important;

    @media (max-width: $screen-xs-max) {
      width: 140px !important;
    }
  }

  .day-dropdown {
    width: 120px !important;
  }

  // third-party, so everything is important here
  tags-input.mod-xs {
    $content-height: $content-filter-height - 8;

    min-height: $content-filter-height;

    .input {
      height: $content-height !important;
    }

    .tag-item {
      height: $content-height !important;
      line-height: $content-height - 1 !important;
    }

    @media (max-width: $screen-xs-max) {
      width: 100%;
      display: block;
      margin-left: 0;
      padding-right: 7px;
      margin-top: $margin-xs;
    }
  }

}

.week-dropdown,
.day-dropdown,
.account-dropdown {
  text-align: left;
  position: relative;
  height: $content-filter-height;

  .caret {
    position: absolute;
    right: 10px;
    top: 47%;
  }

  @media (max-width: $screen-xxs-max) {
    max-width: 133px;
  }
}

.account-dropdown {
  @media (min-width: $screen-xs-min) {
    max-width: 200px;
  }
}
