.date-range-selector {
  position: relative;

  &__input {
    padding-left: 25px;
  }

  i {
    position: absolute;
    left: 8px;
    top: 9px;
  }
}

.daterangepicker.dropdown-menu {

  .ranges li {
    border-radius: 0;
    background: $white;
    border: 1px solid $white;
    color: $darkgray-dark;

    &.active {
      background-color: $brand-primary;
      border: 1px solid $brand-primary;
      border-radius: 0;
      color: $white;
    }

    &:hover {
      background-color: $brand-primary;
      border: 1px solid $brand-primary;
      border-radius: 0;
      color: $white;
    }
  }

  td.active, td.active:hover {
    background-color: $brand-primary;
  }

  .input-mini {
    border-radius: 0;
  }

  .input-mini.active {
    border: 1px solid $brand-primary;
    border-radius: 0;
  }
}


// Report Date Selector
// -----------------------

.custom-selector {
  position: relative;

  &__btn {
    @include custom-selector();
    padding-right: 20px; // need extra space for carrot

    &.mod-no-carrot {
      background-image: none;

      &:hover,
      &:active,
      &:focus {
        background-image: none;
      }
    }

    &.mod-centers-inside {
      @media (max-width: $screen-xs-min) {
        padding: 6px 0px 3px;
      }
      padding: 6px 12px 3px;
    }
  }

  &__options {
    border: 1px solid $mediumgray-dark;
    box-shadow: 0 1px 1px $mediumgray-dark;
    position: absolute;
    z-index: 900;
    background-color: $white;
    width: 300px;
    min-width: 100%;
    padding-bottom: 5px;
    margin-top: 1px;

    .aside & {
      @media (max-width: $screen-xs-max) {
        max-width: 100%;
        top: $height-md;
      }
    }
  }

  &__option {
    cursor: pointer;
    display: block;
    padding: 5px 5px 5px 10px;
    min-height: 1.2em;
    border-bottom: 1px solid $gray-lighter;

    &:hover {
      color: $white;
      background-color: $brand-primary;
    }
  }

  .add-icon{
    >.glyphicon{
      position: absolute;
      padding: 13px 5px;
      right: 15px;
    }
  }
  .calendar-holder {
      padding: 5px 5px 5px 10px;
      &__item {
        padding-left: 0;
        padding-right: 5px !important;
        @media (max-width: $screen-xs-min) {
          margin-bottom: 10px;
          min-width: 50px;
        }
      }
      .calendar-input {
        padding-left: 6px;
      &.form-control {
        height: 40px;
      }
      }
  }
}
