
// Report Date Selector
// -----------------------

.custom-selector {
  position: relative;

  &__btn {
    @include custom-selector();
  }

  &__options {
    border: 1px solid $mediumgray-dark;
    box-shadow: 0 1px 1px $mediumgray-dark;
    position: absolute;
    z-index: 900;
    background-color: $white;
    width: 300px;
    min-width: 100%;
    padding-bottom: 5px;
    margin-top: 1px;
  }

  &__option {
    cursor: pointer;
    display: block;
    padding: 5px 5px 5px 10px;
    min-height: 1.2em;
    border-bottom: 1px solid $gray-lighter;

    &:hover {
      color: $white;
      background-color: $brand-primary;
    }
  }

  .add-icon{
    >.glyphicon{
      position: absolute;
      padding: 13px 5px;
      right: 15px;
    }
  }
  .calendar-holder {
      padding: 5px 5px 5px 10px;
      &__item {
        padding-left: 0;
        padding-right: 5px;
        @media (max-width: $screen-xs-min) {
          margin-bottom: 10px;
        }
      }
      .calendar-input {
        padding-left: 6px;
      }
  }
}
