// Other styles in _third-parties (angular strap)

.add-icon {
    position: relative;

    > .glyphicon {
        position:absolute;
        padding: 12px 15px;
        right:10px;
    }
}

.calendar-input {
    background: transparent !important;

    &:hover {
        cursor: pointer;
    }

    @media (min-width:$screen-sm-min){
        padding-left: 5px;
        padding-right: 5px;
    }

  &.mod-content-filter {
    height: 29px;
    max-width: 120px;

    ~ .glyphicon {
      padding: 7px !important;
      right: 5px !important;
    }
  }
}
