.date-range-selector, .date-selector {
  position: relative;

  i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 8px;
  }

  &__input {
    padding-left: 25px;
    line-height: normal;
    padding-top: 5px;
  }

  &.hide-icon {
    i {
      left: 0;
      display: none;
    }

    .date-selector__input {
      padding-left: 5px;
      padding-right: 0;
    }
  }
}

.date-range-selector {
  &__input {
    min-width: 192px;
  }
}

.date-selector {
  max-width: 120px;
  &.full-width {
    max-width: none;
  }
}

$headerHeight: 50px;
@media (min-width: 767px) {
  $headerHeight: 56px
}


.modal-open .daterangepicker {
  position: fixed;
}

.daterangepicker {
  &.single {
    .actions, .applyBtn {
      display: none;
    }

    &.opensright .calendar.left, &.opensleft .calendar.right {
      border-left: none;
      padding-left: 0;
    }
  }

  &.opensright .calendar.left {
    border-left: 1px solid $gray-lighter;
    padding-left: 5px;
  }

  &.opensleft .calendar.right {
    border-right: 1px solid $gray-lighter;
    padding-right: 5px;
  }


  &.modal {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;

    .calendars {
      height: 100%;
      width: calc(100% + 10px);
      padding-right: 10px;
      margin:0;
      overflow: auto;
    }

    .calendars-container {
      width: 100%;
      margin:0;
      overflow: hidden;
    }

    .modal-content {
      position: relative;
      @media (min-width: 767px) {
        font-size: 20px;
      }
      .ranges li {
        @media (min-width: 767px) {
          font-size: 20px;
        }
      }

      .ranges ul {
        @media (min-width: 767px) {
          width: 100%;
        }
      }

    }

    .modal-body {
      position: relative;
      display: block;
      height: calc(100% - #{$headerHeight});
      overflow-y: hidden;
      padding: 0;
      margin: 0;
      background-color: $white;

      .calendar {
        max-width: 100%;
        margin:0;
        @media (min-width: 767px) {
          td {
            height: 50px;
          }
        }
      }

      @media (min-width: 767px) {
        height: calc(100% - #{$headerHeight} - 100px);
      }
    }

    &.ltr .calendar, &.single.ltr .calendar {
      @media (min-width: 564px) {
        float: none;
      }
    }

    .modal-header {
      height: $headerHeight;
    }

    .calendar-table {

    }
  }

  .ranges {
    li {
      border-radius: 0;
      background: $white;
      border: 1px solid $white;
      color: $darkgray-dark;

      &.active, &:focus, &:hover {
        background-color: $brand-primary;
        border: 1px solid $brand-primary;
        border-radius: 0;
        color: $white;
      }
    }
  }

  .actions {
    border-top: 1px solid $gray-lighter;
    .cancelBtn, .applyBtn {
      margin: 5px 0 0 5px;
    }
  }

  &.single .calendar-splitter {
    display: none;
  }

  .calendar-splitter {
    position: absolute;
    right: 4px;
    bottom: 9px;
  }

  td.active, td.active:hover {
    background-color: $brand-primary;
  }

  .input-mini {
    border-radius: 0;
  }

  .input-mini.active {
    border: 1px solid $brand-primary;
    border-radius: 0;
  }
}


// Report Date Selector
// -----------------------

.custom-selector {
  position: relative;

  &__btn {
    @include custom-selector();
    padding-right: 20px; // need extra space for carrot

    &.mod-no-carrot {
      background-image: none;

      &:hover,
      &:active,
      &:focus {
        background-image: none;
      }
    }

    &.mod-centers-inside {
      @media (max-width: $screen-xs-min) {
        padding: 6px 0px 3px;
      }
      padding: 6px 12px 3px;
    }
  }

  &__options {
    border: 1px solid $mediumgray-dark;
    box-shadow: 0 1px 1px $mediumgray-dark;
    position: absolute;
    z-index: 900;
    background-color: $white;
    width: 300px;
    min-width: 100%;
    padding-bottom: 5px;
    margin-top: 1px;

    .aside & {
      @media (max-width: $screen-xs-max) {
        max-width: 100%;
        top: $height-md;
      }
    }
  }

  &__option {
    cursor: pointer;
    display: block;
    padding: 5px 5px 5px 10px;
    min-height: 1.2em;
    border-bottom: 1px solid $gray-lighter;

    &:hover {
      color: $white;
      background-color: $brand-primary;
    }
  }

  .add-icon{
    >.glyphicon{
      position: absolute;
      padding: 13px 5px;
      right: 15px;
    }
  }
  .calendar-holder {
      padding: 5px 5px 5px 10px;
      &__item {
        padding-left: 0;
        padding-right: 5px !important;
        @media (max-width: $screen-xs-min) {
          margin-bottom: 10px;
          min-width: 50px;
        }
      }
      .calendar-input {
        padding-left: 6px;
      &.form-control {
        height: 40px;
      }
      }
  }
}
