.b-delete-icon {
  display: inline-block;

  &.mod-is-button {
    min-width: 32px;
    min-height: 32px;
    padding: 5px 10px;
    border: 1px solid $brand-primary;
    border-radius: 3px;
    background-color: $table-bg-hover;
    &:hover {
      background-color: $white;
    }
  }
}

.items-table__row:hover,
.items-table__row.as-hovered,
.modal {
  .b-delete-icon {
    display: inline-block;
    visibility: visible;
  }
}

.touch {
  .b-delete-icon {
    visibility: visible;
  }

  &-md {
    .b-delete-icon {
      @media (min-width: $screen-md-min) {
        visibility: hidden;
      }
    }
  }
}
