.btn.mod-export,
export-to-pdf,
export-to-excel {
min-width: 70px;

  .export-text {
    margin-left: 18px;

    .mod-settings-selector {
      display: none;
    }
  }

  &.btn-actions-dropdown button {
    padding: 0;
  }

  @media (max-width: $screen-xs-max) {
    display: none !important;
  }
}
