.inputs-separator {
  margin-bottom: $inputs-separator-distance*2;
  margin-top: $inputs-separator-distance;
  padding-left: $inputs-separator-distance;
  padding-right: $inputs-separator-distance;
}
