// Icons
// -----------------

.icon-file,
.icon-file-plus,
.icon-folder,
.icon-folder-plus,
.icon-export,
.icon-ellipses,
.icon-close,
.icon-trash,
.icon-calendar,
.icon-filter {
  width: 30px;
  height: 30px;
  background-size: 30px 30px;

  &--small {
    width: 20px;
    height: 20px;
    background-size: 20px 20px;
  }
}

.icon-folder-plus {
  background: url(#{$images-path}/add_folder.svg) no-repeat center center transparent;
}

.icon-file-plus {
  background: url(#{$images-path}/add_file.svg) no-repeat center center transparent;
}

.icon-folder {
  background: url(#{$images-path}/folder.svg) no-repeat top center transparent;
  vertical-align: middle;

  @media (min-width: $screen-xs-max) {
    width: 36px;
    height: 32px;
    background-size: 32px 32px;
  }

  @media (max-width: $screen-xs-max) {
    width: 27px;
    height: 24px;
    background-size: 22px 22px;
  }
}

.icon-file {
  background: url(#{$images-path}/file.svg) no-repeat top center transparent;
  vertical-align: middle;

  @media (min-width: $screen-xs-max) {
    height: 32px;
    width: 36px;
    background-size: 32px 32px;
  }

  @media (max-width: $screen-xs-max) {
    height: 24px;
    width: 27px;
    background-size: 22px 22px;
  }
}

.icon-export {
  background: url(#{$images-path}/export.svg) no-repeat top left;
}

.icon-ellipses {
  background: url(#{$images-path}/ellipses.svg) no-repeat top center;
}

.icon-close {
  float: right;

  &,
  &:hover,
  &:focus,
  &:active {
    border: none;
    background: url(#{$images-path}/close.svg) no-repeat;
    background-color: transparent;
    box-shadow: none;
  }
}

.icon-trash {
  background: url(#{$images-path}/trash.svg) no-repeat top left;

  &--small {
    height: 20px;
    width: 20px;
    background-size: 20px 20px;
  }
}

.icon-calendar {
  background: url(#{$images-path}/calendar.svg) no-repeat top left;
}

.icon-filter {
  background: url(#{$images-path}/filter.svg) no-repeat top left;
}

.chevrone-down-icon {
  font-size: 10px;
  font-weight: bold;
  margin-left: 5px;
  margin-top: -3px;
  vertical-align: middle;
}

.icon-profile,
.icon-logout {
  width: 38px;
  height: 38px;
  background-size: 38px 38px;
}

.icon-profile { background: url(#{$images-path}/profile.svg) no-repeat top left;}
.icon-logout {
  background: url(#{$images-path}/logout.svg) no-repeat;
  background-position: 0 -1px;
}
