.header {
  padding-right: 5px;
  padding-bottom: 5px;
  border-bottom: 1px solid $table-border-color;
  line-height: 1em;

  &.sticky {
    background: $white;
  }
}

.items-table {

  &.mod-sm-at-xs {
    @media (max-width: $screen-xs-max) {
      font-size: $font-size-xs;

      .sorticon {
        top: 5px;
        right: -6px;
        font-size: 6px;

        &__wrapper {
          font-size: $font-size-xs - 1;
        }
      }
    }
  }

  &.mod-in-panel {
    .header {
      padding-top: 8px;
      padding-bottom: 8px;
      line-height: $line-height-sm;
    }

    .items-table__row {
      @media (min-width: $screen-sm-min) {
        line-height: $line-height-sm;
      }
    }

    .header,
    .items-table__row {
      padding-right: $panel-new-padding-hor;
      padding-left: $panel-new-padding-hor;

      @media (max-width: $screen-xs-max) {
        padding-right: $panel-new-padding-hor-mobile;
        padding-left: $panel-new-padding-hor-mobile;
      }
    }
  }

  &__top {
    border-top: 1px solid $table-border-color;
  }

  &__row {
    position: relative;
    padding: $items-table-row-padding;
    border-bottom: 1px solid $table-border-color;
    cursor: pointer;

    &:hover,
    &.as-hovered {
      background-color: $table-bg-hover;
    }

    &.mod-no-hover {
      cursor: default;

      &:hover {
        background-color: $white;
      }
    }

    &.mod-edit {
      padding: 8px;
      margin-top: -1px;
      margin-bottom: -1px;
    }

    .items-table.mod-in-panel & {
      &.mod-edit {
        padding-left: 2px;
      }
    }

    &__over {
      position: absolute;
      top: 1px;
      right: 8px;
    }
  }

  &__input {
    $row-column-padding: 15px;

    padding-left: $padding-sm !important;

    @media (max-width: $screen-xs-max) {
      margin-top: $margin-normal;
      padding-left:0 !important;
    }

    input, select {
      padding-left: $row-column-padding - $padding-sm - 1px;
    }
  }

  .add-control {
    @media (min-width:$screen-sm-min) {
      margin-bottom: 0;
    }
  }

  // aaaa, we should remove it someday
  [class*="col-"], td {
      padding-right:0px;
      &:first-child{
          padding-left:0px;
      }
  }
}

div.items-table__row {
  @include clearfix();
  clear: both;
  float: none;
}

// Update Icon
// ----------------------------
// visible to the right after inline edit
.same-update-icon {
  color: $brand-success;
  position: absolute;
  right: -25px;
}
