.header {
  font-weight:bold;
  border-bottom:2px solid $table-border-color;
  padding: $items-table-row-padding;
}

.items-table {

  &.mod-sm-at-xs {
    @media (max-width:$screen-xs-max){
      font-size: $font-size-xs;

      .sorticon {
        font-size: 6px;
        top: 5px;
        right: -6px;

        &__wrapper {
          font-size: $font-size-xs - 1;
        }
      }
    }
  }

  &__top {
    border-top: 1px solid $table-border-color;
  }

  &__row {
    border-bottom: 1px solid $table-border-color;
    cursor: pointer;
    padding: $items-table-row-padding;
    position: relative;

    &:hover,
    &.as-hovered {
      background-color: $table-bg-hover;
    }

    &.mod-no-hover {
      cursor: default;

      &:hover {
        background-color: $white;
      }
    }

    &.mod-edit {
      border: $items-table-edit-border-width solid $brand-primary !important;
      border-radius: $border-radius-default;
      margin-bottom: -1px;
      margin-top: -1px;
      padding: 2px;
    }

    &.mod-borderless {
      border: 0 !important;
    }

    &__over {
      position: absolute;
      top: 1px;
      right: 8px;
    }

  }

  &__input {
    $row-column-padding: 15px;

    padding-left: $padding-sm !important;

    @media (max-width: $screen-xs-max) {
      margin-top: $margin-normal;
      padding-left:0 !important;
    }

    input, select {
      padding-left: $row-column-padding - $padding-sm - 1px;
    }
  }

  &__btn {
    &.mod-no-spaces {
      margin-top: -$padding-small-vertical;
      margin-bottom: -$padding-small-vertical;
    }
  }

  .add-control {
    @media (min-width:$screen-sm-min) {
      margin-bottom: 0;
    }
  }

  // aaaa, we should remove it someday
  [class*="col-"], td {
      padding-right:0px;
      &:first-child{
          padding-left:0px;
      }
  }
}

div.items-table__row {
  @include clearfix();
  clear: both;
  float: none;
}

// Update Icon
// ----------------------------
// visible to the right after inline edit
.same-update-icon {
  color: $brand-success;
  position: absolute;
  right: -25px;
}
