@mixin set-icon-size($size) {
  height: $size;
  width: $size;
  background-size: $size $size;
}

.logo {
  display: block;
  background: url(#{$images-path}/tabulate-icon.svg) no-repeat center center transparent;
  @include set-icon-size(80px);

  @media (max-width:$screen-xs-max) {
    @include set-icon-size(60px);
  }

  &.mod-header {
    @include set-icon-size(45px);

    display: inline-block;
    float: left;
  }
}
