@import '../utils';
@import '../variables';

$nav-header-title-size: 27px;
$nav-header-title-size-sm: 19px;
$nav-logo-size: 40px;
$animation-duration: .6s;


%nav-link {
  @include dropdown-item();
}

.navbar-header {
  border-bottom: 1px solid $gray-light-new;
  background-color: $white;

  @media (min-width: $screen-sm-min) {
    padding: $nav-header-padding;
  }

  @media (max-width: $screen-xs-max) {
    background-color: transparentize($white, .25);
    border-bottom: none;
  }
}

@mixin mobile-menu__item {
  font-size: 16px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid $border-color-base;

  &:hover {
    color: $brand-primary;
    cursor: pointer;
  }
}

.navbar-title {
  font-weight: 300;

  @media (min-width: $screen-sm-min) {
    font-size: $nav-header-title-size;
    height: $nav-header-content-height;
    line-height: $nav-header-content-height;
    margin-left: 10px !important;
    cursor: pointer;
    user-select: none;
  }

  @media (max-width: $screen-xs-max) {
    $toggle-button-width: 46px;

    font-size: $nav-header-title-size-sm;
    line-height: 1em;
    margin: 0;
    padding-right: $toggle-button-width;
    height: $main-navigation-height-mobile;
    line-height: $main-navigation-height-mobile;
    text-align: center;
    float: none;
  }
}

.logo.mod-header {
  @include set-icon-size($nav-logo-size);

  display: inline-block;
  float: left;
}

// dropdown menu and nav actually
.navbar {
  .select-dropdown.mod-menu-down .dropdown-menu {
    min-width: 300px;
    top: 0 !important;
    left: 10px !important;
    overflow-y: hidden !important;
  }

  .dropdown-wrapper {
    background-color: $white;
  }
}

.navbar-right {
  @media (min-width: $screen-sm-min) {
    float: right;

    tab-input {
      $tab-input-height: 34px;

      min-width: 210px;
      max-width: 310px;  // otherwise store will go to the second row
      margin-top: ($nav-header-content-height - $tab-input-height) / 2;
      margin-bottom: ($nav-header-content-height - $tab-input-height) / 2;
      .tab-input__caption {
        display: none;
      }
    }

    .glyphicon {
      color: $gray-middle-new;
      font-size: 20px;
      line-height: $nav-header-content-height;
      margin-left: 10px;
    }
  }

  @media (max-width: $screen-xs-max) {
    li {
      @include mobile-menu__item();
    }

    a {
      display: block;
      color: $gray-new;

      &:hover {
        color: $brand-primary;
      }
    }
  }


  &__title {
    @media (min-width: $screen-sm-min) {
      line-height: $nav-header-content-height;
      color: $gray-middle-new;
      max-width: 310px;
    }

    @media (max-width: $screen-xs-max) {
      line-height: $dropdown-item-padding-vertical*2 + $dropdown-item-height;
      // update padding when custom icons created
      padding-left: $dropdown-item-padding-horizontal;  // $dropdown-item-padding-horizontal*2 + 2px
    }
  }
}

// mobile specific styles
.navbar.mod-mobile {
  &.mod-opened {
    z-index: 1000000;
    position: fixed;
    background-color: $white;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow-x: hidden;

    .navbar-title {
      display: none;
    }

    .navbar-content {
      padding: 0 48px;
    }

    select {
      font-size: 16px;
    }
  }
}

.menu-nav-dropdown {
  &__item {
    @include mobile-menu__item();
  }
}

.navbar-toggle {
  $to-top-bar: 4px;
  $bar-height: 2px;
  $bar-width: ($to-top-bar*2 + $bar-height*3)*1.4;
  $margin-top: ($main-navigation-height-mobile - $nav-header-title-size-sm)/2;

  float: left;
  margin: $margin-top 0 0 5px;
  padding: 0;
  border: none;

  width: $bar-width;
  height: $bar-height*3 + $to-top-bar*2;
  position: relative;
  transform: rotate(0deg);
  transition: .5s ease-in-out;
  cursor: pointer;

  .icon-bar--animated {
    display: block;
    position: absolute;
    height: $bar-height;
    width: 100%;
    background: $gray-text;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;

    &:nth-child(1) {
      top: 0;
    }

    &:nth-child(2) {
      top: $to-top-bar + $bar-height;
    }

    &:nth-child(3) {
      top: ($to-top-bar + $bar-height)*2;
    }
  }

  &.mod-opened .icon-bar--animated {
    &:nth-child(1) {
      top: $to-top-bar + $bar-height;
      transform: rotate(135deg);
    }

    &:nth-child(2) {
      opacity: 0;
      left: -60px;
    }

    &:nth-child(3) {
      top: $to-top-bar + $bar-height;
      transform: rotate(-135deg);
    }
  }
}
