$nav-header-title-size: 27px;
$nav-header-title-size-sm: 19px;
$nav-logo-size: 40px;
$animation-duration: .6s;


%nav-link {
  @include dropdown-item();
}

.navbar {
  min-height: $navbar-height;
  margin-bottom: $navbar-margin-bottom;
  position: fixed;
  right: 0;
  left: 0;
  z-index: $zindex-navbar-fixed;
  top: 0;

  // Prevent floats from breaking the navbar
  @include clearfix;
}

.navbar-nav {
  // Uncollapse the nav
  @media (min-width: $grid-float-breakpoint) {
    float: left;

    > li {
      float: left;
    }
  }
}

.navbar-header {
  @include clearfix;

  border-bottom: 1px solid $gray-light-new;
  background-color: $white;

  @media (max-width: $screen-xs-max) {
    background-color: transparentize($white, .25);
    border-bottom: none;
  }

  @media (min-width: $screen-sm-min) {
    padding: $nav-header-padding;
  }

  @media (min-width: $screen-sm-min) and (max-width: $container-max-width) {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.navbar-title {
  font-weight: 300;

  @media (min-width: $screen-sm-min) {
    font-size: $nav-header-title-size;
    height: $nav-header-content-height;
    line-height: $nav-header-content-height;
    margin-left: 10px !important;
    cursor: pointer;
    user-select: none;
  }

  @media (max-width: $screen-xs-max) {
    $toggle-button-width: 20px;

    @include actions-title($toggle-button-width);

    float: none;
  }
}

.logo.mod-header {
  @include set-icon-size($nav-logo-size);

  display: inline-block;
  float: left;
}

// dropdown menu and nav actually
.navbar {
  .select-dropdown.mod-menu-down .dropdown-menu {
    min-width: 300px;
    top: 0 !important;
    left: 10px !important;
    overflow-y: hidden !important;
  }
}

.navbar-right {
  @media (min-width: $screen-sm-min) {
    float: right;

    tab-input {
      $tab-input-height: 34px;

      min-width: 210px;
      max-width: 310px;  // otherwise store will go to the second row
      margin-top: ($nav-header-content-height - $tab-input-height) / 2;
      margin-bottom: ($nav-header-content-height - $tab-input-height) / 2;
      .tab-input__caption {
        display: none;
      }
    }

    .glyphicon {
      color: $gray-middle-new;
      font-size: 20px;
      line-height: $nav-header-content-height;
      margin-left: 10px;
    }
  }

  @media (max-width: $screen-xs-max) {
    li {
      @include actions-option();
    }

    a {
      display: block;
      color: $gray-new;

      &:hover {
        color: $brand-primary;
      }
    }
  }


  &__title {
    @media (min-width: $screen-sm-min) {
      line-height: $nav-header-content-height;
      color: $gray-middle-new;
      max-width: 310px;
    }

    @media (max-width: $screen-xs-max) {
      &:hover {
        color: $gray-new !important;
        cursor: default !important;
      }
    }
  }
}

// mobile specific styles
.navbar.mod-mobile {
  &.mod-opened {
    @include actions-container();

    .navbar-title {
      display: none;
    }

    .navbar-content {
      @include actions-content();
      max-height: 535px;
      overflow-y: auto;
    }

    select {
      font-size: 16px;
    }
  }
}

.menu-nav-dropdown {
  &__item {
    @include actions-option();
  }
}

.navbar-toggle {
  $to-top-bar: 4px;
  $bar-height: 2px;
  $bar-width: ($to-top-bar*2 + $bar-height*3)*1.4;
  $icon-width: $bar-width;
  $icon-height: $bar-height*3 + $to-top-bar*2;

  @include actions-button($icon-height, $icon-width);

  background-color: transparent;
  background-image: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
  transform: rotate(0deg);
  transition: .5s ease-in-out;

  &:focus {
    outline: 0;
  }

  .icon-bar--animated {
    display: block;
    position: absolute;
    height: $bar-height;
    width: 100%;
    background: $gray-text;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;

    &:nth-child(1) {
      top: 0;
    }

    &:nth-child(2) {
      top: $to-top-bar + $bar-height;
    }

    &:nth-child(3) {
      top: ($to-top-bar + $bar-height)*2;
    }
  }

  &.mod-opened .icon-bar--animated {
    &:nth-child(1) {
      top: $to-top-bar + $bar-height;
      transform: rotate(135deg);
    }

    &:nth-child(2) {
      opacity: 0;
      left: -60px;
    }

    &:nth-child(3) {
      top: $to-top-bar + $bar-height;
      transform: rotate(-135deg);
    }
  }
}
