@import '../utils';
@import '../variables';

$nav-header-title-size: 27px;
$nav-header-title-size-sm: 19px;
$nav-logo-size: 40px;
$animation-duration: .6s;


%nav-link {
  @include dropdown-item();
}

.navbar-header {
  border-bottom: 1px solid $gray-light-new;
  background-color: $white;

  @media (min-width: $screen-sm-min) {
    padding: $nav-header-padding;
  }

  @media (max-width: $screen-xs-max) {
    background-color: transparentize($white, .25);
    border-bottom: none;
  }
}

.navbar-title {
  font-weight: 300;

  @media (min-width: $screen-sm-min) {
    font-size: $nav-header-title-size;
    height: $nav-header-content-height;
    line-height: $nav-header-content-height;
    cursor: pointer;
    user-select: none;
  }

  @media (max-width: $screen-xs-max) {
    $toggle-button-width: 46px;

    font-size: $nav-header-title-size-sm;
    line-height: 1em;
    margin: 0;
    padding-right: $toggle-button-width;
    height: $main-navigation-height-mobile;
    line-height: $main-navigation-height-mobile;
    text-align: center;
    float: none;
  }
}

.logo.mod-header {
  @include set-icon-size($nav-logo-size);

  display: inline-block;
  float: left;
}

// dropdown menu and nav actually
.navbar {
  .dropdown-wrapper {
    background-color: $white;

    @media (min-width: $screen-sm-min) {
      position: absolute;
      left: $nav-header-padding-hor + $nav-logo-size;
      margin-left: 10px;

      &.mod-opened,
      &:hover {
        .dropdown-menu {
          max-height: 1000px;
        }
      }
    }
  }

  .dropdown-menu {
    position: relative;
    display: block;
    top: 0 !important;
    left: 0 !important;
    padding-bottom: 0;
    overflow: hidden;
    font-size: 15px;
    transition: $dropdown-transition;

    @media (min-width: $screen-sm-min) {
      min-width: 300px;
      max-height: 0;
      margin-top: -$nav-header-content-height !important;
    }

    @media (max-width: $screen-xs-max) {
      max-height: none !important;
      padding-top: 0;
      float: none;
      box-shadow: none;
      border: none;
    }
  }
}

.navbar-right {
  @media (min-width: $screen-sm-min) {
    float: right;
  }

  a,
  a:hover {
    @media (max-width: $screen-xs-max) {
      @include dropdown-item();
    }
  }


  tab-input {
    @media (min-width: $screen-sm-min) {
      $tab-input-height: 34px;

      min-width: 210px;
      max-width: 310px;  // otherwise store will go to the second row
      margin-top: ($nav-header-content-height - $tab-input-height) / 2;
      margin-bottom: ($nav-header-content-height - $tab-input-height) / 2;
      .tab-input__caption {
        display: none;
      }
    }

    @media (max-width: $screen-xs-max) {
      margin-bottom: $dropdown-item-padding-vertical;
      padding-left: $dropdown-item-padding-horizontal - $dropdown-item-glyphicon-size/2;
      padding-right: $dropdown-item-padding-horizontal;
    }
  }

  .glyphicon {
    @media (min-width: $screen-sm-min) {
      color: $gray-middle-new;
      font-size: 20px;
      line-height: $nav-header-content-height;
      margin-left: 10px;
    }
  }

  &__title {
    @media (min-width: $screen-sm-min) {
      line-height: $nav-header-content-height;
      color: $gray-middle-new;
      max-width: 310px;
    }

    @media (max-width: $screen-xs-max) {
      line-height: $dropdown-item-padding-vertical*2 + $dropdown-item-height;
      // update padding when custom icons created
      padding-left: $dropdown-item-padding-horizontal;  // $dropdown-item-padding-horizontal*2 + 2px
    }
  }
}

// mobile specific styles
@media (max-width: $screen-xs-max) {
  .navbar-toggle {
    $icon-height: 14px;
    $button-padding: ($main-navigation-height-mobile - $icon-height) / 2;
    $button-size: $button-padding*2 + $icon-height;

    float: left;
    margin: 0;
    padding: $button-padding;
    border: none;

    .icon-bar {
      background-color: $gray-text;
    }
    // click animation
    &[animate-click]::after {
      $size: $button-size;

      top: 50%;
      left: 50%;

      width: $size;
      height: $size;
      margin-top: -$size / 2;
      margin-left: -$size / 2;

      border-radius: 50%;
      background: make-click-color($white);
    }
  }

  .aside.mod-navbar {
    background-color: $white;

    .icon-close {
      float: left;
      margin-left: 18px;
    }

    .aside-dialog {
      background-color: $white;

      .aside-body {
        padding: 0;
      }
    }
  }
}
