@import '../variables';

.drag-drop {
  display: inline-block;
  min-width: $drag-icon-size;
  min-height: $drag-icon-size;
}

.drag-drop-icon {
  background: url(/assets/img/grippy_large.png) no-repeat;
  position: absolute;
  top: 0;
  $drag-drop-size: 1.1;
  // google drag-drop size at compact interface
  background-size: 5px * $drag-drop-size 5px*6 * $drag-drop-size;
  height: 24px * $drag-drop-size;
  width: 5px * $drag-drop-size;

  //modify drag-drop-icon vertical position
  drag-drop.mod-top & {
    top: -3.5px;
  }

  drag-drop.mod-middle & {
    top: 3px;
  }

  drag-drop.mod-low & {
    top: 6.5px;
  }
}

.drag-drop-group {
  min-height: 10px;

  &.mod-lg {
    min-height: 40px;
  }
}

.nodata {
  width: 100%;
  clear: both;
  margin-top: 30px;

  b, strong {
    display: block;
    font-size: $font-size-large;
    text-align: center;
  }
}

.form-suggestion {
  position: absolute;
  bottom: -$font-size-xs - 2;
  color: $gray-light;
  font-size: $font-size-xs;
  margin-left: $padding-base-horizontal + 1;  // input padding + border
}

.export-modal {
  @media (max-width: $screen-xs-max) {
    embed {
      background-color: $white;
    }
  }
}

.inputs-group classification-details {
  .add-control:not(:last-child) {
    margin-bottom: 25px;
  }
}

.remove-detail-btn {
  display: inline-block;
  color: $gray-middle-new;
  cursor: pointer;

  @media (min-width: $screen-xs-min) {
    $from-top-to-start: ($inputs-group-input-height - 30px)/2;

    padding-right: 0 !important;
    margin-top: $from-top-to-start;
  }
}
