@import '../variables';

.drag-drop {
  display: inline-block;
  min-width: $drag-icon-size;
  min-height: $drag-icon-size;
}

.drag-drop-icon {
  background: url(/assets/img/grippy_large.png) no-repeat;
  position: absolute;
  top: 0;
  $drag-drop-size: 1.1;

  // google drag-drop size at compact interface
  background-size: 5px * $drag-drop-size 5px*6 * $drag-drop-size;
  height: 24px * $drag-drop-size;
  width: 5px * $drag-drop-size;

  //modify drag-drop-icon vertical position
  drag-drop.mod-top & {
    top: -3.5px;
  }

  drag-drop.mod-middle & {
    top: 3px;
  }

  drag-drop.mod-low & {
    top: 6.5px;
  }
}

.drag-drop-group {
  min-height: 10px;

  &.mod-lg {
    min-height: 40px;
  }
}

.form-suggestion {
  position: absolute;
  bottom: -$font-size-xs - 2;
  color: $gray-light;
  font-size: $font-size-xs;
  margin-left: $padding-base-horizontal + 1; // input padding + border
}

.export-modal {
  @media (max-width: $screen-xs-max) {
    embed {
      background-color: $white;
    }
  }
}

.inputs-group classification-details {
  .add-control:not(:last-child) {
    margin-bottom: 25px;
  }
}

.remove-detail-btn {
  display: inline-block;
  color: $gray-middle-new;
  cursor: pointer;

  span {
    position: absolute;
    top: 9px;
    right: -21px;
    width: 21px;
    height: 26px;
    background-position: center center;
    background-size: 26px;
  }

  @media (max-width: $screen-xs-max) {
    $from-top-to-start: ($inputs-group-input-height - 30px) / 2;
    padding-right: 0 !important;
    margin-top: $from-top-to-start;

    span {
      position: static;
    }
  }
}

.nodata {
  font-weight: 300;
  text-align: center;

  &__icon {
    margin-bottom: 30px;
    color: $gray-lighter-new;
    font-size: 50px;
    line-height: 1em;
  }

  &__title {
    margin-top: 0;
    margin-bottom: 30px;
    color: $gray-new;
    font-size: 25px;
    line-height: 1em;
  }

  &__descr {
    color: $gray-middle-new;
    font-size: 18px;
  }

  @media (max-width: $screen-xs-max) {
    &__title {
      margin-bottom: 10px;
      font-size: 20px;
    }

    &__descr {
      font-size: 15px;
    }
  }
}
