.sorticon {
  font-size: $sorticon-size;

  position: absolute;
  top: $sorticon-margin;
  right: -$sorticon-size - 1;

  &.mod-left {
    right: auto;
    left: -$sorticon-size - 1;
  }

  &__wrapper {
    font-size: 15px;
    color: $gray-middle-new;
    position: relative;

    &:hover,
    &:focus {
      color: darken($gray-middle-new, 20%);
    }
  }
}
