$panel-new-filter-height: 50px;
$panel-new-filter-font: 13px;

.panel-new {
  border: 1px solid $border-color-base;
  display: inline-block;
  vertical-align: top;
  width: 100%;
  border-radius: $border-radius-base;

  &__header {
    $btn-padding-ver: 5px;
    $btn-font-size: $font-size-base;
    $btn-height: floor($btn-padding-ver*2 + $line-height-base*$btn-font-size + 2px);

    font-size: 27px;
    font-weight: 300;
    line-height: $panel-header-line-height;
    border-bottom: 1px solid $border-color-base;
    padding: $panel-header-padding 10px $panel-header-padding $panel-header-padding;

    @media (max-width: $screen-xs-max) {
      padding: 15px $panel-new-padding-hor-mobile;    // move
      font-size: 18px;
    }

    > .btn {
      font-size: $btn-font-size;
      padding: $btn-padding-ver 23px;
      margin-top: -1*($btn-height - $panel-header-line-height) / 2;

      @media (max-width: $screen-xs-max) {
        padding-left: 10px;
        padding-right: 10px;
      }
    }

    settings-selector {
      margin-top: -10px;

      .custom-selector {
        &__btn {
          font-size: $btn-font-size;
        }
      }
    }

    .close {
      padding: 0;
      font-size: 36px;
      outline: none;
      margin-top: -1*(36px - $panel-header-line-height) / 2;
      opacity: 1;

      color: $gray-middle-new;

      &:hover {
        color: $gray-darkest-new;
      }
    }

    .b-delete-icon {
      cursor: pointer;
      font-size: 18px;
      margin-right: 16px;
      color: $gray-middle-new;

      &:hover,
      &:hover .glyphicon-trash {
        color: $gray-darkest-new;
      }

      .glyphicon-trash {
        color: $gray-middle-new;
        font-size: 18px;
      }
    }

    .custom-selector,
    &-text {
      font-size: $font-size-base;
    }

    .breadcrumb {
      padding: 0;

      > li {
        height: $panel-header-line-height;

        &.active > span {
          @media (max-width: $screen-xs-max) {
            max-width: 200px;
          }
        }

        > a,
        > span {
          display: inline-block;
          // font-size: 27px;
          line-height: $panel-header-line-height;

          max-width: 199px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;

          @media (max-width: $screen-xs-max) {
            max-width: 100px;
            // font-size: 16px;
          }
        }

        .glyphicon-menu-right {
          top: 1px;
          font-size: 10px;

          @media (max-width: $screen-xs-max) {
            font-size: 9px;
          }
        }
      }
    }
  }

  &__content {
    padding-left: $panel-new-padding-hor;
    padding-right: $panel-new-padding-hor;
    margin-top: $distance-ver-md;

    @media (max-width: $screen-xs-max) {
      padding-left: $panel-new-padding-hor-mobile;
      padding-right: $panel-new-padding-hor-mobile;
    }
  }

  &__filter {
    @include clearfix;

    border-bottom: 1px solid $border-color-base;

    .select-dropdown {
      .caret {
        margin-top: -3px;
        color: $gray-middle-new;
        font-size: $panel-new-filter-font - 2px;
      }

      .dropdown-menu {
        font-size: $panel-new-filter-font;
      }
    }

    .search {
      margin-top: ($panel-new-filter-height - $search-input-size) / 2;
    }

    tags-input {
      .host {
        border: none !important;
      }

      .tags {
        padding: 0;
      }
    }

    .custom-selector__btn,
    &__item {
      height: $panel-new-filter-height;
      padding: 0 $distance-hor-md !important;
      border: none;
      font-size: $panel-new-filter-font;
      line-height: $panel-new-filter-height;

      &:hover,
      &:focus,
      &:active,
      &.is-focused {
        border: none;
        background-color: transparent;
        box-shadow: none;
        color: inherit;
      }

      .caret {
        position: relative;
        top: auto;
        right: auto;
      }

      &.calendar-input {
        padding: 0;
        width: 130px;

        ~ .glyphicon {
          top: 0;
          right: $distance-hor-md !important;
          padding: 0;
          line-height: $panel-new-filter-height;
        }
      }
    }

    &__item__wrapper {
      display: inline-block;
      float: left;
      padding: 0;
      border-right: 1px solid $border-color-base;
      vertical-align: top;
    }
  }
}

.custom-panel {
  $font-size-panel: 15px;
  $gray-panel: #7b8994;

  border: 1px solid $middle-gray-color;
  border-radius: $border-radius-large;
  box-shadow: none;
  margin: 0;
  padding: 25px $padding-md;

  &:hover {
    border-color: $brand-primary;
    cursor: pointer;
  }

  &__header {
    font-size: $font-size-panel;
    font-weight: $font-weight-lg;
    margin-bottom: $margin-sm;
  }

  &__description {
    font-weight: $font-weight-xs;
    color: $gray-panel;
  }

  &__action {
    margin-top: $margin-sm - 6px;  // button padding-top
    font-size: $font-size-panel;
    font-weight: $font-weight-lg;

    .glyphicon {
      font-size: $font-size-panel - 4;
    }
  }
}

.report-panel-group {
  @include clearfix();

  list-style: none;
  padding: 0;
  margin-top: $margin-md;

  &__item {
    vertical-align: baseline;
    margin-bottom: $margin-md;
    padding: 0;

    @media (min-width: $screen-sm-min) {
      &:nth-child(even) {
        padding-left: $margin-md / 2;
      }

      &:nth-child(odd) {
        padding-right: $margin-md / 2;
      }
    }
  }

  // custom panel is link only here
  .custom-panel {
    &:hover {
      cursor: pointer;
    }
  }

  @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
    // overflow issue fix
    .custom-panel__description {
      min-height: 40px;
    }
  }
}
