$panel-new-filter-height: 50px;
$panel-new-filter-font: 12px;

.panel-new {
  border: 1px solid $border-color-base;
  display: inline-block;
  vertical-align: top;
  width: 100%;
  border-radius: $border-radius-base;

  &__header {
    $btn-padding-ver: 5px;
    $btn-font-size: $font-size-base;
    $btn-height: floor($btn-padding-ver*2 + $line-height-base*$btn-font-size + 2px);

    font-size: 27px;
    font-weight: 300;
    line-height: $panel-header-line-height;
    border-bottom: 1px solid $border-color-base;
    padding: $panel-header-padding;

    @media (max-width: $screen-xs-max) {
      padding: 15px $panel-new-padding-hor-mobile;    // move
      font-size: 16px;
    }

    > .btn {
      font-size: $btn-font-size;
      padding: $btn-padding-ver 23px;
      margin-top: -1*($btn-height - $panel-header-line-height) / 2;

      @media (max-width: $screen-xs-max) {
        padding-left: 10px;
        padding-right: 10px;
      }
    }

    settings-selector {
      margin-top: -6px;

      .custom-selector {
        font-weight: 400;
        &__btn {
          font-size: $btn-font-size;
        }
      }
    }

    .close {
      padding: 0;
      font-size: 36px;
      outline: none;
      margin-top: -1*(36px - $panel-header-line-height) / 2;
      opacity: 1;

      color: $gray-middle-new;

      &:hover {
        color: $gray-darkest-new;
      }
    }

    .b-delete-icon {
      cursor: pointer;
      font-size: 18px;
      margin-right: 16px;
      color: $gray-middle-new;

      &:hover,
      &:hover .glyphicon-trash {
        color: $gray-darkest-new;
      }

      .glyphicon-trash {
        color: $gray-middle-new;
        font-size: 18px;
      }
    }

    .custom-selector,
    &-text {
      font-size: $font-size-base;
    }
  }

  &__content {
    padding-left: $panel-new-padding-hor;
    padding-right: $panel-new-padding-hor;
    margin-top: $distance-ver-md;

    @media (max-width: $screen-xs-max) {
      padding-left: $panel-new-padding-hor-mobile;
      padding-right: $panel-new-padding-hor-mobile;
    }
  }

  &__filter {
    @include clearfix;

    border-bottom: 1px solid $border-color-base;

    date-range-selector {
      display: inline-block;
      vertical-align: top;
    }

    .custom-selector__btn,
    button,
    .form-control {
      height: $panel-new-filter-height;
      line-height: $panel-new-filter-height;
      font-size: $panel-new-filter-font;

      border: none;
      padding-top: 0;
      padding-bottom: 0;

      &:hover,
      &:focus,
      &:active,
      &.is-focused {
        color: inherit;
        background-color: transparent;
        border: none;
        box-shadow: none;
      }
    }

    .select-dropdown {
      .caret {
        margin-top: -3px;
        font-size: $panel-new-filter-font - 2px;
        color: $gray-middle-new;
      }
    }

    .search {
      margin-top: ($panel-new-filter-height - $search-input-size) / 2;
    }

    tags-input {
      .host {
        border: none !important;
      }

      .tags {
        padding: 0;
      }
    }

    &__item {
      display: inline-block;
      float: left;
      padding-left: $distance-hor-md;

      .custom-selector__btn {
        padding-left: 0;
      }

      .glyphicon {
        line-height: $panel-new-filter-height;
        padding: 0;
        top: -1px;
      }
    }
  }
}

.custom-panel {
  $font-size-panel: 15px;
  $gray-panel: #7b8994;

  border: 1px solid $middle-gray-color;
  border-radius: $border-radius-large;
  box-shadow: none;
  margin: 0;
  padding: 25px $padding-md;

  &:hover {
    border-color: $brand-primary;
    cursor: pointer;
  }

  &__header {
    font-size: $font-size-panel;
    font-weight: $font-weight-lg;
    margin-bottom: $margin-sm;
  }

  &__description {
    font-weight: $font-weight-xs;
    color: $gray-panel;
  }

  &__action {
    margin-top: $margin-sm - 6px;  // button padding-top
    font-size: $font-size-panel;
    font-weight: $font-weight-lg;

    .glyphicon {
      font-size: $font-size-panel - 4;
    }
  }
}

.report-panel-group {
  @include clearfix();

  list-style: none;
  padding: 0;
  margin-top: $margin-md;

  &__item {
    vertical-align: baseline;
    margin-bottom: $margin-md;
    padding: 0;

    @media (min-width: $screen-sm-min) {
      &:nth-child(even) {
        padding-left: $margin-md / 2;
      }

      &:nth-child(odd) {
        padding-right: $margin-md / 2;
      }
    }
  }

  // custom panel is link only here
  .custom-panel {
    &:hover {
      cursor: pointer;
    }
  }

  @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
    // overflow issue fix
    .custom-panel__description {
      min-height: 40px;
    }
  }
}
