$padding-top-opened: 5px;
$padding-top-default: 0;
$padding-bottom-default: 2px;
$ellipsis-height: 20px;
$ellipsis-width: 30px;
$custom-selector-padding-left: 20px;
$custom-selector-padding-right: 10px;
$padding-right-opened: 10px;

settings-selector {
  position: relative;
  display: block;
  text-align: left;
  min-height: $padding-top-default + $padding-bottom-default + $ellipsis-height + 2px;
  min-width: $custom-selector-padding-left + $custom-selector-padding-right + $ellipsis-width + 2px;

  .custom-selector {
    position: absolute;
    right: 0;
    top: 0;
    padding: $padding-top-default $custom-selector-padding-right $padding-bottom-default $custom-selector-padding-left;
    cursor: pointer;
    background-color: $white;
    z-index: 1000;
    border: 1px solid transparent;
    transition: $transition-default;

    &.mod-opened {
      min-width: 270px;
      box-shadow: $shadow-default;
      border-color: $gray-lighter-new;
      padding-top: $padding-top-opened;
      padding-bottom: $padding-top-opened + $padding-bottom-default;
      top: $padding-top-default - $padding-top-opened;

      .settings-selector__options {
        padding: 3px 10px 8px 0;
        display: block;
        visibility: visible;
      }
    }

    &__option {
      white-space: nowrap;
      padding: 10px 0;

      &:last-child {
        border-bottom: none;
      }

      &:hover,
      &:focus {
        background-color: transparent;
        color: inherit;
      }

      * {
        font-weight: 400 !important;
      }

      .btn-settings-action {
        position: relative;
        width: 100%;
        border: none;

        .btn-settings-action__caption,
        .export-text {
          position: absolute !important;
          top: 0 !important;
          left: 30px;
          margin-left: 0 !important;
          font-size: 13px;
        }
      }

      label {
        cursor: pointer;
      }
    }

    .glyphicon {
      font-size: $ellipsis-height - 3px;
    }
  }

  .btn.mod-export,
  .btn.mod-export:hover {
    color: $gray-new;
    background-color: transparent;
    font-size: 13px;

    width: 100%;
    text-align: left;
    border: none;

    .export-text {
      position: relative;
      top: -3px;
      margin-left: 6px;

      .mod-settings-selector {
        display: inline;
      }
    }
  }

}

.settings-selector {
  &__options {
    display: none;
    transition: $transition-default;
  }

  &__btn {
    color: $gray-middle-new;
    float: right;
    width: 30px !important;
    text-align: center;
    position: relative;
  }
}
