.sticky-top {
  position: fixed;
  @media (min-width: $screen-sm-min) {
    top: $main-navigation-height + 1;
  }

  @media (max-width: $screen-xs-max) {
    top: $main-navigation-height-mobile + 1;
  }

  &--files {
    background-color: $white;
    z-index: 1;
    padding-left: 0;

    @media (min-width: $screen-sm-min) {
      padding-right: 30px;
    }

    @media (max-width: $screen-xs-max) {
      left: 15px;
      right: 15px;
      padding-right: 0;
    }
  }
}
