$table-view-row-height: 45px;
$table-view-row-line-height: 45px;
$table-view-cell-right-padding: 40px;

.table-view {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;

  &__table {
    display: flex;
    flex-direction: row;
    align-content: stretch;
    width: 100%;
    &.mod-init {
      display: none;
    }
  }

  &__header-cell {
    color: $picton-blue-color;
    border-top: 1px solid $table-border-color;
    border-bottom: 1px solid $table-border-color;
    text-transform: uppercase;
  }

  &__header-cell, &__row-cell {
    position: relative;
    height: $table-view-row-height;
    line-height: $table-view-row-line-height;
    padding: 0;
  }

  &__header-resize-handle.mod-resizable {
    display: inline-block;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 5px;
    padding: 0 5px;
    cursor: ew-resize;
  }

  &__column {
    position: relative;
    display: flex;
    flex-direction: column;;
    align-content: stretch;
    justify-content: flex-start;
    &.border {
      border-right: solid 1px $table-border-color;
    }
  }

  &__row, &__footer-row {
    height: $table-view-row-height;
    line-height: $table-view-row-line-height;
    display: flex;
    flex-direction: row;
    align-content: stretch;
    justify-content: flex-start;
    border-bottom: 1px solid $table-border-color;
    &:hover, &.mod-selected{
      background-color: $table-bg-hover;
    }
  }

  &__action {
    margin-left: 5px;
  }

  &__action-icon, &__action-label {
    color: $picton-blue-color;
    &:hover {
      color: $danube-color;
    }
  }

  &__load {
    display: none;
    &.mod-loading {
      display: block;
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0;
      left: 0;
      background-color: rgba($table-bg-hover, 0.7);
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }

  &__rows, &__footer {
    position: relative;
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
  }

  &__footer-cell {
    padding-right: $table-view-cell-right-padding;
    font-weight: 700;
    text-align: left;
  }

  &__row-cell, &__header-cell {
    &.mod-string, &.mod-number, &.mod-datetime, &.mod-buttons {
      padding-left: 10px;
      text-align: left;
    }

    &.mod-money {
      padding-right: $table-view-cell-right-padding;
      text-align: right;
    }
  }

}
