$table-view-row-height: 45px;
$table-view-row-line-height: 45px;
$table-view-cell-right-padding: 40px;

.table-view {
  display: flex;
  flex-direction: column;
  width: 100%;

  &__header {
    height: $table-view-row-height;
    line-height: $table-view-row-line-height;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-content: stretch;
    justify-content: flex-start;
    border-top: 1px solid $table-border-color;
    border-bottom: 1px solid $table-border-color;
    text-transform: uppercase;
    overflow: visible;
    text-align: center;
    font-weight: 400;
  }

  &__header-cell, &__row-cell {
    position: relative;
  }

  &__header-resize-handle.mod-resizable, &__row-border {
    display: inline-block;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 5px;
    padding: 0 5px;
    border-right: solid 1px $table-border-color;
  }

  &__header-resize-handle.mod-resizable {
    cursor: ew-resize;
  }

  &__rows {
    position: relative;
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
  }

  &__row {
    height: $table-view-row-height;
    line-height: $table-view-row-line-height;
    display: flex;
    flex-direction: row;
    align-content: stretch;
    justify-content: flex-start;
    border-bottom: 1px solid $table-border-color;
    &:hover, &.mod-selected{
      background-color: $table-bg-hover;
    }
  }

  &__rows-load {
    display: none;
    &.mod-loading {
      display: block;
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0;
      left: 0;
      z-indes: 1;
      background-color: rgba($table-bg-hover, 0.7);
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }

  &__row-cell {
    padding-right: $table-view-cell-right-padding;
  }

  &__footer {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
  }

  &__footer-row {
    height: $table-view-row-height;
    line-height: $table-view-row-line-height;
    display: flex;
    flex-direction: row;
    align-content: stretch;
    justify-content: space-between;
    border-bottom: 1px solid $table-border-color;
    &:hover{
      background-color: $table-bg-hover;
    }
  }

  &__footer-cell {
    padding-right: $table-view-cell-right-padding;
    font-weight: 700;
    text-align: left;
  }

  &__footer-col {
    text-align: left;
  }

  .mod-string, .mod-number, .mod-datetime {
    text-align: center;
    padding-right: 8px;
  }

  &__row-cell.mod-money {
    text-align: right;
    padding-right: 40px;
  }

  &__header-cell.mod-money {
    text-align: center;
    padding: 0 20px;
  }
}
