$table-view-row-height: 45px;
$table-view-row-line-height: 45px;
$table-view-mobile-row-line-height: 19px;
$table-view-cell-right-padding: 40px;
$table-view-header-resize-handle-width: 5px;
$table-view-default-marging: 5px;
$table-view-mobile-default-marging: 4px;

.table-view {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 80px;

  &__empty-label {
    text-align: center;
    font-size: 18px;
    font-weight: 600;
  }

  &__table-header, &__table-body, &__mobile-header {
    display: flex;
    flex-direction: row;
    align-content: stretch;
    width: 100%;
    &.mod-init {
      display: none;
    }
  }

  &__mobile-header {
    justify-content: flex-end;
  }

  &__header-label {
    text-transform: uppercase;
  }

  &__header-cell {
    color: $brand-primary;
    border-top: 1px solid $table-border-color;
    border-bottom: 1px solid $table-border-color;
    flex: 0 0 auto;

    .table-view.mod-in-panel & {
      border-top: none;
      height: auto;
      line-height: 1em;
      padding-bottom: 5px;
    }

    .table-view.mod-in-panel-stack & {
      border-top: none;
    }
  }

  &__header-cell, &__row-cell {
    position: relative;
    height: $table-view-row-height;
    line-height: $table-view-row-line-height;
    padding: 0;
    padding-left: 10px;
    text-align: left;

    &.mod-money {
      text-align: right;
      padding-right: $table-view-cell-right-padding;
    }
  }

  &__header-resize-handle.mod-resizable {
    display: inline-block;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: $table-view-header-resize-handle-width;
    padding: 0 $table-view-header-resize-handle-width;
    cursor: ew-resize;
  }

  &__column {
    position: relative;
    display: flex;
    flex-direction: column;;
    align-content: stretch;
    justify-content: flex-start;
    border-right: solid 1px $table-border-color;
    min-height: min-content;

    &:last-child {
      border-right: none;
    }

    .table-view.mod-in-panel &,
    .table-view.mod-in-panel-stack & {
      border-right: none;

      &:first-child {
        .table-view__row-cell,
        .table-view__header-cell,
        .table-view__footer-cell {
          padding-left: 20px;
        }
      }
    }
  }

  &__mobile-rows, &__mobile-row, &__mobile-footer {
    position: relative;
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    align-content: stretch;
    justify-content: flex-start;
  }

  &__mobile-row-line:first-child {
      font-weight: 700;
      margin-bottom: 0;
  }

  &__row, &__mobile-row-line, &__footer-row {
    height: $table-view-row-height;
    line-height: $table-view-row-line-height;
    display: flex;
    flex-direction: row;
    align-content: stretch;
    justify-content: flex-start;

    @media (max-width: $screen-xs-max) {
      font-size: $font-size-base;
      line-height: $table-view-mobile-row-line-height;
      height: $table-view-mobile-row-line-height;
      margin-bottom: $table-view-mobile-default-marging;
    }
  }

  &__row, &__mobile-row-line {
    &:hover, &.mod-selected, &.mod-hovered {
      background-color: $table-bg-hover;
    }
  }

  &__row, &__mobile-row, &__footer-row {
    position: relative;
    flex: 0 0 auto;

    &.mod-money {
      justify-content: flex-end;

      .table-view__row-cell {
        padding-right: $table-view-cell-right-padding;
      }
    }
  }

  &__row-actions, &__mobile-row-actions, &__mobile-row-secondary-actions {
    position: absolute;
    right: 15px;
    top: 0;
    bottom: 0;
    width: 90vw;
  }

  &__mobile-row-secondary-actions {
    right: $table-view-default-marging;
  }

  &__row-action, &__mobile-row-action {
    float: right;
  }

  &__row-action {
    // margin-top: $table-view-default-marging;
    padding-bottom: 0;
  }

  &__mobile-row-action {
    margin-top: 9px;
  }

  &__mobile-row {
    &.mod-selected, &:hover {
      background-color: $table-bg-hover;
    }

    @media (max-width: $screen-xs-max) {
      padding-top: $table-view-mobile-default-marging;
    }
  }

  &__row, &__footer-row, &__mobile-row {
    border-bottom: 1px solid $table-border-color;
  }

  &__mobile-row-cell {
    margin-left: $table-view-default-marging;

    &:last-child {
      .comma-separator {
        display: none;
      }
    }

    &.mod-money {
      margin-left: auto;
      margin-right: $table-view-default-marging;
    }

    &.mod-no-comma {
      .comma-separator {
        display: none;
      }
    }
  }

  &__actions {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    min-height:20px;
    margin-bottom: $table-view-default-marging;
  }

  &__action {
    margin-left: $table-view-default-marging;
  }

  &__action-icon,
  &__action-label {
    margin-right: $table-view-default-marging;
    cursor: pointer;
  }

  &__action-icon {
    color: $form-font-color;
    &:hover {
      color: $form-font-color;
    }
  }

  &__action.mod-disabled > &__action-icon, &__action.mod-disabled > &__action-label {
    visibility:hidden;
  }

  &__load {
    display: none;
    &.mod-loading {
      display: block;
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0;
      left: 0;
      background-color: rgba($table-bg-hover, 0.7);
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }

  &__footer-cell {
    padding-right: $table-view-cell-right-padding;
    text-align: left;
  }
}

.table-view.mod-in-panel-stack,
.table-view.mod-in-panel {
  .table-view__row.mod-money .table-view__row-cell,
  .table-view__footer-row.mod-money .table-view__footer-cell,
  .table-view__header-cell.mod-money {
    padding-right: $panel-new-padding-hor;
  }
}
