.fix-first-column {
  position: absolute !important;
  width: $fix-column-width !important; 
  left: 0;
  top: auto;
}

.table-overflow-wrapper {
  width: calc(100% - #{$fix-column-width});
  margin-left: $fix-column-width;
  overflow-x: scroll;
  overflow-y: visible;

  table {
    border-collapse: separate;
    // width: 100%;
  }

  td {
    height: $data-table-cell-height;
    vertical-align: middle;
  }

  .table-hover>tbody>tr:hover {
    td {
      background-color: $table-bg-hover;
    }
  }

  .ps-scrollbar-x-rail {
    left: $fix-column-width !important;
  }
}

.ps-scrollbar-x-rail {
  display: block !important;
  opacity: 0.6 !important;
  background-color: $gray-lighter !important;

  .ps-scrollbar-x {
    background-color: #999 !important;
  }
} 