tags-input {
  .host {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    border: $input-border-width solid $input-border !important;
    border-radius: $input-border-radius;
    color: $input-color !important;

    .autocomplete {
      margin-top: 0;
      padding: 0;

      .suggestion-item {
        @include dropdown-item();

        font-family: $font-family-base;
        font-size: $font-size-base;

        &.selected,
        &.selected em {
          @include dropdown-item-active();
        }

        em {
          font-size: $font-size-base + 1;
          font-family: $font-family-base;
          color: inherit;
          font-size: inherit;
        }

        &:hover em,
        em:hover {
          background-color: transparent;
          color: inherit;
        }
      }
    }
  }

  .tags {
    box-shadow: none !important;
    border: none !important;

    input {
      height: $content-filter-height - 8 !important; // 8 is margin (2+2)+ padding(1+1)+ border(1+1)
      font-family: $font-family-base;
    }

    .tag-item {
      color: $gray-middle-new !important;
      border-color: $gray-darker-new !important;
      background: transparent !important;

      .remove-button {
        color: $gray-darker-new !important;
      }
    }
  }

  &.has-search-icon {
    input.input {
      background: url(#{$images-path}/magnifying-glass16.svg) no-repeat 5px center transparent;
      background-size: 12px;
    }
  }
}

// third-party, so everything is important here
@mixin tags-input-size($content-height) {
  min-height: $content-filter-height;

  .input {
    height: $content-height !important;
  }

  .tag-item {
    height: $content-height !important;
    line-height: $content-height - 1 !important;
  }

  @media (max-width: $screen-xs-max) {
    width: 100%;
    display: block;
    margin-left: 0;
    padding-right: 0;
    margin-top: $margin-xs;
  }
}
