tags-input {
  .host {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    border: $input-border-width solid $input-border !important;
    border-radius: $input-border-radius;
    color: $input-color !important;

    .autocomplete {
      padding: 0;
      margin-top: 0;

      .suggestion-item {
        @include dropdown-item();

        font-family: $font-family-base;
        font-size: $font-size-base;

        em {
          color: inherit;
          font-family: inherit;
          font-size: inherit;
        }

        &.selected,
        &.selected em {
          @include dropdown-item-active();
        }

        &:hover em {
          background-color: transparent;
          color: inherit;
        }
      }
    }

    .tags {
      border: none !important;
      outline: none !important;
      box-shadow: none !important;

      input {
        height: $content-filter-height - 8; // 8 is margin (2+2)+ padding(1+1)+ border(1+1)
        font-family: $font-family-base;
      }

      .tag-item {
        padding-right: 0;
        padding-left: 0;
        border: none;
        background: transparent;
        color: $gray-new;
        margin: 0;

        .remove-button {
          display: inline-block;
          padding-right: $tag-item-distance-hor - $tag-remove-button-size/2;
          padding-left: $tag-item-distance-hor - $tag-remove-button-size/2;
          margin-left: $tag-item-distance-hor;
          border-left: 1px solid $tag-item-border-color;
          color: $tag-item-color;
          font-size: $tag-remove-button-size;
        }
      }
    }
  }

  &.has-search-icon {
    input.input {
      background: url(#{$images-path}/search.svg) no-repeat 5px center transparent;
      background-size: 12px;
    }
  }
}

.search {
  @media (min-width: $screen-sm-min) {
    position: relative;
  }

  @media (max-width: $screen-xs-max) {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: $white;
  }

  .icon-close {
    position: absolute;
    display: none;
    font-size: $search-close-size;

    @media (min-width: $screen-sm-min) {
      top: 5px;
      right: $search-close-size - 6px;
    }

    @media (max-width: $screen-xs-max) {
      top: 5px;
      right: 5px;
    }
  }

  &__show {
    background: url(#{$images-path}/search.svg) no-repeat center transparent;
    cursor: pointer;

    @media (min-width: $screen-sm-min) {
      position: absolute;
      z-index: 1;
      top: 0;
      right: 14px;
      padding: $search-show-icon-padding;
      background-size: $search-show-icon-size;
      transition: $transition-default;
    }

    @media (max-width: $screen-xs-max) {
      position: fixed;
      z-index: 1040;
      top: 0;
      right: 2px;
      padding: $main-navigation-height-mobile / 2;
      background-size: $search-show-icon-size;
    }
  }

  &__hide {
    @media (max-width: $screen-xs-max) {
      position: fixed;
      z-index: 1040;
      top: 5px;
      left: 5px;
      display: none;
      padding: $search-show-icon-size/2 $dropdown-item-padding-horizontal/2;
      background: url(#{$images-path}/back.svg) no-repeat center transparent;
      background-size: $search-show-icon-size !important;
      cursor: pointer;
    }
  }

  &__wrapper {
    flex-grow: 1;
  }

  tags-input {
    @include tags-input-size($search-tag-height + 2px);  // plus borders

    display: none;

    // overflow scroll
    .tags {
      white-space: nowrap;
    }

    .tag-list {
      white-space: nowrap;
      display: inline-block;
    }

    .input {
      display: inline-block;
      float: none !important;
    }

    .tag-item {
      float: none !important;
    }

    .ps-scrollbar-x-rail {
      left: 0 !important;
      background-color: transparent !important;
      bottom: -5px !important;

      .ps-scrollbar-x {
        background-color: transparent !important;
      }
    }

    .ps-active-x {
      .ps-scrollbar-x-rail {
        bottom: -5px !important;
        background-color: #ccc !important;
        z-index: 9999 !important;
        opacity: 0.6 !important;
      }
      .ps-scrollbar-x {
        background-color: #999 !important;
        cursor: pointer;
      }
    }

    // misc
    @media (min-width: $screen-sm-min) {
      padding-left: $search-show-icon-padding*2;
      padding-right: $search-show-icon-padding*2;
    }

    @media (max-width: $screen-xs-max) {
      $tag-input-padding: 5px;  // from ng-tags-input
      $border-to-tag: $dropdown-item-padding-horizontal;

      margin-top: 0;
      border: none;

      .tags {
        margin-left: $actions-content-padding;
        margin-right: $actions-content-padding;
        padding: 0;
      }

      .tags .input,
      .tags .tag-item {
        font-size: $actions-option-font-size;
      }

      .autocomplete {
        margin-top: 1px;
        border: none;
        box-shadow: none;

        .suggestion-list {
          max-height: none;
        }

        .suggestion-item {
          @include actions-option();
          @include clearfix();

          margin-left: $actions-content-padding;
          margin-right: $actions-content-padding;
          overflow: visible;

          ti-autocomplete-match {
            @include text-overflow();

            display: inline-block;
            float: left;
            width: 100%;
          }

          &:before {
            content: '';
            display: inline-block;
            width: 25px;
            height: $actions-options-height-full;
            background: url(#{$images-path}/search.svg) no-repeat center;
            background-size: 30px;
            vertical-align: middle;
            position: absolute;
            left: -$actions-content-padding + 5px;
            top: 0;
          }

          &.selected,
          &.selected em {
            background: $white;
            color: $brand-primary;
          }
        }
      }

      .host {
        border-top: none !important;
        border-bottom: 1px solid $border-color-base !important;
      }

      .tags {
        margin-right: 0;
      }

      .tag-list {
        padding-left: $tag-input-padding;
      }

      .input {
        padding-left: 0 !important;
        min-width: 52px;  // Search word
        vertical-align: top;
      }

      .tag-item {
        span {
          @include text-overflow();

          max-width: 200px;
          display: inline-block;
        }

        .remove-button {
          vertical-align: top !important;
        }
      }
    }
  }

  &.mod-opened {
    @media (max-width: $screen-xs-max) {
      position: fixed;
      z-index: 1040;
      margin-top: 0;
    }

    .icon-close,
    tags-input {
      display: block;
    }

    .search__show {
      @media (min-width: $screen-sm-min) {
        right: calc(100% - #{$search-show-icon-padding*2});
      }

      @media (max-width: $screen-xs-max) {
        display: none;
      }
    }

    .search__hide {
      @media (max-width: $screen-xs-max) {
        display: block;
      }
    }
  }
}

.search.mod-move-left-mobile {
  .search__show {
    @media (max-width: $screen-xs-max) {
      right: 40px;
    }
  }
}
