.two-column-layout {
  $first-column-width: 127px;
  $first-column-width--small: 20px;

  &.mod-first-column-long {
    $first-column-width: 192px;
  }

  &__item {

    display: inline-block;

    vertical-align: middle;
    @media (max-width: $screen-xxs-max) {
      display: block;
    }

    &.is-first {
      @media (min-width: $screen-xs-min) {
        width: $first-column-width;
        float: left;
        margin-right: $margin-xs;

        &.mod-small {
          width: $first-column-width--small;
        }
      }
    }

    &.is-last {
      @media (min-width: $screen-xs-min) {
        width: calc(100% - #{$first-column-width + $margin-xs});

        &.mod-small {
          width: calc(100% - #{$first-column-width--small + $margin-xs});
        }
      }
      @media (max-width: $screen-xxs-max) {
        margin-top: $margin-xs;
      }
    }
  }
}
