$week-caret-size: 5px;

.caret-right, .caret-left {
    border-bottom: $week-caret-size solid transparent;
    border-top: $week-caret-size solid transparent;
    display: inline-block;
    height: 0;
    vertical-align: top;
    width: 0;
    margin-top: 2px;
}

.caret-right{
    border-left: $week-caret-size solid;
}

.caret-left{
    border-right: $week-caret-size solid;
}

button.week-changer {
    font-size:10px;
    height: $content-filter-height;

    @media (max-width: $screen-xs-max){
      &.hide-buttons{
          display: none;
      }
    }
    &:focus,
    &:active,
    &.active,
    &.disabled:hover {
      color: $gray !important;
    }
}

// week-selector at aside

.aside-body {
  .week-dropdown {
    min-width: 100%;
    padding-left: 7px; // decreease from normal 10px to compensate extra space at weekselector.html line 9
  }
  .mod-aside {
    width: 100%;
  }
}
