@mixin make-keyframes($name) {

  @-ms-keyframes #{$name} {
    @content
  }

  @-webkit-keyframes #{$name} {
    @content
  }

  @-moz-keyframes #{$name} {
    @content
  }

  @-o-keyframes #{$name} {
    @content
  }

  @keyframes #{$name} {
    @content
  }

}

@include make-keyframes(ld) {
  0%   { transform: rotate(0deg); }
  50%  { transform: rotate(180deg); }
  100% { transform: rotate(360deg); }
}

// $browser-prefixes: 
// @mixin make-animation {
//   @each $prefix in 
// }

.m-progress {
  top: 0;
  position: relative;
  opacity: .8;
  color: transparent;

  &:before {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-animation: ld 1s linear infinite;
    -moz-animation:    ld 1s linear infinite;
    -o-animation:      ld 1s linear infinite;
    animation:         ld 1s linear infinite;
    color: #333333;
  }
  &.btn-default:before {
    margin-top: -9px;
    margin-left: -7px;
  }

  &.btn-primary:before {
    color: #fff;
    margin-top: -9px;
    margin-left: -7px;
  }

  &.progress-inline:before {
    margin-top: -7px;
    margin-left: -7px;
  }
}

.m-progress:hover,
.m-progress:active,
.m-progress:focus {
    cursor: default;
    color: transparent;
    outline: none !important;
    box-shadow: none;
}


// .btn-lg.m-progress:before {
//     margin-top: -16px;
//     margin-left: -16px;
    
//     width: 32px;
//     height: 32px;
// }

// .btn-sm.m-progress:before {
//     margin-top: -9px;
//     margin-left: -9px;
    
//     width: 18px;
//     height: 18px;
// }

// .btn-xs.m-progress:before {
//     margin-top: -7px;
//     margin-left: -7px;
    
//     width: 14px;
//     height: 14px;
// }

// .progress-inline:before{
//     margin-top:-7px;
//     margin-bottom:-7px;
//     width:12px;
//     height: 12px;
//     border: 1px solid #333;
//     border-top-color: transparent;
//     border-bottom-color: transparent;
// }

.text-right.progress-inline:before{
  top: 10px;
  left: 85%;
}
