@mixin make-keyframes($name) {

  @-ms-keyframes #{$name} {
    @content
  }

  @-webkit-keyframes #{$name} {
    @content
  }

  @-moz-keyframes #{$name} {
    @content
  }

  @-o-keyframes #{$name} {
    @content
  }

  @keyframes #{$name} {
    @content
  }

}

@include make-keyframes(ld) {
  0%   { transform: rotate(0deg); }
  50%  { transform: rotate(180deg); }
  100% { transform: rotate(360deg); }
}

// $browser-prefixes: 
// @mixin make-animation {
//   @each $prefix in 
// }

.spinner-container{
    position:relative;
    }

.spinner {
  display: inline-block;
  line-height: 1.1em;

  fill: #444;
  stroke: #69717d;

  // TODO: refactor start

  &__wrapper {
    vertical-align: middle;
    height: 100%;
    display: inline-block;
  }

  svg {
    width: 25px;
    height: 100%;
  }

  &--inline {
    svg {
      width: 16px;
    }
  }

  &--center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  &--chart {
    width: 100px;
  }

  &--full{
        position:absolute;
        z-index:2;
        width:100%;
        height:100%;
        background-color:white;
      svg{
          width:100px;
          margin:auto;
      }
  }

  &.btn-primary {
    fill: lighten(#444, 90%);
    stroke: lighten(#444, 90%);
  }

  // TODO: refactor stop

  &--small {
    width: 16px;
    height: 100%;
  }

  &--over {
    position: absolute;
    top: 0;
    vertical-align: middle;
    &.spinner--small {
      left: calc(50% - 8px);
    }
  }

  &--below {
    color: transparent;
  }

  &:hover,
  &:active,
  &:focus {
      cursor: default;
      color: transparent;
      outline: none !important;
      box-shadow: none;
  }
}
