@mixin make-keyframes($name) {

  @-ms-keyframes #{$name} {
    @content
  }

  @-webkit-keyframes #{$name} {
    @content
  }

  @-moz-keyframes #{$name} {
    @content
  }

  @-o-keyframes #{$name} {
    @content
  }

  @keyframes #{$name} {
    @content
  }

}

@include make-keyframes(ld) {
  0%   { transform: rotate(0deg); }
  50%  { transform: rotate(180deg); }
  100% { transform: rotate(360deg); }
}

// $browser-prefixes: 
// @mixin make-animation {
//   @each $prefix in 
// }

.spinner {
  display: inline-block;
  line-height: 1.1em;

  fill: #444;
  stroke: #69717d;

  &__wrapper {
    vertical-align: middle;
    height: 100%;
    display: inline-block;
  }

  svg {
    width: 25px;
    height: 100%;
  }

  &--inline {
    svg {
      width: 16px;
    }
  }

  &--center {
    width: 100%;
    text-align: center;
  }

  &.btn-primary {
    fill: lighten(#444, 90%);
    stroke: lighten(#444, 90%);
  }

  &:hover,
  &:active,
  &:focus {
      cursor: default;
      color: transparent;
      outline: none !important;
      box-shadow: none;
  }
}
