$fix-column-width: 180px;

.fix-first-column {
  position: absolute !important;
  width: $fix-column-width + 1 !important;      //+1 fix white line that separate first column and data
  left: 0;
  top: auto;
}

.table-overflow-wrapper {
  width: calc(100% - #{$fix-column-width});
  margin-left: $fix-column-width;
  overflow-x: scroll;
  overflow-y: visible;

  table {
    border-collapse: separate;
    // width: 100%;
  }

  td {
    height: 27px;
    vertical-align: middle;
  }

  .table-hover>tbody>tr:hover {
    td {
      background-color: #f5f5f5;
    }
  }
}

.ps-scrollbar-x-rail {
  left: $fix-column-width !important;
  top: 50px !important;
  display: block !important;
  opacity: 0.6 !important;
  background-color: #eee !important;

  .ps-scrollbar-x {
    background-color: #999 !important;
  }
}