@import './mixins';


.app {
  position: relative;
  display: flex;
  flex-direction: column;
}

.content {
  position: relative;
  flex: 1;
  width: 100%;
  max-width: 1350px;
  padding: 100px 15px 15px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.main {
  position: relative;
  @include lightBox();
  width: calc(100% - 259px);
}


@media (max-width: $screen-sm) {
  .main {
    width: 100%;
  }
}

@media (max-width: $screen-xs) {
  .content {
    padding: 57px 5px 5px;
  }
}