@import './mixins';


.app {
  position: relative;
  display: flex;
  flex-direction: column;
}

.content {
  position: relative;
  flex: 1;
  width: 100%;
  max-width: 1350px;
  padding: 100px 15px 15px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.main {
  @include lightBox();
  width: calc(100% - 259px);

  @media (max-width: 1025px) {
    width: 100%;
  }
}