@import './mixins';

.btn {
  height: 35px;
  display: inline-flex;
  align-items: center;
  margin: 0 10px;
  padding: 0 40px;
  background-color: $white;
  border: 1px solid $gray-lighter-new;
  font-size: 14px;
  color: $gray-new;
  border-radius: 2px;
  cursor: pointer;
  line-height: 1;

  &:hover {
    color: $white;
    background-color: $brand-primary;
    border-color: $brand-primary;
  }
}

.short {
  padding-left: 15px;
  padding-right: 15px;
}

.icon {
  font-size: 24px;
  line-height: 1;
  border: none;
  background-color: transparent;
  padding: 0;
  color: $gray-text;

  &:hover {
    color: $gray-new;
    background-color: transparent;
  }
}

.plain {
  padding: 0;
  border: none;
  background-color: transparent;
  @include link($brand-primary);

  &:hover {
    background-color: transparent;
  }
}

.blue {
  background-color: $brand-primary;
  color: $white;
  border-color: $brand-primary;
  
  &:hover,
  &:focus {
    background-color: $brand-saturated;
    border-color: $brand-saturated;
  }
}

