@import '../../../node_modules/sanitize.css/sanitize.css';
@import '../../../node_modules/normalize.css/normalize.css';
@import '../project/variables';
@import './mixins';


html,
body {
  height: 100%;
  width: 100%;
}

body {
  font-weight: 400;
  font-size: 14px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: $gray-new;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  @include link($brand-primary);
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

section {
  position: relative;
  padding: 0 0 20px;
}

article {
  margin: 0;
  padding: 0 20px;
}

p {
  margin: 0;
}
