@import '../../../node_modules/sanitize.css/sanitize.css';
@import '../project/variables';
@import './mixins';


html,
body {
  height: 100%;
  width: 100%;
}

body {
  font-weight: 400;
  font-size: 14px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: $gray-new;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p,
label {
  font-family: Georgia, Times, "Times New Roman", serif;
  line-height: 1.5em;
}

a {
  @include link($brand-primary);
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
}



