@import '../../../node_modules/sanitize.css/sanitize.css';
@import '../project/variables';
@import './mixins';

html {
  position: relative;
  min-height: 100%;
}

html,
body {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;

  &::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 0;
    height: 0;
  }
}

body {
  font-weight: 400;
  font-size: $font-size-base;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: $gray-new;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  @include link($brand-primary);
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

section {
  position: relative;
  padding: 0;
}

article {
  @include panelHorPadding();

  margin: 0;
  padding-top: $distance-ver-md;
  padding-bottom: $distance-ver-md;
}

p {
  margin: 0;
}
