.grid {
  display: grid;
  grid-template-columns: repeat(18, 1fr);
  grid-gap: 20px;

  @media (max-width: $screen-md){
    grid-gap: 10px;
  }
  @media (max-width: $screen-sm){
    grid-gap: 0;
  }
}

$grid-columns: 18;

@for $i from 1 through $grid-columns {
  .start-#{$i} {
    grid-column-start: $i;

    @media (max-width: $screen-sm){
      grid-column-start: 1;
    }
  }
  .end-#{$i} {
    grid-column-end: $i;

    @media (max-width: $screen-sm){
      grid-column-end: -1;
    }
  }
}

.end-last {
  grid-column-end: -1;
}
