$grid-columns: 18;

.grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(18, 1fr);
  grid-gap: $panel-new-padding-hor;

  @media (max-width: $screen-sm-max) {
    grid-gap: $panel-new-padding-hor-mobile;
  }

  @media (max-width: $screen-xs-max) {
    grid-gap: 0;
  }
}

@for $i from 1 through $grid-columns {
  .start-#{$i} {
    grid-column-start: $i;

    @media (max-width: $screen-xs-max) {
      grid-column-start: 1;
    }
  }

  .end-#{$i} {
    grid-column-end: $i;

    @media (max-width: $screen-xs-max) {
      grid-column-end: -1;
    }
  }
}

.end-last {
  grid-column-end: -1;
}
