.heading {
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.onTop {
  border-bottom: 1px solid $gray-light-new;
  padding-left: 20px;
  padding-right: 20px;
}