.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 73px;
  display: flex;
  align-items: center;
  padding: 0 40px;
  border-bottom: 1px solid $gray-light-new;
  background-color: #fafafa;
  z-index: 9999;
}

.left {
  margin-right: auto;
}

.right {
  margin-left: auto;
}