@import '../project/style-components/glyphicons';
@import './mixins';


.glyphicon {
  position: relative;
  top: 0;
  display: inline-flex;
  margin: 0 3px;
  font-size: 11px;
}

.top-3 {
  top: 3px;
}

.font-50 {
  font-size: 50px;
}

.circle {
  @include circle();
}

.circle-24 {
  @include circle(24px);
}

.color-gray {
  color: $gray-lighter-new;
}

.img-check {
  background: url('../../img/checkmark.svg') center center no-repeat;
  background-size: 70%;
}

.bg-blue {
  background-color: $brand-primary;
}

.bg-green {
  background-color: #7fc957;
}

.bg-white {
  background-color: $white;
  border: 1px solid $gray-light-new;
}

.radius-33 {
  border-radius: 33%;
}