@import '../project/style-components/glyphicons';
@import './mixins';


.glyphicon {
  position: relative;
  top: 0;
  display: inline-flex;
  margin: 0 3px;
  font-size: 11px;
}

.circle {
  @include circle();
}

.top3 {
  top: 3px;
}

.font50 {
  font-size: 50px;
}

.radioChecked,
.radioEmpty {
  min-height: 24px;
  min-width: 24px;
  height: 24px;
  width: 24px;
  font-size: 13px;
}

.gray {
  color: $gray-lighter-new;
}

.radioChecked {
  background-color: $brand-primary;
}

.radioEmpty {
  background-color: $white;
  border: 1px solid $gray-light-new;
}

.greenCircle {
  background-color: #7fc957;
}

.white {
  background-color: $white;
  border-color: gray;
}