@mixin lightBox() {
  background-color: #fff;
  border: 1px solid $gray-light-new;
  border-radius: 3px;
}


@mixin link($color) {
  color: $color;
  cursor: pointer;

  &:hover {
    color: darken($color, 15);
  }
  &:focus,
  &:visited {
    color: $color;
    outline: none;
  }
}
