@mixin lightBox() {
  background-color: $white;
  border: 1px solid $gray-light-new;
  border-radius: 2px;
}


@mixin link($color) {
  color: $color;
  cursor: pointer;

  &:hover {
    color: darken($color, 15);
  }
  &:focus,
  &:visited {
    color: $color;
    outline: none;
  }
}

@mixin formElement() {
  display: inline-flex;
  height: 46px;
  border: 1px solid $gray-lighter-new;
  background: $white;
  padding: 6px 12px;
  border-radius: 3px;
  transition: border-color ease-in-out .15s;

  &:hover,
  &:focus {
    border-color: $brand-primary;
    outline: none;
  }
}

@mixin placeholder {
  &.placeholder { @content; }
  &:-moz-placeholder { @content; }
  &::-moz-placeholder { @content; }
  &:-ms-input-placeholder { @content; }
  &::-webkit-input-placeholder { @content; }
}
