.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 15px 0;
  padding: 10px 20px;
}

.border {
  border: 1px solid $gray-light-new;
  border-radius: 2px;
}

.plain {
  margin: 0;
  padding: 0;
}

.left {
  justify-content: flex-start;
}