/*wtf is that?*/
/*.checkbox__margined {*/
  /*@media (min-width:$screen-xs-min+1){*/
    /*height: 15px!important;*/
  /*}*/
  /*margin: 5px 5px 0px 15px!important;*/
/*}*/

.checkbox-caption-left {
  line-height: 39px;
  padding: 0 5px;
}

.hidden-xs-inline {
  @media (max-width:$screen-xs-min){
    display: none !important;
  }
}

.middle-ineditable {
  line-height: 40px;
}


.summary-table{
    @media (max-width:$screen-sm-min){
        width:100%;
    }
    th,td{
        padding:3px 8px;
    }
}

.editable {
  border: 1px solid #ddd;
  
  input,
  &__input {
    background-color: transparent;
    border: 0;
    box-sizing: border-box;
    outline: 0 !important;
    text-align: right;
    width: 100%;
    &:focus {
      outline: 2px solid #6699cc !important;
    }
  }
}

.empty-footer {
  height: 0 !important;
  padding: 0 !important;
  margin: 0 !important; }

.break-td {
  height: 35px; }

.category-head {
  background-color: #f5f5f5;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd; }

.calculated-value{
    padding-right:1px;
}
