.checkbox-caption-left {
  line-height: 39px;
  padding: 0 5px;
}

.hidden-xs-inline {
  @media (max-width:$screen-xs-min){
    display: none !important;
  }
}

.middle-ineditable {
  line-height: 40px;
}


table.summary-table{
    border-collapse: collapse;
    @media (max-width:$screen-xs-max){
        width:100%;
    }
    th,td{
        padding:3px 8px;
    }
    .category-head.fix-first-column {
        width: 100% !important;
        height: 28px !important; //fix bottom border
        z-index: 1;   //fix hidding of bottom border when next row is hovered
    }
}

.ds-cell {
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  min-width: 95px;
}

.editable {
  border: 1px solid $table-border-color;
  
  input,
  &__input {
    background-color: transparent;
    border: 0;
    box-sizing: border-box;
    outline: 0 !important;
    padding: 1px;
    text-align: right;
    width: 100%;
    &:focus {
      outline: 2px solid #6699cc !important;
    }
  }
}

.empty-footer {
  height: 0 !important;
  padding: 0 !important;
  margin: 0 !important; }

.break-td {
  height: 35px; }

.category-head {
  background-color: #f5f5f5;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd; 
}

.calculated-value{
  display: inline-block;
  padding-right:1px;
}
