.b-files-table {
  .inline-table__row {
    line-height: 2.5em;
  }

  .add-control {
    margin-bottom: 0;
  }

  .progress {
    margin-bottom: 0;
    vertical-align: middle;
    display: inline-block;
    width: 100%;
  }

}

.icon-folder-plus {
  height: 30px;
  width: 33px;
  background: url(../img/add-folder.png) no-repeat center center transparent;
  background-size: 22px 20px;
}

.icon-file-plus {
  height: 30px;
  width: 33px;
  background: url(../img/add-file.png) no-repeat center center transparent;
  background-size: 19px 20px;
}

.icon-folder {
  background: url(../img/folder.png) no-repeat top center transparent;
  vertical-align: middle;

  @media (min-width: $screen-xs-max) {
    height: 32px;
    width: 36px;
    background-size: 30px 28px;
  }

  @media (max-width: $screen-xs-max) {
    height: 24px;
    width: 27px;
    background-size: 23px 21px;
  }
}

.icon-file {
  background: url(../img/file.png) no-repeat top center transparent;
  vertical-align: middle;

  @media (min-width: $screen-xs-max) {
    height: 32px;
    width: 36px;
    background-size: 24px 28px;
  }

  @media (max-width: $screen-xs-max) {
    height: 24px;
    width: 27px;
    background-size: 16px 21px;
  }
}

.toggle {
  .handle-sm {
    display: inline-block;
    top: 5px;
    height: 20px;
    width: 30px;
    &:after,
    &:before {
      height: 18px;
      width: 18px;
    }
  }

  input[type="checkbox"]:checked {
    & + .handle-sm:before {
      width: 28px;
    }
    & + .handle-sm:after {
      left: 10px;
    }
  }
}