.checkbox--notop {
    margin-left: 5px;
}

.checkbox--notop + .checkbox--notop {
    margin-top:0;
}

.b-allchecker {
    min-height:45px;
}

.table tr:hover {
  .b-delete-icon {
    display:inline;
    visibility: visible;
  }
}