.sorticonwrapper {
  display: inline-block;
  width: 13px;
  height:20px;
  vertical-align:middle;
}

.sorticon {
  font-size: 9px;
  float:left;
  &:first-child {
    margin-left: 0.7px;
  }
}

.edit-details {
  position:relative;
  content: " ";
  width:100%;
  &__btn {
    z-index:10;
    @media (min-width:$screen-sm-min){
      position: absolute;
      bottom: -35px;
      left: calc(50% - 55px);
      border-radius: 0 0 4px 4px;
      border-top:none;
      border-color: $brand-primary !important;
      border-width: 2px;
      height: 33px;
    }
    @media (max-width:$screen-sm-min){
      width:100%;
      margin: 10px 0;
    }
  }
  @media (max-width:$screen-sm-min){
    margin-bottom: 10px;
  }
}

.nav-xs {
  margin-bottom: 0;
  @media (max-width:$screen-xs-min) {
    display: block !important;
    font-size: 12px;
  }
  @media (min-width:$screen-xs-min) {
    min-width: 325px;
  }
}

.add-transaction {
  display: inline-block;
  margin-top: 23px;
}

.add-edit-transaction {
  .ng-invalid {
    border-width: 2px !important;
    border-color: $alert-danger-text !important;
  }
}

.transactions-page {
  svg:not(:root) {
    overflow: visible !important;
  }
}

.similar{
  &__body .transactions-list {
    margin-top: 23px;
  }
  &__header {
    padding-top: 9px;
  }
}

.wide-modal .modal-dialog {
  width: auto !important;
  max-width: 860px;
  padding-left: 0;
  padding-right: 0;
}

.active-row {
  background-color: $table-bg-hover;
}


.overflow-ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
};

.show-ellipsed:hover {
  .overflow-ellipsis {
    overflow: inherit;
    white-space: pre-line;
    text-overflow: clip;
    word-wrap: break-word;
  }
}

.text-right-sm {
  @media (min-width:$screen-sm-min) {
    text-align: right;
  }
}

.sticky-top {
    //TODO this is hack, sorry
  position: fixed;
  top: 51px;
  left: 65%;
  width: 34%;
  max-width:364px;
}

.same-update-icon {
  color: $brand-success;
  position: absolute;
  right: -25px;
}

.alert-danger.margin-top-sm {
  margin-top: 12px !important;
}

$approve-transaction-width: 30px;
.approve-transaction {
  vertical-align: top;
  width: 30px;
}

.d-table {
  display: table;
  width: 100%;
  &__cell {
    display: table-cell;
  }
  &--inherit {
    table-layout: fixed;
  }
}

.subrow--xs {
  margin-left: $approve-transaction-width;
}

