@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import '../project/variables';
@import '../bootstrap/variables';

$headings-font-family: 'Open Sans', sans-serif;

body {
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
   font-family: $headings-font-family;
}

p {
    font-family: $headings-font-family !important;
}

.logo {
  margin: 80px auto;
  height: 100px;
}

.form-auth {
    border: none;
}

.container {
    margin-top: 15px;
    @media (min-width:$screen-sm-min){

    }
    max-width:700px;
}

.title {
  border-bottom:solid 1px #e8ebed;
  margin-bottom: 45px;

  &__title {
    font-weight: 400;
    font-size: 32px;
    color: #4c5557;
    margin-bottom: 5px;
  }

  &__subtitle {
    font-weight: 400;
    font-size: 13px;
    color: #515151;
    margin-bottom: 10px;
    max-width: 450px;
    margin-left: auto;
    margin-right: auto;
  }
}

.form-group {
  margin-bottom: 5px;
}

.form-control {
  padding: 20px;
  border-color: #d3d8db;
  border-radius: 10px;
  font-family: $headings-font-family;
  font-size: 15px;
  color: #515151;
  margin: 5px auto;
  box-shadow: none;

  &:active {
    border-color: #57a6db;
  }
}

.additional-info {
  a {
    font-weight: 400;
    font-size: 15px;
  }
  margin-top: 4px;
  margin-bottom: 10px;
  clear: both;
}

.form-group + .btn {
  margin-top: 32px;
}

.btn {
  padding:18px 45px 18px;
  border-radius: 30px;
  font-family: $headings-font-family;
  font-weight: 400;
  font-size: 14px;
}

.btn-primary {
  color:#fff;
  background-color:#57a6db;
}

::-moz-placeholder,
:-ms-input-placeholder,
::-webkit-input-placeholder {
  font-family: $headings-font-family !important;
}

@media screen and (max-height: 580px) {
    .content {
        margin-top: 15px;
    }
}

.more-info {
  text-align:center;
  padding: $padding-large-vertical;
  font-size: $font-size-xs;
}

.half-height {
  max-height: 50vh;
  overflow: scroll;
}

@mixin make-grid-columns($i: 1, $list: ".col-xs-#{$i}, .col-sm-#{$i}, .col-md-#{$i}, .col-lg-#{$i}") {
  @for $i from (1 + 1) through $grid-columns {
    $list: "#{$list}, .col-xs-#{$i}, .col-sm-#{$i}, .col-md-#{$i}, .col-lg-#{$i}";
  }
  #{$list} {
    padding-left:  5px;
    padding-right: 5px;
  }
}

@include make-grid-columns();