@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import '../project/variables';
@import '../bootstrap/variables';

$headings-font-family: 'Open Sans', sans-serif;

body {
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
   font-family: $headings-font-family;
}

p {
    font-family: $headings-font-family !important;
}

.logo {
  margin: 80px auto;
  height: 80px;
}

.form-auth {
    border: none;
}

.container {
  max-width:750px;
  padding-left: 10px;
  padding-right: 10px;
}

.title {
  border-bottom:solid 1px #e8ebed;
  margin-bottom: 45px;

  &__title {
    font-weight: 400;
    font-size: 32px;
    color: #4c5557;
    margin-bottom: 5px;
    margin-top: -5px;
  }

  &__subtitle {
    font-weight: 400;
    font-size: 16px;
    color: #515151;
    margin-bottom: 35px;
    max-width: 560px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (max-width:$screen-sm-min){
  .logo {
    margin: 64px auto;
    height: 70px;
  }

  .title {
    margin-bottom: 30px;

    &__subtitle {
      margin-bottom: 28px;
    }
  }
}

.form-group {
  margin-bottom: 5px;
}

$form-controll-side-padding: 20px;
$form-controll-border-width: 1px;

.form-control {
  height: 60px;
  padding: 18px $form-controll-side-padding;
  border: #d3d8db solid $form-controll-border-width;
  border-radius: 10px;
  font-family: $headings-font-family;
  font-size: 15px;
  color: #515151;
  margin: 5px auto;
  box-shadow: none;

  @include animation-name(slideDown);
  @include animation-iteration-count(1);
  @include animation-duration(0.2s);

  &:focus {
    border-color: #57a6db;
  }
}

@-webkit-keyframes slideDown {
  0% {
    height: 0;
  }
  100% {
    height: 60%;
  }
}

@-moz-keyframes slideDown {
  0% {
    height: 0;
  }
  100% {
    height: 60%;
  }
}

@-ms-keyframes slideDown {
  0% {
    height: 0;
  }
  100% {
    height: 60%;
  }
}

@keyframes slideDown {
  0% {
    height: 0;
  }
  100% {
    height: 60%;
  }
}

$col-side-paddings: 5px;

.additional-info {
  a {
    font-weight: 400;
    font-size: 15px;
  }
  margin-top: 4px;
  margin-bottom: 10px;
  clear: both;

  &.mod-input-left-border-aligned {
    padding-left: $col-side-paddings;
  }

  &.mod-input-text-start-aligned {
    padding-left: $form-controll-side-padding + $form-controll-border-width + $col-side-paddings;
  }
}

.form-group + .btn {
  margin-top: 32px;
}

.btn {
  padding:18px 45px 18px;
  border-radius: 30px;
  font-family: $headings-font-family;
  font-weight: 400;
  font-size: 14px;
}

.btn-primary {
  color:#fff;
  background-color:#57a6db;
}

::-moz-placeholder,
:-ms-input-placeholder,
::-webkit-input-placeholder {
  font-family: $headings-font-family !important;
}

@media screen and (max-height: 580px) {
    .content {
        margin-top: 15px;
    }
}

.half-height {
  max-height: 50vh;
  overflow: scroll;
}

@mixin make-grid-columns($i: 1, $list: ".col-xs-#{$i}, .col-sm-#{$i}, .col-md-#{$i}, .col-lg-#{$i}") {
  @for $i from (1 + 1) through $grid-columns {
    $list: "#{$list}, .col-xs-#{$i}, .col-sm-#{$i}, .col-md-#{$i}, .col-lg-#{$i}";
  }
  #{$list} {
    padding-left:  $col-side-paddings;
    padding-right: $col-side-paddings;
  }
}

@include make-grid-columns();