@import '../project/variables';
@import '../bootstrap/variables';

$headings-font-family: 'Open Sans', sans-serif;

h1, h2, h3, h4, h5, h6 {
   font-family: $headings-font-family;
}

.form-control {
    border-color: $middle-gray-color;
}

p {
    font-family: $headings-font-family !important;
}

.logo {
    $logo-height: 40px;
    margin: ($main-navigation-height - $logo-height)/2 auto;
    height: $logo-height;
}

.form-auth {
    padding: $padding-vertical-lg $padding-horizontal-lg;
}

.form-auth-subheader {
    text-align: center;
    font-size: $font-size-small;
    margin-bottom: $margin-md;
}

.container {
    margin-top: 35px;
    @media (min-width:$screen-sm-min){
        margin-top:100px;
    }
    max-width:400px;
}

input {
    font-size: 15px;
    margin:15px auto;
}


::-moz-placeholder,
:-ms-input-placeholder,
::-webkit-input-placeholder {
  font-family: $headings-font-family !important;
}

@media screen and (max-height: 580px) {
    .content {
        margin-top: 15px;
    }
}

.more-info {
  text-align:center;
  padding: $padding-large-vertical;
  font-size: $font-size-xs;
}

.half-height {
  max-height: 50vh;
  overflow: scroll;
}
