@import '../project/variables';
@import '../bootstrap/variables';


table.summary-table {
  border-collapse: collapse;

  @media (max-width:$screen-xs-max){
    width:100%;
  }

  .active-row {
    background-color: $table-bg-hover;
  }

  th,td {
    min-width: $ds-table-cell-min-width;
    padding: $ds-table-cell-padding;
  }

  .category-head.fix-first-column {
    width: 100% !important;
    height: $data-table-cell-height + 1 !important; //fix bottom border
    z-index: 1;   //fix hidding of bottom border when next row is hovered
  }
}

.ds-cell {
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  min-width: $ds-table-cell-min-width;

  &.editable {
    border: 1px solid $table-border-color;
  }
}

.calculated-value{
  display: inline-block;
  padding-right:1px;
}

.table-overflow-wrapper {
  .ps-scrollbar-x-rail {
    top: 3px !important;
  }
}
