@import '../project/variables';
@import '../bootstrap/variables';

table.summary-table {
  border-collapse: collapse;

  @media (max-width:$screen-xs-max){
    width:100%;
  }

  th,td {
    min-width: 95px;
    padding:3px 8px;
  }

  .category-head.fix-first-column {
    width: 100% !important;
    height: 28px !important; //fix bottom border
    z-index: 1;   //fix hidding of bottom border when next row is hovered
  }
}

.ds-cell {
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  min-width: 95px;

  &.editable {
    border: 1px solid $table-border-color;
  }
}

.calculated-value{
  display: inline-block;
  padding-right:1px;
}
