@import 'variables';
@import 'bootstrap/variables';

.overview__header{
    margin-left:15px;
}

.overview__panel{

}

.overview__counter{
    font-size:34px;
    padding:15px 0px;
}
 
.overview__week_item {
    margin-top:6px;
}


select.btn-xs{
    height:22px;
}

.overview__chart_control{
  @media (max-width: #{$screen-xs-min - 1}){
      margin-top:5px;
      float: none !important;
  }

  .btn-group {
    margin-left: 0 !important;
  }
}

.overview__table_header th{
    border-top:none!important;
}

.panel-body {
  svg:not(:root) {
    overflow: visible;
  }
}

.bank-credit-table td {
  min-width: 88px;
}
