@import '../project/variables';
@import '../bootstrap/variables';


add-edit-bill .glyphicon-calendar {
  top: 17px;
}

.margin-right-sm {
  margin-right: $margin-xs !important;
}

.margin-top-xs-xs {
  @media (max-width: $screen-xs-max) {
    margin-top: $margin-xs;
  }
}

.add-control {
  @media (max-width: $screen-xs-max) {
    padding-right: $padding-sm;
  }
}

.form-control.mod-read-only-block {
  width: auto;
  height: auto;
  margin-right: $margin-xs;
}

.text-left-xxs {
  @media (max-width: $screen-xxs-max) {
    text-align: left;
  }
}

.hidden-xxs {
  @media (max-width: $screen-xxs-max) {
    display: none;
  }
}

.visible-xxs {
  @media (min-width: $screen-xs-min) {
    display: none;
  }
}

.remove-detail-btn {
  position: absolute;
}

state-picker .col-sm-4 {
  width: 100% !important;  // temp hack, while add / edit vendor page is not confirmed
}
