@import '../project/variables';
@import '../bootstrap/variables';


add-edit-bill {
  .glyphicon-calendar {
    top: 17px;
  }
}

.margin-right-sm {
  margin-right: $margin-xs !important;
}

.add-control {
  @media (max-width: $screen-xs-max) {
    padding-right: $padding-sm;
  }
}

.form-control.mod-read-only-block {
  width: auto;
  height: auto;
  margin-right: $margin-xs;
}

.text-left-xxs {
  @media (max-width: $screen-xxs-max) {
    text-align: left;
  }
}

.hidden-xxs {
  @media (max-width: $screen-xxs-max) {
    display: none;
  }
}

.visible-xxs {
  @media (min-width: $screen-xs-min) {
    display: none;
  }
}

.remove-detail-btn {
  position: absolute;
}

.has-error .form-control[disabled] {
  border-color: $grapefruit-dark;
}

state-picker .col-sm-4 {
  width: 100% !important;  // temp hack, while add / edit vendor page is not confirmed
}

.btn-group-justified {
  .btn-primary {
    border-color: $brand-primary !important;
  }

  .btn-default {
    color: $brand-primary;
    border-color: $brand-primary !important;
  }
}

actions-selector, settings-selector {
  .custom-selector {
    .glyphicon {
      font-size: 20px;
    }

    &__options {
      right: 0;
      width: 260px;
      padding-bottom: 0;
    }

    &__btn {
      text-align: center
    }
  }
}

.modal.mod-over-alert {
  z-index: $alert-z-index + 1;
}

settings-selector .custom-selector__btn {
  @media (max-width: $screen-xs-max) {
    padding-right: 0;
    padding-left: 0;
    background: none;

    &:hover,
    &:focus {
      background: $mediumgray-light;
    }
  }
}
