@import '../project/variables';
@import '../project/utils';
@import '../bootstrap/variables';

%report-table-column {
  // should fit $xxx,xxx.xx and do not overflow container
  // on medium and large screens
  padding-left: 22px;
  min-width: 100px;

  @media (max-width: $screen-md-max) {
    padding-left: 3px;
    min-width: 98px;
  }
}

.report-table {
    thead {
      border-bottom: 1px solid $table-border-color;
    }

    td {
      padding: $report-table-cell-padding;
      @extend %report-table-column;
    }

    td, th, b {
      white-space: nowrap;
    }

    // transactions table only
    &.expanded{
        /*im ugly and i know it*/
        /*adding a border to emulate padding when table goes wider than the screen*/
        border-right:40px solid transparent;
        border-collapse: separate;
    }

    .fix-first-column {
      width: $fix-column-width + 1 !important;      //+1 fix white line that separate first column and data
    }

    &.mod-panel {
      width: 100%;

      .fix-first-column {
        padding-left: 15px;  // report panel padding
      }
    }
}

.panel-content {
  padding: 15px;
}

.panel-heading {
  background-color: $lightgray-dark;
  border-bottom-color: $lightgray-dark;
}


.table-overflow-wrapper {
  .ps-scrollbar-x-rail {
    top: 50px !important;
  }
}

.total-column {
  @extend %report-table-column;
}

.content-filter {

  // third-party, so everything is important here
  tags-input {
    min-width: 200px;

    @media (min-width: $screen-sm-min) {
      $content-height: $content-filter-height - 8;

      min-height: $content-filter-height;

      .input {
        height: $content-height !important;
      }

      .tag-item {
        height: $content-height !important;
        line-height: $content-height - 1 !important;
      }
    }

    @media (max-width: $screen-xs-max) {
      $content-height: $height-md - 8;

      margin-bottom: 10px;
      min-height: $height-md;

      .input {
        height: $content-height !important;
      }

      .tag-item {
        height: $content-height !important;
        line-height: $content-height - 1 !important;
      }
    }
  }

  .aside {
    left: 0px;

    .add-control {
      .form-control {
        height: 40px!important;
        margin-bottom: 10px;
      }
    }

    .custom-selector__btn{
      line-height:2.1;
    }
  }

  .am-slide-left {
    vertical-align: middle;
    display: inline-block;
  }

  .btn {
    &.mod-export {
      height: 29px;
      vertical-align: middle;
    }
  }
}

.custom-selector__btn,
.report-variant-selector {
  line-height:1.5;
  // centers inside
  padding: 3px 20px 4px 12px;
  height: $content-filter-height!important;
}

.panel-pie-chart {
  display: inline-block;
  width: 280px;
  height: 350px;
}

.panel-table-subheader {
  border-bottom: 2px solid $darkgray-dark;
  margin-bottom: 2px;
}

td {
  &.mod-positive {
    background-color: $alert-success-bg;
    color: $alert-success-text;
  }

  &.mod-negative {
    background-color: $alert-danger-bg;
    color: $alert-danger-text;
  }
}

.centrify-content {
  display: block;
  text-align: center;
}
