@import '../project/variables';
@import '../project/utils';
@import '../bootstrap/variables';

%report-table-column {
  // should fit $xxx,xxx.xx and do not overflow container
  // on medium and large screens
  padding-left: 22px;
  min-width: 100px;

  @media (max-width: $screen-md-max) {
    padding-left: 3px;
    min-width: 98px;
  }
}

.report-table {
    thead {
      border-bottom: 1px solid $table-border-color;
    }

    td {
      padding: $report-table-cell-padding;
      @extend %report-table-column;
    }

    td, th, b {
      white-space: nowrap;
    }

    // transactions table only
    &.expanded{
        /*im ugly and i know it*/
        /*adding a border to emulate padding when table goes wider than the screen*/
        border-right:40px solid transparent;
        border-collapse: separate;
    }

    .fix-first-column {
      width: $fix-column-width + 1 !important;      //+1 fix white line that separate first column and data
    }
}


.table-overflow-wrapper {
  .ps-scrollbar-x-rail {
    top: 50px !important;
  }
}

.total-column {
  @extend %report-table-column;
}

// Report Date Selector
// -----------------------

.custom-selector {
  position: relative;

  &__btn {
    @include custom-selector();
  }

  &__options {
    border: 1px solid $mediumgray-dark;
    box-shadow: 0 1px 1px $mediumgray-dark;
    position: absolute;
    z-index: 900;
    background-color: $white;
    width: 300px;
    min-width: 100%;
    padding-bottom: 5px;
    @media (max-width: $screen-xs-min) {
      width: 100%;
    }
  }

  &__option {
    cursor: pointer;
    display: block;
    padding: 5px 5px 5px 10px;
    min-height: 1.2em;
    border-bottom: 1px solid $gray-lighter;

    &:hover {
      color: $white;
      background-color: $brand-primary;
    }
  }

  .datepicker {
    width: 250px !important
  }

  .add-icon{
    >.glyphicon{
      position: absolute;
      padding: 13px 5px;
      right: 15px;
    }
  }
  .calendar-holder {
      padding: 5px 5px 5px 10px;
      &__item {
        padding-left: 0;
        padding-right: 5px;
        @media (max-width: $screen-xs-min) {
          margin-bottom: 10px;
        }
      }
      .calendar-input {
        padding-left: 6px;
      }
  }
}

.content-filter {
  .custom-selector__btn{
    line-height:1.5;
    // centers inside
    padding: 3px 20px 4px 12px;
    height: $content-filter-height!important;
  }
  .icon-export {
    width: 24px;
    height: 29px;
    margin-left: 15px;
  }
  .icon-pdf {
    background: url(#{$images-path}/icon-pdf.png) no-repeat;
  }
  .icon-excel {
    background: url(#{$images-path}/icon-excel.png) no-repeat;    
  }
}
