@import '../project/variables';
@import '../bootstrap/variables';

// Daily Summary
.dst-categories {
  border-top: 2px solid #ddd;
  margin-top: 24px;

  p,
  strong {
    word-wrap: break-word;
  }

  p {
    margin-bottom: 0;
  }

  &__subcategory {
      line-height: 30px;
  }

  &__add-cat {
    margin-top: 30px;
  }

  &__empty {
    height: 40px;
    &:last-child {
      display: none;
    }
  }

  input {
    font-size: 95% !important;
  }

  .add-control {
    label {
      margin-bottom: 0;
    }

    .checkbox {
      position:relative;
      top:0;
      height:auto;
      display: inline-block;
      margin: 0;
    }
  }

}


// Menu
.item-details-form {
  .alert-danger {
    position: relative;
    top: 0;
    margin-right:5px !important;
    margin-bottom: 10px !important;
    @media (max-width:$screen-xs-max){
      margin-right: 0 !important;
    }
  }
}
