@import '../project/variables';
@import '../bootstrap/variables';

// Daily Summary
.dst-categories {
  border-top: 2px solid $table-border-color;
  margin-top: 24px;

  p,
  strong {
    word-wrap: break-word;
  }

  p {
    margin-bottom: 0;
  }

  &__category {
    line-height: $line-height-sm;
  }

  &__subcategory {
    line-height: $line-height-sm*.9; // make slightly smaller than category line height
  }

  input,
  select {
    font-size: 100% !important; // set font size the same as in wrapper element
  }

  .add-control {
    label {
      margin-bottom: 0;
    }

    .checkbox {
      position:relative;
      top:0;
      height:auto;
      display: inline-block;
      margin: 0;
    }
  }

}


// Menu
.item-details-form {
  .alert-danger {
    position: relative;
    top: 0;
    margin-right: $input-in-control-padding-right !important;
    margin-bottom: $margin-normal !important;

    @media (max-width:$screen-xs-max){
      margin-right: 0 !important;
    }
  }
}
