@import '../project/variables';
@import '../bootstrap/variables';

.edit-details {
  position:relative;
  content: " ";
  width:100%;

  &__btn {
    z-index:10;

    @media (min-width:$screen-md-min){
      position: absolute;
      line-height: $line-height-md;
      width: 20px;
      top: 0;
      right: -20px;
      padding-left: 10px;
      font-size: 9px;
      color: $brand-primary;
    }

    @media (max-width:$screen-sm-max){
      width:100%;
      margin: $margin-normal 0;
    }
  }

  @media (max-width:$screen-sm-max){
    margin-bottom: $margin-normal;
  }
}

.transactions-page {
  svg:not(:root) {
    overflow: visible !important;
  }
}

.similar {
  &__body .transactions-list {
    // make borders fit the left table
    margin-top: 23px;
  }
  &__header {
    padding-bottom: 7px;
  }
}

.wide-modal .modal-dialog {
  width: auto !important;
  max-width: 860px;
  padding-left: 0;
  padding-right: 0;
}

.show-ellipsed:hover {
  .overflow-ellipsis {
    overflow: inherit;
    white-space: pre-line;
    text-overflow: clip;
    word-wrap: break-word;
  }
}

.items-table__row {
  &--transactions {
    padding: 0 !important;

    > div {
      padding: $items-table-padding 0;
    }

    // hack to make consistent wisth for transactions list
    @media (max-width: $screen-md-max) {
      > .col-xs-11 {
        height: $height-lg - 1;
      }
    }
  }

  &.transaction-in-edit {
    padding-top: 5px !important;
    padding-bottom: 5px !important;
    background-color: $white !important;

    &:hover {
      background-color: $white !important;
    }

    > div {
      padding: 0 !important;
    }
  }

  // merge transactions
  // ----------------------
  &.active {
    background-color: $brand-primary;
    color: $white;

    &:hover {
      background-color: $brand-primary !important;
      color: $white;
    }
  }
}

.add-edit-transaction {
  .ng-invalid {
    border-width: 1px !important;
    border-color: $ios-notification !important;  // $message-danger !important;
  }

  .glyphicon-calendar {
    right: 0 !important;
  }
}

// Transaction Status
// ----------------------

.status-holder {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  margin-top: 5px;
  margin-bottom: 8px;
  height: 22px;

  @media (max-width: $screen-sm-max) {
    margin-top: 8px;
  }
}

.icon-circle {
  display: inline-block;
  width: 18px;
  height: 18px;

  @media (max-width:$screen-xs-max) {
    height: 15px;
    width: 15px;
  }

  &--unchecked svg {
    fill: $ios-unchecked;
    width: 22px;
    height: 22px;
    vertical-align: middle;

    @media (max-width:$screen-xs-max) {
      width: 19px;
      height: 19px;
    }
  }

  &--checked svg {
    fill: $brand-primary;
    width: 22px;
    height: 22px;

    @media (max-width:$screen-xs-max) {
      width: 19px;
      height: 19px;
    }
  }

  &--info svg {
    fill: $ios-notification;
    width: 18px;
    height: 18px;
    margin: 2px;

    @media (max-width:$screen-xs-max) {
      width: 15px;
      height: 15px;
    }

    circle {
      stroke: $ios-notification;
    }
  }


  &--notify {
    border: 1px solid $ios-notification;
    background-color: $ios-notification;
    color: $white;
    border-radius: 50%;
    vertical-align: top;
    line-height: 17px;
    text-align: center;
    font-size: 10px;

    @media (max-width:$screen-xs-max) {
      font-size: 8px;
      line-height: 1.7em;
    }
  }
}

@media (min-width:$screen-sm-min) {
    .calendar-read-padding {
        padding-left: 5px !important;
    }
}
