@import 'variables';
@import 'bootstrap/variables';
@import 'components/datepicker';

.modal {
    .b-delete-icon {
        display: inline-block;
        visibility: visible;
    }
}

.waste-items-list {
    @media (max-width:$screen-xs-max){
        font-size:11px;
    }

    .b-delete-icon {
        position: absolute;
        top: 0;
        right: -20px;
        line-height: 30px;
        cursor: pointer;
        display: inline-block;
        @media (max-width: $screen-xs-max) {
            right: -15px;
            line-height: 26px;
        }
        &:hover {
            display: inline-block;
            visibility:visible;
            cursor: pointer;
        }
    }

    .waste-item {
        border-bottom: 1px solid $table-border-color;
        cursor: pointer;
        padding-top:5px;
        padding-bottom:5px;
        &:hover {
            background: $table-bg-hover;
        }
    }
}

.add-icon {
    position: relative;
    >.glyphicon{
        position:absolute;
        padding: 12px 15px;
        right:10px;
    }
}

@media (min-width:$screen-sm-min){
    .calendar-input {
        padding-left:5px;
        padding-right:5px;
    }
}


// This is ok
.form-info {
    padding: 10px 0px 10px 15px;
    @media (min-width:$screen-md-min){
        padding-left:5px;
    }
}
