.btn-spinner {
  position: relative;

  &.is-in-progress {
    color: transparent;
  }

  svg {
    width: $spinner-sm;
    height: 100%;
    margin: auto;
  }

  &.btn-primary svg {
    fill: $spinner-light-color;
    stroke: $spinner-light-color;  
  }

  &.btn-default svg {
    fill: $spinner-dark-color;
    stroke: $spinner-dark-stroke-color;
  }
}
