.content-filter {
  margin-top: $margin-xs;
  margin-bottom: $margin-normal;
  padding: $content-filter-padding 0;
  width: 100%;
  border-top: 1px solid $table-border-color;
  border-bottom: 1px solid $table-border-color;

  &.expand-wrapper {
    a {
      height: $content-filter-height !important;
    }
  }

  .add-control {
    margin-bottom: 0;
  }

  .filter-control {
    height: $content-filter-height;
  }

  .glyphicon-menu-left {
    font-size: 12px;
  }

  select {
    // centers text inside
    height: $content-filter-height;
    padding: 3px 15px 4px 10px;
  }

  .week-dropdown,
  .dropdown-menu {
    width: 160px !important;
  }

  .week-dropdown {
    @media (max-width: $screen-xs-max) {
      width: 140px !important;
    }
  }

  .day-dropdown{
      width: 120px !important;
  }
}

.week-dropdown,
.day-dropdown,
.account-dropdown {
  text-align: left;
  position: relative;
  height: $content-filter-height;

  .caret {
    position: absolute;
    right: 10px;
    top: 47%;
  }

  @media (max-width: $screen-xxs-max) {
    max-width: 133px;
  }
}

.above-filter-link {
  display: inline-block;
  margin-top: $margin-normal;
}
