.b-delete-icon {
  display: inline-block;
}

.inline-table__row:hover,
.inline-table__row.as-hovered,
.modal {
  .b-delete-icon {
    display: inline-block;
    visibility: visible;
  }
}

.touch {
  .b-delete-icon {
    visibility: visible;
  }
}
