
.icon-export {
  width: 24px;
  height: 29px;
}

.icon-pdf {
  background: url(#{$images-path}/icon-pdf.png) no-repeat;
}

.icon-excel {
  background: url(#{$images-path}/icon-excel.png) no-repeat;
}
