.header {
  font-weight:bold;
  border-bottom:2px solid $table-border-color;
  padding: 8px 8px 8px 0px;
}

.items-table {

  &.--sm-at-xs {
    @media (max-width:$screen-xs-max){
       font-size:11px;
    }
  }

  &__top {
    border-top: 1px solid #ddd;
  }

  &__row {
    border-bottom: 1px solid #ddd;
    cursor: pointer;
    padding: 8px 8px 8px 0px;
    position: relative;

    &:hover,
    &.as-hovered {
      background-color: $table-bg-hover;
    }

    &.--edit {
      border: 2px solid $brand-primary !important;
      border-radius: 4px;
      margin-bottom: -1px;
      margin-top: -1px;
      padding: 2px;
    }
  }

  &__input {
    $row-column-padding: 15px;

    padding-left: $padding-sm;

    @media (max-width: $screen-sm-max) {
      margin-top: $margin-normal;
      padding-left:0;
    }

    input, select {
      padding-left: $row-column-padding - $padding-sm - 1px;
    }
  }

  .add-control {
    @media (min-width:$screen-sm-min) {
      margin-bottom: 0;
    }
  }

  // aaaa, we should remove it someday
  [class*="col-"], td {
      padding-right:0px;
      &:first-child{
          padding-left:0px;
      }
  }
}

div.items-table__row {
  @include clearfix();
  clear: both;
  float: none;
}

// Update Icon
// ----------------------------
// visible to the right after inline edit
.same-update-icon {
  color: $brand-success;
  position: absolute;
  right: -25px;
}

