.navbar-brand {
    height: $main-navigation-height;
    width: $main-navigation-height;

    img {
        margin: -3px 0 0;
    }
}

.navbar-right {
    margin-right: 0;
}

.btn-shaded {
    background-color: transparent;
    border-color: $navbar-inverse-color;  // #5c5c5c;
    color: $navbar-inverse-color;

    .caret {
        border-top-color: $navbar-inverse-color;
        border-bottom-color: $navbar-inverse-color;
    }

    &:hover,
    &:focus {
        color: $white;

        .caret {
            border-top-color: $white;
            border-bottom-color: $white;
        }
    }
}
