@import '../utils';

$color-primary: #57a6db;
$gray-border: #ebebeb;
$gray-background: #f3f6f8;
$gray-text: #c4c9cc;

$font-size-sm: 12px;
$nav-link-height: 19px;
$nav-link-padding-vertical: ($main-navigation-height - $nav-link-height - 1) / 2;  // -1 for border
$nav-link-padding-horizontal: 25px;
$nav-link-padding-horizontal-sm: 20px;
$nav-link-glyphicon-size: 14px;
$subnav-link-padding-vertical: 6px; // aside
$subnav-link-padding-left-xs: 50px; // aside
$subnav-link-padding-xs: 10px;
$animation-duration: .6s;

@function make-click-color($color) {
  @return transparentize(darken($color, 10%), .5);
}

%nav-wrapper {
  font-size: $font-size-sm;
  font-weight: 600;

  text-transform: uppercase;

  background-color: $gray-background;
}

%nav-link {
  transition: all $animation-duration;

  color: $gray-text;

  &:hover,
  &:focus {
    @extend %nav-link-active;
  }
  // center glyphicon between link and left border
  .glyphicon {
    font-size: $nav-link-glyphicon-size;

    width: $nav-link-padding-horizontal + $nav-link-glyphicon-size/2;
    height: $nav-link-height;
    margin-left: -$nav-link-glyphicon-size/2;

    text-align: left;
    vertical-align: middle;
    // @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
    //   width: $nav-link-padding-horizontal-sm + $nav-link-glyphicon-size/2;
    // }
  }
  // click animation
  &.mod-click {
    color: make-click-color($white);
  }
  // click animation again
  &::after {
    background: make-click-color($color-primary);
  }
}

%nav-link-active {
  color: $white;
  background-color: $color-primary;
}

.navbar-header {
  @extend %nav-wrapper;

  float: none;

  border-bottom: 1px solid $gray-border;
  @media (max-width: $screen-xs-max) {
    margin-bottom: 0;

    border-bottom: none;
    background-color: transparentize($white, .25);
  }
}

.navbar-nav {
  // link wrapper
  > li {
    border-right: 1px solid $gray-border;
    @media (max-width: $screen-xs-max) {
      border-right: none;
    }

    &:last-child {
      border-right: none;
    }
    // links
    > a {
      @extend %nav-link;

      line-height: $nav-link-height;

      &.mod-has-active,
      &.mod-active {
        @media (min-width: $screen-sm-min) {
          border-bottom: 3px solid $color-primary;
        }
      }

      &.mod-active {
        @media (max-width: $screen-xs-max) {
          border-right: 3px solid $color-primary;
        }
      }
      @media (min-width: $screen-sm-min) {
        height: $nav-link-height + $nav-link-padding-vertical*2;
        padding: $nav-link-padding-vertical $nav-link-padding-horizontal;
      }
      @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
        padding-right: $nav-link-padding-horizontal-sm;
        // not enough space for stores selector
        padding-left: $nav-link-padding-horizontal-sm;
      }
      @media (max-width: $screen-xs-max) {
        padding: $subnav-link-padding-vertical $nav-link-padding-horizontal;
      }
    }

    &.open > a {

      &:hover {
        @extend %nav-link-active;
      }

      &,
      &:focus {
        @extend %nav-link-active;
        @media (max-width: $screen-xs-max) {
          color: $gray-text;
          background-color: transparent;
        }
      }
    }
  }
}

// subnav
.navbar {
  // wrapper style and animation
  .dropdown-menu {
    @extend %nav-wrapper;

    display: block;
    overflow: hidden;

    max-height: 0;
    padding: 0;

    transition: all $animation-duration;

    opacity: 0;
    @media (max-width: $screen-xs-max) {
      position: static;

      float: none;

      // fix safari mobile transition
      transition: max-height 0s;
      max-height: none !important;

      margin: 0;
      padding-top: $subnav-link-padding-xs;
      padding-bottom: $subnav-link-padding-xs;

      opacity: 1;
      box-shadow: none;
    }
    // links
    > li > a {
      @extend %nav-link;

      line-height: $nav-link-height;

      padding-top: $subnav-link-padding-vertical;
      padding-bottom: $subnav-link-padding-vertical;

      &.mod-active {
        @media (max-width: $screen-xs-max) {
          border-right: 3px solid $color-primary;
        }
      }
      @media (max-width: $screen-xs-max) {
        padding-left: $subnav-link-padding-left-xs;
      }
    }
  }
  // animation
  .dropdown:hover .dropdown-menu,
  .dropdown.open .dropdown-menu {
    max-height: 300px;

    opacity: 1;
  }
  @media (max-width: $screen-xs-max) {
    border: none;
    // no carets on mobile
    .caret {
      display: none;
    }
  }
}

.no-border {
  border: none !important;
}

// store button
select.btn-shaded {
  $height: $nav-link-height*2;

  @extend %nav-link;

  height: $height;

  border-color: $gray-border;
  background-color: transparent;
  background-image: none !important;
  @media (min-width: $screen-sm-min) {
    max-width: 110px;  // otherwise store will go to the second row
    margin-top: ($main-navigation-height - $height - 1) / 2;
    margin-bottom: ($main-navigation-height - $height - 1) / 2;
  }
  @media (max-width: $screen-xs-max) {
    margin-top: ($main-navigation-height-mobile - $height - 1) / 2;
    margin-bottom: ($main-navigation-height-mobile - $height - 1) / 2;
    margin-left: $subnav-link-padding-left-xs;
  }
  // caret for select that can change color and does not break animation
  + .caret {
    position: absolute;
    top: $main-navigation-height / 2;
    right: 5px;

    color: $gray-text;
  }

  &:hover,
  &:focus {

    + .caret {
      color: $white;
    }
  }

  option {
    color: $black;
    background: $white;
  }
}

// mobile specific styles
@media (max-width: $screen-xs-max) {

  .navbar-right {

    .dropdown-menu > li > a {

      &,
      &:hover {
        padding-left: $nav-link-padding-horizontal;  // make it look like not from dropdown
      }
    }
  }

  /*
    visible on xs only
  */
  .navbar-title {
    $font-size: 19px;
    $padding-vertical: ($main-navigation-height-mobile - $font-size) / 2;
    $toggle-button-size: 46px;

    font-size: $font-size;
    line-height: .9;

    margin: 0;
    padding: $padding-vertical $toggle-button-size $padding-vertical 0;

    text-align: center;
    text-transform: capitalize;
  }

  .navbar-toggle {
    $icon-height: 14px;
    $button-padding: ($main-navigation-height-mobile - $icon-height) / 2;
    $button-size: $button-padding*2 + $icon-height;

    float: left;

    margin: 0;
    padding: $button-padding;  // testing

    border: none;

    .icon-bar {
      background-color: $gray-text;
    }
    // click animation
    &[animate-click]::after {
      $size: $button-size;  // testing

      top: 50%;
      left: 50%;

      width: $size;
      height: $size;
      margin-top: -$size / 2;
      margin-left: -$size / 2;

      border-radius: 50%;
      background: make-click-color($white);
    }
  }
}

.aside.mod-navbar {
  background-color: $gray-background;

  .aside-dialog {
    background-color: $gray-background;

    .aside-body {
      padding: 0;
    }
  }
}
