@import '../utils';

.navbar-brand {
    height: $main-navigation-height;
    width: $main-navigation-height;

    img {
        margin: -3px 0 0;
    }
}

.navbar-right {
    margin-right: 0;
}

.btn-shaded {
    background-color: transparent;
    border-color: $navbar-inverse-color;  // #5c5c5c;
    color: $navbar-inverse-color;

    &:hover {
        background-color: $brand-saturated;
        color: $white;
    }
    &:focus {
        background-color: transparent;
        color: $navbar-inverse-color;
    }

    @at-root select#{&} {
        background: $arrow-down-gray;

        &:hover {
            background: $arrow-down-white;
            background-color: $brand-saturated;
            color: $white;
        }
        &:focus {
            background: $arrow-down-gray;
            color: $navbar-inverse-color;
            border-color: $navbar-inverse-color;
        }
        option {
            background: $white;
            color: $black;
        }
    }        
}
