.drag-drop {
  display: inline-block;
  min-width: $drag-icon-size;
}

.transactions-sidebar {
  padding-left: 50px !important;
}

.nodata {
  width: 100%;
  clear: both;
  margin-top: 30px;

  b {
    display: block;
    font-size: $font-size-large;
    text-align: center;
  }
}
