.week-dropdown,
.day-dropdown,
.account-dropdown {
  text-align: left;
  position:relative;
  height:29px;

  .caret {
    position: absolute;
    right: 10px;
    top: 47%;
  }
}

.account-dropdown {
  padding: 3px 10px 2px 5px;
}

.drag-drop {
  display: inline-block;
  min-width: 20px;
}

.expand-wrapper {
  .header {
    font-weight: normal;
  }
  .content-filter {
    height: 39px;
  }
}

.transactions-sidebar {
  padding-left: 50px !important;
}

.nodata {
  width: 100%;
  clear: both;
  margin-top: 30px;

  b {
    display: block;
    font-size: 18px;
    text-align: center;
  }
}
