.numboard {
  height: calc(100% - #{$main-navigation-height});

  @media (orientation: landscape) {
    height: 100%;
  }

  &__wrapper {
    padding: $numboard-wrapper-padding;
    position: fixed;
    z-index: 10000;
    top: 0;
    background-color: $white;
    height: 100%;
  }

  &__title {
    @media (orientation: landscape) {
      position: absolute;
      right: $numboard-wrapper-padding;
      top: 0;
      width: calc(100% - #{$numboard-wrapper-padding*2});
      text-align: right;
    }
  }

  &__input {
    margin: $numboard-input-margin-max 0;
    @media (max-height: $landscape-height-max) {
      margin-top: $numboard-input-margin-min;
      margin-bottom: $numboard-input-margin-min;
    }
  }

  &__actions {
    margin-top: $action-buttons-margin;
  }

  &__keyboard {
    height: calc(100% - #{$action-buttons-margin*2 + $action-buttons-height});
    min-height: 120px;

    @media (orientation: landscape) {
      height: calc(100% - #{$action-buttons-margin + $action-buttons-height});
    }

    &__wrapper {
      height: calc(100% - #{$numboard-input-margin-max*2 + $numboard-input-height});
      @media (max-height: $landscape-height-max) {
        height: calc(100% - #{$numboard-input-margin-min*2 + $numboard-input-height});
      }
    }

    .btn {
      line-height: 0;
      font-size: 16px;
      height: 100%;
      position: absolute;
      top: 0;
      border-radius: 0 !important;
      border-top: none;
      border-left: none;

      &--dot {
        font-size: 18px;
        font-weight: 600;
        line-height: 0;
      }
    }

    > .btn-group {
      height: 25%;
    }

    .btn-group .btn-group {
      &:last-child .btn {
        border-right: none;
      }
    }

    .btn-group-justified {
      &:last-child .btn {
        border-bottom: none;
      }
    }
  }
}

.glyphicons-delete {
  background: url(#{$images-path}/glyphicons-257-delete.png) no-repeat center center transparent;
}

