.sorticon {
  font-size: $sorticon-size;
  top: $sorticon-margin;
  right: -#{$sorticon-size} - 1;
  position: absolute;

  &__wrapper {
    font-size: $sorticon-size + $sorticon-margin;
    position: relative;
  }
}
