.spinner {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  line-height: 1.1em;

  fill: $spinner-dark-color;
  stroke: $spinner-dark-stroke-color;
 
  &.mod-xs {
    width: $spinner-xs;
  }
 
  &.mod-sm {
    width: $spinner-sm;
  }

  &.mod-md{
    width: $spinner-md;
  }
}
