.category-head {
  background-color: $table-bg-hover;
  border-top: 1px solid $table-border-color;
  border-bottom: 1px solid $table-border-color; 
}

.break-td {
  height: $margin-max;
}

.empty-footer {
  height: 0 !important;
  padding: 0 !important;
  margin: 0 !important;
}
