.inline-table {

  &__row {
      clear:both;
      float:none;
      &div:before {
          content: " ";
          display: table;
      }
      &:after {
          content: " ";
          display: table;
          clear:both;
      }
    border-bottom: 1px solid #ddd;
      &:first-child{
        border-top: 1px solid #ddd;
      }
    cursor: pointer;
    padding: 8px 8px 8px 0px;
    .b-delete-icon{
       display: inline-block;
    }

    &:hover {
      background-color: $table-bg-hover;

      .b-delete-icon{
        display: inline-block;
        visibility:visible;
      }
    }
  }

  .add-control {
    @media (min-width:$screen-sm-min) {
      margin-bottom: 0;
    }
  }

  [class*="col-"], td {
      padding-right:0px;
      &:first-child{
          padding-left:0px;
      }
  }
}

.no-margin {
  margin: 0!important;
}

.add-edit.edit,
.__edit {
  border: 2px solid $brand-primary !important;
  border-radius: 4px;
  margin-bottom: -1px;
  margin-top: -1px;
  padding: 2px;
  .checkbox__margined{
      margin-top:12px!important;
  }
}


.no-padding-left-xs {
    @media (max-width:$screen-xs-min){
        padding-left:0;
    }
}

.waste-item {

  &.active {
    background-color: $brand-primary;
    color: #fff;

    &:hover {
      background-color: $brand-primary !important;
      color: #fff;
    }
  }

  &.warning {
    background-color: $brand-warning;

    &:hover {
      background-color: $brand-warning !important;
    }
  }
}
