// Here go all the custom styles that are not related to any component

// TOC:
// * Scaffolding
// * Display & Positioning
// * Box (height, padding, margin, borders, outline)
// * Text
// * Inputs
// * Buttons
// * Grid
// * Misc


// Scaffolding
// --------------------------------------------------

body {
  padding-top: $main-navigation-height;
  padding-bottom: 100px;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
}

// page title
h3 {
  font-size: $page-title-font-size;
}

// section blue title
h5 {
  font-size: $section-title-font-size;
  color: $brand-primary;
  text-transform: uppercase;
  margin-top: $page-title-margin-top;

  &:first-child {
    margin-top: $margin-normal;
  }
}

label {
  font-weight:normal;
}

input[type="text"],
input[type="number"] {
  -webkit-appearance: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  /*margin: 0; [> <-- Apparently some margin are still there even though it's hidden <]*/
}

input[type=number] {
  -moz-appearance:textfield;
}

a:hover {
  cursor: pointer;
}

select::-ms-expand {
  display: none;
}

// Display & Positioning
// -----------------------------


.inline-block {
  display: inline-block;
}

.as-block {
  display: block;
}

.as-table {
  display: table;
  width: 100%;

  &__cell {
    display: table-cell;
  }

  &--inherit {
    table-layout: fixed;
  }
}

.as-flex {
  display: flex;
}

.visible-xs-inline-block {
  @media (min-width:$screen-sm-min) {
    display: inline-block;
  }
}

.hidden-sm-min {
  @media (max-width: $screen-sm-min) {
    display: none !important;
  }
}

.is-relative {
  position: relative;
}

.pull-left-sm {
  @media (min-width: $screen-sm-min) {
    float: left;
  }
}

.over {
  z-index:1;
  position: relative;
}

.visible {
  visibility: visible;
}

.u-abs-centered {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
}

.v-middle {
  vertical-align: middle;
  position: relative;
}

// Box
// -----------------------------

.height-sm {
  height: $height-sm !important;
}

.height-md {
  height: $height-md;
}

.height-lg {
  height: $height-lg;
}

.no-padding {
  padding: 0 !important;

  &-left {
    padding-left: 0 !important;

    &-xs {
      @media (max-width:$screen-xs-min){
        padding-left:0;
      }
    }

    &-sm {
      @media (max-width:$screen-sm-min){
        padding-left:0;
      }
    }
  }

  &-right {
    padding-right: 0 !important;
  }
}

.padding-right-sm {
  padding-right: $padding-sm !important;
}

select.padding-left-xs option,
.padding-left-xs {
  padding-left: 6px !important;
}

.no-margin {
  margin: 0!important;
}

.margin-top {

  &-md {
    margin-top: $margin-max;
  }

  &-sm {
    margin-top: $margin-normal;

    &-xs {
      @media (max-width:$screen-xs-max){
        margin-top: $margin-normal;
      }
    }

    &.alert-danger {
      margin-top: $margin-normal !important;
    }
  }

  &-xs {
    margin-top: $margin-xs;
  }
}

.margin-bottom {
  &-sm {
    margin-bottom: $margin-normal !important;
  }

  &-md {
    margin-bottom: $margin-md;
  }
}

.margin-left-xs {
  margin-left: $margin-xs;
}

.margin-left-sm {
  margin-left: $margin-normal;
}

.no-outline {
  &:focus {
    outline: none !important;
  }
}

// Text
// --------------------------

.bold {
  font-weight:bold;
}

.text-dark {
  color: $darkgray-dark !important;
}

.primary-text {
  color: $brand-primary;
}

.danger-text {
  color: $brand-danger;
}

.text-lowercase {
  text-transform: lowercase;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-capitalize {
  text-transform: capitalize;
}

.line-height-sm {
  line-height: $line-height-sm;
}

.line-height-md {
  line-height: $line-height-md;
}

.line-height-lg {
  line-height: $line-height-lg;
}

.break-word {
  word-wrap: break-word;
}

// Inputs
// --------------------------
.add-control {
  padding-left: 0;
  padding-right: $input-in-control-padding-right;
  margin-bottom: $margin-normal;

  button,
  input,
  div.form-control,
  select {
    height: $input-in-control-height;
  }

  @media (max-width: $screen-xs-max){
    padding-left: 0;
    padding-right: 0;
  }
}

.input-disabled {
  background-color: $gray-lighter;
}

.input-error {
  background-color: $alert-danger-bg;
}

.input-inactive {
  background-color: lighten($gray-base, 97.5%);
}

.editable {
  input {
    background-color: transparent;
    border: 0;
    box-sizing: border-box;
    outline: 0 !important;
    padding: 1px;
    text-align: right;
    width: 100%;

    &:focus {
      outline: 2px solid $brand-primary !important;
    }
  }
}

// Buttons
// --------------------------
.back-btn {
  display: inline-block;
  padding: 0 12px;
  font-weight: 600;
}

.btn-grey {
  background-color: $gray-lighter !important;
}

.btn-ghost-primary {
  $color: $brand-primary;
  $border: 1px solid $color;

  background-color: transparent;
  border: $border;
  color: $color;

  &:hover, &:focus, &:active, &.active {
    background-color: $white;
    border: $border;
    color: $color;
  }
}

.savebtn {
  width: 100%;
  text-align: center;
  text-decoration: none;
}

.control-buttons > div {
  padding-left: 2px;
  padding-right: 2px;

  &:first-child {
    padding-left: 0;
  }

  &:last-child {
    padding-right: 0;
  }

  button {
    width: 100%;
    // padding:2px;
  }
}

// Grid
// --------------------------
@media (max-width: $screen-xs-min) {
  @include make-grid(xxs);
}


// Misc
// --------------------------

.clearfix {
  clear: both;
  float: none;
}

.overflow-ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
};

.rtl {
  direction: rtl;
}

.pointer-hover:hover {
  cursor:pointer;
}

.container-constrained-sm {
  max-width: $container-constrained-sm;

  @media (min-width:$screen-sm-min) {
    width: $container-constrained-sm;
  }
}

.container-constrained-md {
  max-width: $container-constrained-md;
}

.custom-label {
  line-height: $line-height-sm;
  font-weight: 400;
}

.btn-file {
    position: relative;
    overflow: hidden;

  input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
  }
}
