.no-touch {
  .visible-hover {
    visibility: hidden;

    &__wrapper:hover,
    &__wrapper.as-hovered {
      .visible-hover {
        visibility: visible;
      }
    }
  }
}

.touch {
  .visible-touch {
    visibility: visible;
  }
}
