// Here go all the custom styles for different libraries we use
// except bootstrap


// Angular Strap
// =======================

// Aside
// -----------------------

@media (max-width: 991px) {
  .aside {
    min-width: 290px !important;
  }
}

.aside-body {
  @media (min-width: $screen-xs-min) {
    min-width: 350px;
  }
}

.aside-header {
  background-color: $white !important;

  .close {
    color: $gray-base !important;
    opacity: .2 !important;
    padding-top: 8px !important;
  }
}

.aside-title {
  color: $gray;
}


// Datepicker
// -----------------------

.datepicker.dropdown-menu {
    width: 250px;
    height: 290px !important;
    background-color: $white;
    border: 1px solid $gray-lighter;

    button {
        height: $input-in-control-height;
        outline: none;
        border: 1px solid;
        border-color: $white !important;
    }

    .dow {
        color: $text-muted;
        font-weight: 400;
    }

    .btn-link {
        border: 1px solid;
        border-color: $white !important;
        &:hover {
            background-color: $white;
            border: 1px solid $brand-primary;
            border-color: $brand-primary !important;
        }
    }

    tbody {
        height: 180px;
        button {
            padding: 6px;
        }
    }

    .btn-grey {
        &:hover,
        &.mod-hover {
            color: $brand-primary;
            border: 1px solid $brand-primary !important;
        }
    }

    .btn-primary {
        color: $white;
    }

    td, th {
        padding:1px;
    }
}

.datepicker {
    td, th {
        padding:1px;
    }
}

.typeahead {
    background-color: $white !important;
    border: 1px solid rgba(0, 0, 0, 0.175) !important;

    a {
        color: $gray !important;
        background-color: $white !important;

        &:hover {
            color: $white !important;
            background-color: $brand-primary !important;

            &.no-matches {
                color: $gray !important;
                background-color: $white !important;
            }
        }
    }
    li.active a {
        color: $white !important;
        background-color: $brand-primary !important;
    }

    &__group-header {
        padding-left: 20px;
        font-weight: 600;
        cursor: default;
    }
}

[ng-cloak] {
  display: none;
}
