// Here go all the custom styles for different libraries we use
// except bootstrap


// Angular Strap
// -----------------------

@media (max-width: 991px) {
  .aside {
    min-width: 290px !important;
  }
}

.aside-body {
  @media (min-width: $screen-xs-min) {
    min-width: 350px;
  }
}

.aside-header {
  background-color: #fff !important;

  .close {
    color: rgb(0,0,0) !important;
    opacity: .2 !important;
    padding-top: 8px !important;
  }
}

.aside-title {
  color: $gray;
}
