@import 'data-uri-images';
@import 'variables';
@import '../bootstrap/variables';

$arrow-possition: no-repeat right 8px center;

$arrow-down: $img-arrow-down $arrow-possition $white;
$arrow-down-gray: $img-arrow-down-gray $arrow-possition transparent;
$arrow-down-white: $img-arrow-down-white $arrow-possition transparent;

@mixin custom-selector() {
  background: $arrow-down;
  position: relative;
  padding-bottom: 3px;
  padding-right: $padding-md;
  text-align: left;

  &:active,
  &:focus {
    background: $arrow-down;
    color: $black;
    border-radius: 2px;
  }
  &.is-focused {
    border-color: $brand-primary !important;
  }
}

%btn-ghost-primary {
  $color: $brand-primary;
  $border: 1px solid $color;

  background-color: transparent;
  border: $border;
  color: $color;

  &:hover, &:focus, &:active, &.active {
    background-color: $white;
    border: $border;
    color: $color;
  }
}
