// Paths
$images-path: /assets/img;

// Colors
$middle-gray-color:          #ccc;
$gray-lighter-custom:        lighten($middle-gray-color, 18%);

$border-gray-color:          $middle-gray-color;
$fix-column-width:           177px;

$margin-normal: 12px;
$margin-max: 36px;

$padding-sm: 7px;
$margin-normal: 12px;

$line-height-sm: 33px;
$line-height-md: 40px;
