@import 'project/variables';

/*Remove the vertical gridlines from the vertical charts and the horizontal gridlines from the horizontal charts*/
.nv-x .tick line {
    display: none;
}

.chart {
    margin-top: $chart-indent-md;
    margin-bottom: $chart-indent-xs;
}

.charts-control{
    padding:$chart-indent-md*2 0 $chart-indent-xs*2;
    .dropdown{
        float:left;
        padding-right: $chart-indent-sm;
    }
    .input-group {
      display: block;
    }

}

h5{
    @media (min-width:$screen-sm-min){
        margin-left:$chart-margin;
    }
}

.chart-description{
    font-size: $chart-base-font-size;
    @media (min-width:$screen-sm-min){
        margin-left:$chart-margin;
    }
}

#transactionsChartHolder {
    max-width: $chart-base-width + 400px;
    margin: 0 auto;
    position: relative;

  svg{
    width: $chart-base-width + 100px;
    display: inline-block;
  }

  ul{
    position: relative;
    width: $chart-base-width;
    display: inline-block;
  }
}

#transactionsChart {
  ul {
    list-style-type: none;
    padding-left: $chart-indent-sm + 5;
  }

  .tooltip {
    pointer-events: none;
  }
  .legendItem {

    &.total{
      font-weight: bold;
    }

    .value {
      position: absolute;
      right: 0;
    }

    .identity {
      position: absolute;
    }

    .colored {
      display: inline-block;
      width: 7px;
      height: 18px;
      padding-top: 3px;
      margin-right: $chart-indent-sm;
      -moz-border-radius: $chart-border-radius;
      -webkit-border-radius: $chart-border-radius;
      border-radius: $chart-border-radius;
    }
  }
}


.bar {
  fill: steelblue;
  fill-opacity: 0.8;

  &:hover {
    fill-opacity: 1;
  }
}

.axis {
  path,
  line {
    fill: none;
    stroke: $black;
    shape-rendering: crispEdges;
  }
}

.axis path {
  display: none;
}
.y.axis line {
  stroke:none;
}
.x.axis line {
  stroke:none;
}
.first line {
  stroke: $black;
  stroke-width: 1px;
}
.axis .minor line {
  stroke: $legend-border-color;
}
.axis .tick text {
  text-anchor: end;
}
.multi-bar-chart {
  position: relative !important;
  svg {
    position: relative;
  }
}
.nvtooltip {
    position: absolute;
    background-color: rgba(255,255,255,1.0);
    color: rgba(0,0,0,1.0);
    padding: 1px;
    border: 1px solid rgba(0,0,0,.2);
    z-index: 10000;
    display: block;

    font-family: Arial;
    font-size: $chart-base-font-size + 1;
    text-align: left;
    pointer-events: none;

    white-space: nowrap;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    opacity: 0 !important;

    &.active {
      opacity: 1 !important;
    }
}

.nvtooltip {
    background: rgba(255,255,255, 0.8);
    border: 1px solid rgba(0,0,0,0.5);
    border-radius: $chart-border-radius * 2;
}

/*Give tooltips that old fade in transition by
    putting a "with-transitions" class on the container div.
*/
.nvtooltip.with-transitions, .with-transitions .nvtooltip {
    transition: opacity 50ms linear;
    -moz-transition: opacity 50ms linear;
    -webkit-transition: opacity 50ms linear;

    transition-delay: 200ms;
    -moz-transition-delay: 200ms;
    -webkit-transition-delay: 200ms;
}

.nvtooltip {
  &.x-nvtooltip,
  &.y-nvtooltip {
    padding: $chart-indent-sm - 2px;
  }
  h3 {
    margin: 0;
    padding: 4px 14px;
    line-height: 18px;
    font-weight: normal;
    background-color: rgba(247,247,247,0.75);
    color: rgba(0,0,0,1.0);
    text-align: center;

    border-bottom: 1px solid $gray-border;

    -webkit-border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    border-radius: 1px 5px 0 0;
  }

  p {
    margin: 0;
    padding: 5px 14px;
    text-align: center;
  }

  span {
    display: inline-block;
    margin: 2px 0;
  }

  table {
    margin: 6px;
    border-spacing:0;

    td {
      padding: 2px 9px 2px 0;
      vertical-align: middle;

      &.key {
        font-weight:normal;
      }

      &.value {
        text-align: right;
        font-weight: bold;
      }

      &.legend-color-guide div {
        width: $chart-indent-sm - 2;
        height: $chart-indent-sm - 2;
        vertical-align: middle;
      }

      &.legend-color-guide div {
        width: $chart-indent-sm + 2;
        height: $chart-indent-sm + 2;
        border: 1px solid $modal-content-fallback-border-color;
      }
    }

    tr.highlight td {
      padding: 1px 9px 1px 0;
      border-bottom-style: solid;
      border-bottom-width: 1px;
      border-top-style: solid;
      border-top-width: 1px;
    }
  }

  .footer {
    padding: 3px;
    text-align: center;
  }
}

.nvtooltip-pending-removal {
    pointer-events: none;
    display: none;
}

.text-center--indent {
  text-indent: calc(50% - 15px);
}

@-moz-document url-prefix() {
  .text-center--indent {
     text-indent: calc(25% - 12px) !important;
  }
}
